.description {
  position: relative;
}

.description_img {
  width: 500px;
  height: 780px;
  position: absolute;
  top: 15px;
}

@media (max-width: 1199px) {
  .description_img {
    left: -15%;
  }
}

@media (max-width: 991px) {
  .description_img {
    height: 520px;
    left: -22%;
    top: 35px;
  }
}
/*# sourceMappingURL=decription.css.map */