@import "../vars/vars.scss";
@import "../../include-media";

.description {
  position: relative;
}

.description_img {
  width: 500px;
  height: 780px;
  position: absolute;
  top: 15px;

  @include media("<xl") {
    left: -15%;
  }
  @include media("<lg") {
    height: 520px;
    left: -22%;
    top: 35px;
  }
}
