@import "../vars/vars.scss";
@import "../../include-media";

.gallery {
  position: relative;
  overflow: hidden;
  .g-img {
    height: 300px;
    width: 100%;

    @include media(">md") {
      height: 760px;
    }

    @include media(">xl") {
      height: 1000px;
    }
  }
  .g-slider {
    .g-controls {
      @include media("<md") {
        background-color: $clr-main-alt;
        padding: 30px 15px 40px;
      }
      // @include media(">md"){
      //   position: absolute;
      //   max-width: 100%;
      //   width: 100%;
      //   top: 50%;
      //   left: 50%;
      //   -webkit-transform: translate(-50%, -50%);
      //   transform: translate(-50%, -50%);
      // }
      .slick-switches .dots {
        @include media(">md") {
          position: absolute;
          bottom: 50px;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
      .slick-switches {
        .prev {
          @include media(">md") {
            top: -350px;
          }
          @include media(">lg") {
            width: 50%;
            height: 100%;
            position: absolute;
            border-radius: 0;
            top: 0;
            opacity: 0;
            &:hover {
              cursor: url(/images/icons/arrow.svg), auto;
            }
          }
        }
        .next {
          @include media(">md") {
            top: -350px;
          }
          @include media(">lg") {
            width: 50%;
            height: 100%;
            position: absolute;
            border-radius: 0;
            top: 0;
            right: 0;
            opacity: 0;

            &:hover {
              cursor: url(http://htmlbook.ru/example/images/sniper.cur), auto;
            }
          }
        }
      }
    }
  }
}

.progress-video {
  position: relative;
  .pr-slider {
    .slick-slider-alt {
      overflow: visible !important;
      .slick-list {
        .pr-item {
          .title-4 {
            letter-spacing: 0.02em;
          }
        }

        .slick-current {
          .progress-slider__img {
            &::before {
              display: none;
            }
          }
        }
      }

      .progress-slider__img {
        height: 350px;
        max-width: 615px;
        position: relative;

        @include media("<lg") {
          height: 260px;
          max-width: 470px;
        }

        @include media("<md") {
          height: 200px;
          max-width: 355px;
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            180deg,
            rgba(23, 26, 41, 0.3) 0%,
            rgba(23, 26, 41, 0.8) 100%
          );
        }
        &::after {
          content: "";
          display: block;
          width: 100px;
          height: 100px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-image: url("/images/icons/play.svg");
        }
      }
    }

    .pr-controls {
      @include media("<md") {
        padding-top: 45px;
      }
      // @include media(">md") {
      //   position: absolute;
      //   max-width: 100%;
      //   width: 100%;
      //   top: 50%;
      //   left: 50%;
      //   transform: translate(-50%, -50%);

      //   .ss-switch {
      //     position: absolute;
      //     top: calc(50% - 35px);
      //     z-index: 10;
      //   }
      // }
      .dots {
        @include media(">lg") {
          padding-top: 60px;
        }
      }
    }
  }
}
