.gallery {
  position: relative;
  overflow: hidden;
}

.gallery .g-img {
  height: 300px;
  width: 100%;
}

@media (min-width: 769px) {
  .gallery .g-img {
    height: 760px;
  }
}

@media (min-width: 1201px) {
  .gallery .g-img {
    height: 1000px;
  }
}

@media (max-width: 767px) {
  .gallery .g-slider .g-controls {
    background-color: #171a29;
    padding: 30px 15px 40px;
  }
}

@media (min-width: 769px) {
  .gallery .g-slider .g-controls .slick-switches .dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media (min-width: 769px) {
  .gallery .g-slider .g-controls .slick-switches .prev {
    top: -350px;
  }
}

@media (min-width: 993px) {
  .gallery .g-slider .g-controls .slick-switches .prev {
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 0;
    top: 0;
    opacity: 0;
  }
  .gallery .g-slider .g-controls .slick-switches .prev:hover {
    cursor: url(/images/icons/arrow.svg), auto;
  }
}

@media (min-width: 769px) {
  .gallery .g-slider .g-controls .slick-switches .next {
    top: -350px;
  }
}

@media (min-width: 993px) {
  .gallery .g-slider .g-controls .slick-switches .next {
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 0;
    top: 0;
    right: 0;
    opacity: 0;
  }
  .gallery .g-slider .g-controls .slick-switches .next:hover {
    cursor: url(http://htmlbook.ru/example/images/sniper.cur), auto;
  }
}

.progress-video {
  position: relative;
}

.progress-video .pr-slider .slick-slider-alt {
  overflow: visible !important;
}

.progress-video .pr-slider .slick-slider-alt .slick-list .pr-item .title-4 {
  letter-spacing: 0.02em;
}

.progress-video .pr-slider .slick-slider-alt .slick-list .slick-current .progress-slider__img::before {
  display: none;
}

.progress-video .pr-slider .slick-slider-alt .progress-slider__img {
  height: 350px;
  max-width: 615px;
  position: relative;
}

@media (max-width: 991px) {
  .progress-video .pr-slider .slick-slider-alt .progress-slider__img {
    height: 260px;
    max-width: 470px;
  }
}

@media (max-width: 767px) {
  .progress-video .pr-slider .slick-slider-alt .progress-slider__img {
    height: 200px;
    max-width: 355px;
  }
}

.progress-video .pr-slider .slick-slider-alt .progress-slider__img::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 26, 41, 0.3)), to(rgba(23, 26, 41, 0.8)));
  background: linear-gradient(180deg, rgba(23, 26, 41, 0.3) 0%, rgba(23, 26, 41, 0.8) 100%);
}

.progress-video .pr-slider .slick-slider-alt .progress-slider__img::after {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("/images/icons/play.svg");
}

@media (max-width: 767px) {
  .progress-video .pr-slider .pr-controls {
    padding-top: 45px;
  }
}

@media (min-width: 993px) {
  .progress-video .pr-slider .pr-controls .dots {
    padding-top: 60px;
  }
}
/*# sourceMappingURL=slider.css.map */