.page-footer {
  z-index: 1000;
  position: relative;
  background-color: #171a29;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
}

.page-footer .pf-item {
  color: #96989f;
}

.page-footer .link-footer {
  color: #96989f !important;
}

.link-footer {
  color: #fff !important;
  font-weight: 400 !important;
}
/*# sourceMappingURL=footer.css.map */