@import "../vars/vars.scss";
@import "../../include-media";

.page-footer {
  z-index: 1000;
  position: relative;
  background-color: $clr-footer;
  color: $text-clr-footer;
  font-size: $font-sz;
  overflow: hidden;

  .pf-item {
    color: #96989f;
  }
  .link-footer {
    color: #96989f !important;
  }
}

.link-footer {
  color: $text-clr-footer !important;
  font-weight: 400 !important;
}
