@import "../vars/vars.scss";
@import "../../include-media";

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1005;
  width: 100%;
  background-color: transparent;
  padding: 20px 0 !important;
  margin: 0;
  border: 0 !important;

  &.fixed-header {
    background-color: #fff !important;
  }
  .ph-top {
    background-color: transparent;

    .small-icon {
      .svg-icon {
        fill: $clr-main-alt !important;
      }
    }
  }
  .ph-bottom {
    background-color: transparent;
  }

  .ph-logo {
    max-width: 195px !important;

    @include media("<md") {
      max-width: 150px !important;
    }
  }

  .ph-logo__text {
    color: $clr-main;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    @include media("<md") {
      font-size: 20px;
    }
  }
}

.navbar {
  .nav-tg-bg {
    background-color: $clr-main;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-toggle {
    height: 10px;
    width: 10px;

    .svg-icon {
      top: auto;
      bottom: 0;
      height: 100%;
      width: 100%;
      fill: $clr-main;
      &.open {
        display: none;
      }
    }
    &:not(.collapsed) {
      background: none;
      .svg-icon {
        &.open {
          display: block;
        }
        &.closed {
          display: none;
        }
      }
    }
    &.search-toggle {
      background: none;
      .svg-icon {
        &.open {
          display: none;
          fill: $clr-main-alt;
        }
        &.closed {
          fill: $clr-main-alt;
        }
      }
      &:not(.collapsed) {
        background: none;
        .svg-icon {
          &.open {
            display: block;
          }
          &.closed {
            display: none;
          }
        }
      }
    }

    .svg-icon:active,
    .svg-icon:focus,
    .svg-icon:hover {
      fill: $clr-main-alt !important;
    }
  }
}

.header__call {
  display: flex;
  align-items: center;
  .small-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #e8e8ea;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 30px;
    .si-img {
      width: 14px;
      height: 14px;
      position: relative;
      margin: 0;
      .svg-icon {
        width: 100%;
        height: 100%;
        fill: $clr-main !important;
      }
    }
  }
  &:hover {
    .header__call-text {
      display: block;
    }
    .small-icon {
      border: 1px solid #ffefe6;
    }
  }
}

.header__call-text {
  color: #b9babf;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500 !important;
  display: none;
}

// .header__call-phone {
//   display: flex;
//   align-items: center;
// }

/*main*/

.main-navbar {
  @include media("<xl") {
    position: static;
  }
  .navbar {
    .svg-icon {
      fill: $clr-main;
    }
    .navbar-nav {
      @include media(">=xl") {
        justify-content: space-between;
        flex-wrap: nowrap;
      }
      @include media("<xl") {
        padding: 0 0 100px 0;
      }
      @include media("<md") {
        padding: 0 0 80px 0;
      }

      > li {
        @include media(">=xl") {
          display: flex;
          margin: 0;
          &:first-child {
            a {
              padding-left: 0;
            }
          }
          &:last-child {
            a {
              padding-right: 0;
            }
          }
        }
        > a {
          font-size: 14px;
          font-weight: 400 !important;
          line-height: 170%;
          color: $clr-text;
          padding: 8px 25px;
          margin: 0;
          border-bottom: 2px solid transparent;
          transition: color 0.2s linear;
          @include media(">xl") {
            &::before {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              background-color: $clr-main-alt;
              -webkit-transform-origin: right center;
              transform-origin: right center;
              -webkit-transform: scaleX(0);
              transform: scaleX(0);
              -webkit-transition: -webkit-transform 0.3s
                cubic-bezier(0.4, 0, 0, 1);
              transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0, 1);
              transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1);
              transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1),
                -webkit-transform 0.3s cubic-bezier(0.4, 0, 0, 1);
              z-index: -1;
            }
          }
          &:hover,
          &:active,
          &:focus {
            color: $clr-main-alt;

            &::before {
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
              -webkit-transform-origin: left center;
              transform-origin: left center;
            }
          }

          @include media("<xl") {
            font-size: 18px;
            transition: color 0.2s linear;
            padding: 15px 88px;
          }

          @include media("<md") {
            padding: 15px 40px;
          }
        }
      }
    }
  }

  .c-item {
    &:hover {
      .svg-icon {
        fill: $clr-main !important;
      }
    }
  }

  .search-block .navbar .navbar-collapse {
    max-width: 100% !important;
    top: 100% !important;
  }

  .navbar-collapse.collapse {
    @media screen and (min-width: 1199px) {
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
    }
  }

  @media screen and (max-width: 1199px) {
    .navbar .navbar-collapse.collapse:not(.in) {
      display: none !important;
    }
  }

  /*при наведении*/

  nav.navbar .dropdown:hover > .dropdown-menu {
    display: block;
  }

  @media screen and (max-width: 1199px) {
    nav.navbar .dropdown:hover > .dropdown-menu {
      display: none;
    }

    .navbar .navbar-nav > li.dropdown.open > .dropdown-menu {
      display: block;
    }
  }

  .header__call {
    justify-content: flex-end;
    padding: 0 26px 56px 0;
    @include media("<md") {
      justify-content: flex-start;
      padding: 0 0 30px;
      .header__call-text {
        display: block;
        order: 2;
      }
      .small-icon {
        margin: 0 15px 0 40px;
      }
    }
  }

  .header__call-phone {
    @include media("<md") {
      padding-left: 40px;
      margin-bottom: 10px;
    }
  }
}

.main-nav-toggle {
  position: absolute;
  top: 20px !important;
  right: 20px;
  width: 21px !important;
  height: 18px !important;
  .svg-icon {
    fill: #c2c2c2 !important;
  }
  :hover {
    .svg-icon {
      fill: #c2c2c2 !important;
    }
  }
}

.ph-white {
  @include media("<xl") {
    .header__call-phone a {
      color: #333;
    }
    .nav-tg-bg {
      background-color: $clr-main-alt;
    }
  }
}
