@charset "UTF-8";
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1005;
  width: 100%;
  background-color: transparent;
  padding: 20px 0 !important;
  margin: 0;
  border: 0 !important;
}

.page-header.fixed-header {
  background-color: #fff !important;
}

.page-header .ph-top {
  background-color: transparent;
}

.page-header .ph-top .small-icon .svg-icon {
  fill: #171a29 !important;
}

.page-header .ph-bottom {
  background-color: transparent;
}

.page-header .ph-logo {
  max-width: 195px !important;
}

@media (max-width: 767px) {
  .page-header .ph-logo {
    max-width: 150px !important;
  }
}

.page-header .ph-logo__text {
  color: #fe5a06;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .page-header .ph-logo__text {
    font-size: 20px;
  }
}

.navbar .nav-tg-bg {
  background-color: #fe5a06;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-toggle {
  height: 10px;
  width: 10px;
}

.navbar .navbar-toggle .svg-icon {
  top: auto;
  bottom: 0;
  height: 100%;
  width: 100%;
  fill: #fe5a06;
}

.navbar .navbar-toggle .svg-icon.open {
  display: none;
}

.navbar .navbar-toggle:not(.collapsed) {
  background: none;
}

.navbar .navbar-toggle:not(.collapsed) .svg-icon.open {
  display: block;
}

.navbar .navbar-toggle:not(.collapsed) .svg-icon.closed {
  display: none;
}

.navbar .navbar-toggle.search-toggle {
  background: none;
}

.navbar .navbar-toggle.search-toggle .svg-icon.open {
  display: none;
  fill: #171a29;
}

.navbar .navbar-toggle.search-toggle .svg-icon.closed {
  fill: #171a29;
}

.navbar .navbar-toggle.search-toggle:not(.collapsed) {
  background: none;
}

.navbar .navbar-toggle.search-toggle:not(.collapsed) .svg-icon.open {
  display: block;
}

.navbar .navbar-toggle.search-toggle:not(.collapsed) .svg-icon.closed {
  display: none;
}

.navbar .navbar-toggle .svg-icon:active,
.navbar .navbar-toggle .svg-icon:focus,
.navbar .navbar-toggle .svg-icon:hover {
  fill: #171a29 !important;
}

.header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__call .small-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #e8e8ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 0 30px;
}

.header__call .small-icon .si-img {
  width: 14px;
  height: 14px;
  position: relative;
  margin: 0;
}

.header__call .small-icon .si-img .svg-icon {
  width: 100%;
  height: 100%;
  fill: #fe5a06 !important;
}

.header__call:hover .header__call-text {
  display: block;
}

.header__call:hover .small-icon {
  border: 1px solid #ffefe6;
}

.header__call-text {
  color: #b9babf;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500 !important;
  display: none;
}

/*main*/
.main-navbar {
  /*при наведении*/
}

@media (max-width: 1199px) {
  .main-navbar {
    position: static;
  }
}

.main-navbar .navbar .svg-icon {
  fill: #fe5a06;
}

@media (min-width: 1200px) {
  .main-navbar .navbar .navbar-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (max-width: 1199px) {
  .main-navbar .navbar .navbar-nav {
    padding: 0 0 100px 0;
  }
}

@media (max-width: 767px) {
  .main-navbar .navbar .navbar-nav {
    padding: 0 0 80px 0;
  }
}

@media (min-width: 1200px) {
  .main-navbar .navbar .navbar-nav > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .main-navbar .navbar .navbar-nav > li:first-child a {
    padding-left: 0;
  }
  .main-navbar .navbar .navbar-nav > li:last-child a {
    padding-right: 0;
  }
}

.main-navbar .navbar .navbar-nav > li > a {
  font-size: 14px;
  font-weight: 400 !important;
  line-height: 170%;
  color: #454854;
  padding: 8px 25px;
  margin: 0;
  border-bottom: 2px solid transparent;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

@media (min-width: 1201px) {
  .main-navbar .navbar .navbar-nav > li > a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #171a29;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0, 1);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0, 1);
    z-index: -1;
  }
}

.main-navbar .navbar .navbar-nav > li > a:hover, .main-navbar .navbar .navbar-nav > li > a:active, .main-navbar .navbar .navbar-nav > li > a:focus {
  color: #171a29;
}

.main-navbar .navbar .navbar-nav > li > a:hover::before, .main-navbar .navbar .navbar-nav > li > a:active::before, .main-navbar .navbar .navbar-nav > li > a:focus::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

@media (max-width: 1199px) {
  .main-navbar .navbar .navbar-nav > li > a {
    font-size: 18px;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
    padding: 15px 88px;
  }
}

@media (max-width: 767px) {
  .main-navbar .navbar .navbar-nav > li > a {
    padding: 15px 40px;
  }
}

.main-navbar .c-item:hover .svg-icon {
  fill: #fe5a06 !important;
}

.main-navbar .search-block .navbar .navbar-collapse {
  max-width: 100% !important;
  top: 100% !important;
}

@media screen and (min-width: 1199px) {
  .main-navbar .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}

@media screen and (max-width: 1199px) {
  .main-navbar .navbar .navbar-collapse.collapse:not(.in) {
    display: none !important;
  }
}

.main-navbar nav.navbar .dropdown:hover > .dropdown-menu {
  display: block;
}

@media screen and (max-width: 1199px) {
  .main-navbar nav.navbar .dropdown:hover > .dropdown-menu {
    display: none;
  }
  .main-navbar .navbar .navbar-nav > li.dropdown.open > .dropdown-menu {
    display: block;
  }
}

.main-navbar .header__call {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 26px 56px 0;
}

@media (max-width: 767px) {
  .main-navbar .header__call {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 0 30px;
  }
  .main-navbar .header__call .header__call-text {
    display: block;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main-navbar .header__call .small-icon {
    margin: 0 15px 0 40px;
  }
}

@media (max-width: 767px) {
  .main-navbar .header__call-phone {
    padding-left: 40px;
    margin-bottom: 10px;
  }
}

.main-nav-toggle {
  position: absolute;
  top: 20px !important;
  right: 20px;
  width: 21px !important;
  height: 18px !important;
}

.main-nav-toggle .svg-icon {
  fill: #c2c2c2 !important;
}

.main-nav-toggle :hover .svg-icon {
  fill: #c2c2c2 !important;
}

@media (max-width: 1199px) {
  .ph-white .header__call-phone a {
    color: #333;
  }
  .ph-white .nav-tg-bg {
    background-color: #171a29;
  }
}
/*# sourceMappingURL=header.css.map */