// Variables
$font-family: "Montserrat", sans-serif;
$font-family2: "Roboto", sans-serif;
$font-sz: 16px;
$font-s-min: 12px;
$font-h1: 32px;
$font-h2: 28px;

$lineHeight: 130%;

$font-w-min: 300;
$font-w: 400;
$font-w-medium: 500;
$font-w-semibold: 600;
$font-w-bold: 700;
$font-w-extra-bold: 800;
$font-w-black: 900;

$pd-btn: 15px 40px;
$pd-form: 13px 20px;

$h-min-btn: 50px;
$h-min-form: 50px;

$rad-main: 10px;
$rad-secondary: 5px;
$rad-circle: 50%;

$color: #000;
$color-main: #fff;

$bgColorNav: #f2f2f2;

$clr-main: #fe5a06;
$clr-main-alt: #171a29;
$clr-grey: #e6e6e6;
$clr-grey-light: #fafafb;
$clr-grey-lighter: #fafafa;
$clr-grey-dark: #97989f;
$clr-grey-darken: #464646;
$clr-grey-darkest: #333333;
$clr-text: #454854;
$clr-text-alt: #171a29;
$clr-text-white: #fff;
$clr-dark: #171a29;

$clr-footer: #171a29;
$text-clr-footer: #fff;
$clr-email-banner: #333;
$clr-footer-border: #81bb40;

$colorLink: #fff;

$bg-clr: #f2f2f2;
$bg-clr-light: #f4f7f5;
$bg-clr-dark: #171a29;
$bg-clr-blue: #3557ad;
$bg-clr-new: #00ad5d;
