.bg-clr-transparent {
  background-color: transparent !important;
}

.bg-clr-main {
  background-color: #fe5a06 !important;
}

.bg-clr-main-alt {
  background-color: #171a29 !important;
}

.bg-clr-grey {
  background-color: #e6e6e6 !important;
}

.bg-clr-grey-light {
  background-color: #fafafb !important;
}

.bg-clr-grey-lighter {
  background-color: #fafafa !important;
}

.bg-clr-white {
  background-color: #fff !important;
}

.bg-clr-light {
  background-color: #f4f7f5;
}

.bg-clr-dark {
  background-color: #171a29;
}

.bg-clr-l-blue {
  background-color: #3557ad;
}

.bg-clr {
  background-color: #f2f2f2;
}

.bg-clr-dark .title,
.bg-clr-dark .title-1,
.bg-clr-dark .title-2,
.bg-clr-dark .title-3,
.bg-clr-dark .title-4,
.bg-clr-dark .title-5,
.bg-clr-dark .title-6,
.bg-clr-dark .title-7,
.bg-clr-dark .title-8,
.bg-clr-dark span {
  color: #fff !important;
}

.bg-clr-dark .title-4 {
  color: rgba(255, 255, 255, 0.8);
}

.bg-clr-dark .title-p {
  color: rgba(255, 255, 255, 0.8);
}
/*# sourceMappingURL=bg.css.map */