@import "../vars/vars.scss";
@import "../../include-media";

.bg-clr-transparent {
  background-color: transparent !important;
}

.bg-clr-main {
  background-color: $clr-main !important;
}

.bg-clr-main-alt {
  background-color: $clr-main-alt !important;
}

.bg-clr-grey {
  background-color: $clr-grey !important;
}

.bg-clr-grey-light {
  background-color: $clr-grey-light !important;
}

.bg-clr-grey-lighter {
  background-color: $clr-grey-lighter !important;
}

.bg-clr-white {
  background-color: #fff !important;
}

.bg-clr-light {
  background-color: $bg-clr-light;
}

.bg-clr-dark {
  background-color: $bg-clr-dark;
}

.bg-clr-l-blue {
  background-color: $bg-clr-blue;
}

.bg-clr {
  background-color: $bg-clr;
}

.bg-clr-dark {
  .title,
  .title-1,
  .title-2,
  .title-3,
  .title-4,
  .title-5,
  .title-6,
  .title-7,
  .title-8,
  span {
    color: #fff !important;
  }
  .title-4 {
    color: rgba(255, 255, 255, 0.8);
  }
  .title-p {
    color: rgba(255, 255, 255, 0.8);
  }
}
