@import "../vars/vars.scss";
@import "../../include-media";

/* Buttons */

.btn {
  position: relative;
  font-size: 14px;
  padding: $pd-btn;
  min-height: $h-min-btn;
  font-weight: $font-w !important;
  text-decoration: none;
  //line-height: 1;
  border-width: 2px;
  border-radius: 100px;
  box-shadow: none !important;
  transition: color 0.2s linear, background 0.2s linear, border 0.2s linear;
  overflow: hidden;
  letter-spacing: 0.02em;

  .small-icon {
    .si-img {
      height: 1em;
      width: 1em;
      margin-right: 10px;
    }
    .si-text {
      line-height: 1;
      & + .si-img {
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }
  &[disabled] {
    color: $clr-text-alt !important;
    background-color: $clr-grey !important;
    border-color: $clr-grey !important;
    &:focus,
    &.focus,
    &:hover,
    &.hover,
    &:active,
    &.active {
      color: $clr-text-alt !important;
      background-color: $clr-grey !important;
      border-color: $clr-grey !important;
    }
  }

  .btn-svg {
    width: 12px;
    height: 6px;
    left: 5px;
    top: -2px;
    position: relative;
    display: inline-block;
    .svg-icon {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
}

.btn-lg {
  padding: 16px 30px;
  min-height: $h-min-btn + 10px;
  border-radius: $rad-main * 3;
  font-size: $font-sz;
}

.btn-sm {
  padding: 8px 15px;
  min-height: $h-min-btn - 10px;
  border-radius: $rad-main * 3;
  font-size: $font-sz - 4px;
}

.btn-default {
  color: $clr-main;
  background: transparent;
  border-color: #e8e8ea;

  .btn-svg {
    .svg-icon {
      fill: #fff !important;
    }
  }

  &:focus,
  &.focus,
  &:hover,
  &.hover {
    color: #fff !important;
    background: $clr-main !important;
    border-color: $clr-main !important;

    .svg-icon {
      fill: #fff !important;
    }
  }
  &:active,
  &.active {
    color: #fff !important;
    background: $clr-main !important;
    border-color: $clr-main !important;

    .svg-icon {
      fill: #fff !important;
    }
  }

  span {
    font-weight: 500 !important;
  }
}

.btn-primary {
  color: #fff !important;
  background-color: $clr-main-alt !important;
  border-color: $clr-main-alt !important;
  font-weight: 400 !important;
  text-decoration: underline;
  .svg-icon {
    fill: $clr-main-alt !important;
  }
  &:hover,
  &.hover {
    color: $clr-main-alt !important;
    background-color: #f3f6f4 !important;
    border-color: #f3f6f4 !important;

    .svg-icon {
      fill: #f2f8ec !important;
    }
  }
  &:focus,
  &.focus,
  &:active,
  &.active {
    color: $clr-main-alt !important;
    background-color: #f3f6f4 !important;
    border-color: #f3f6f4 !important;

    .svg-icon {
      fill: #f2f8ec !important;
    }
  }
}

.btn-secondary {
  color: #fff;
  background-color: transparent !important;
  border: 1px solid #fff !important;
  &:focus,
  &.focus {
    color: $clr-main !important;
    background-color: transparent !important;
    border-color: $clr-main !important;

    .svg-icon {
      fill: $clr-main !important;
    }
  }
  &:hover,
  &.hover,
  &:active,
  &.active {
    color: $clr-main !important;
    background-color: transparent !important;
    border-color: $clr-main !important;

    .svg-icon {
      fill: $clr-main !important;
    }
  }

  .svg-icon {
    fill: $clr-main !important;
  }
}

.btn-third {
  color: #fff !important;
  background-color: $clr-main !important;
  border-color: $clr-main !important;
  &:focus,
  &.focus {
    color: #fff !important;
    background-color: #5d79bd !important;
    border-color: #5d79bd !important;

    .svg-icon {
      fill: #fff !important;
    }
  }
  &:hover,
  &.hover,
  &:active,
  &.active {
    color: #fff !important;
    background-color: #5d79bd !important;
    border-color: #5d79bd !important;

    .svg-icon {
      fill: #fff !important;
    }
  }

  .svg-icon {
    fill: $clr-main-alt !important;
  }
}

/* Forms */

.control-label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-weight: $font-w;
  font-size: $font-sz - 3px;
  border-bottom: 0;
  color: rgba(255, 255, 255, 0.7);
}

.help-block {
  font-size: $font-sz - 2px;
}

.form-note {
  font-size: $font-sz - 2px;
  color: $clr-text;
  font-weight: 300 !important;
}

.form-link {
  font-size: $font-sz - 2px;
  color: $clr-text-alt;
  text-decoration: none;
  font-weight: 500;
  &:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

.form-control {
  padding: $pd-form;
  height: $h-min-form;
  font-size: $font-sz;
  font-style: normal;
  font-weight: 400 !important;
  border-radius: 100px;
  border: 1px solid#9EA0AA;
  background-color: rgba(255, 255, 255, 0.1);
  line-height: 1.1;
  color: $clr-main-alt;
  box-shadow: none;
  transition: color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
  &:focus {
    outline: 0;
    background-color: rgba(255, 255, 255, 0.1);
    color: $clr-main-alt;
    border: 1px solid#9EA0AA;
    box-shadow: none !important;
  }
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &::-webkit-input-placeholder {
    color: $clr-main-alt;
    font-weight: 400 !important;
  }
  & option:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: $clr-main-alt;
  }
  .has-error & {
    box-shadow: none;
    background-color: #fce5e5;
    border-color: #e31e24;
  }
}

.modal-contact {
  .form-control {
    border: 1px solid rgba(0, 0, 0, 0.1);
    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &::-webkit-input-placeholder {
      color: #adadad;
    }
  }
}

.form-group {
  ::-webkit-input-placeholder {
    /* Chrome */
    color: $clr-main-alt;
    font-weight: 400 !important;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: $clr-main-alt;
    font-weight: 400 !important;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: $clr-main-alt;
    font-weight: 400 !important;
  }
}

/* Modal */

.modal {
  line-height: normal;
  font-size: $font-sz - 2px;
  color: $clr-text;
  text-align: center;
  &::before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -4px;
    vertical-align: middle;
    font-weight: 300;
  }
  @include media(">=md") {
    font-size: $font-sz;
    padding: 0 !important;
  }

  @include media("<md") {
    &::before {
      height: 10%;
    }
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: calc(100% - 20px);
  @include media(">=md") {
    width: 450px;
  }
}

.modal-content {
  border: none;
  border-radius: 2px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $clr-text-alt;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

.modal-note {
  font-style: italic;
  font-size: $font-sz - 4px;
  color: $clr-text-alt;
  @include media(">=md") {
    font-size: $font-sz - 2px;
  }

  a {
    color: $clr-text;
  }
}

.modal-container {
  @include media(">=sm") {
    width: 540px !important;
  }
  @include media(">=md") {
    width: 720px !important;
  }
  @include media(">=lg") {
    width: 960px !important;
  }
  @include media(">=xl") {
    width: 1140px !important;
  }
}

.modal-lg {
  @include media(">=md") {
    width: 720px;
  }
  @include media(">=lg") {
    width: 960px;
  }
}

.modal-md {
  // @include media(">=md") {
  //   width: 350px;
  // }
  @include media(">=lg") {
    width: 650px;
  }
}

.modal-sm {
  @include media(">=md") {
    width: 350px;
  }
}

.modal-title {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 150%;
  font-weight: $font-w;
  color: $clr-text-alt;
  position: relative;
  font-size: $font-sz + 4px !important;
  text-transform: none !important;
  font-weight: 700;
  @include media(">=lg") {
    font-size: $font-sz + 8px !important;
  }
}

.modal-date {
  font-size: $font-sz - 2px;
  color: $clr-main-alt;
}

.modal-header {
  padding: 30px;
  border-bottom: none;
  border-radius: 0;
  @include media("<sm") {
    padding: 30px 20px;
  }
  .close {
    z-index: 50;
    position: absolute;
    margin: 0;
    width: 60px;
    height: 60px;
    opacity: 1;
    text-shadow: none;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    transition: all 0.2s linear;
    transition: background-color 0.2s linear;
    background-color: #fafafb;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      .svg-icon {
        fill: #b9babf;
      }
    }
    .small-icon {
      position: relative;

      width: 15px;
      height: 15px;
    }
    .svg-icon {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      fill: #b9babf;
    }
  }
}

.modal-body {
  padding: 0px 30px 30px 30px;
  @include media("<sm") {
    padding: 0px 20px 30px 20px;
  }
  label {
    font-weight: $font-w-bold;
  }
  .modal-submit {
    .btn {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      @include media(">=md") {
        width: auto;
        padding: $pd-btn;
      }
    }
  }
}

.modal-text {
  font-size: $font-sz;
  color: $clr-text;
  @include media("<md") {
    font-size: $font-sz - 2px;
  }
}

.box-label_remember {
  font-size: 13px !important;
  font-weight: $font-w !important;
}

.modal-textarea {
  min-height: 100px;
}

.modal-link {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
}

/* Navbar */
@mixin a_hover_focus {
  color: var(--clr-main);
  background-color: transparent;
}

@mixin a_hover_focus_mobile {
  color: var(--clr-main);
  background-color: transparent;
}

@mixin a_hover_focus_dropdown {
  color: $clr-text-alt;
  background-color: rgba(
    var(--clr-main-red),
    var(--clr-main-green),
    var(--clr-main-blue),
    0.2
  );
}

@mixin a_active_dropdown {
  color: #fff;
  background-color: rgba(
    var(--clr-main-red),
    var(--clr-main-green),
    var(--clr-main-blue),
    0.7
  );
}

.navbar {
  border: none;
  border-radius: 0;
  margin: 0;
  min-height: 0;
  .navbar-header {
    @include media(">=xl") {
      display: none !important;
    }
  }
  .navbar-collapse {
    padding: 0;
  }
  .navbar-toggle {
    display: block;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    // background-image: url("../images/icons/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    @include media("<xl") {
      display: block;
    }
    &:not(.collapsed) {
      // background-image: url("../images/icons/close.svg");
      background-size: 25px 25px;
    }
  }
  .navbar-nav {
    margin: 0;
    float: none;
    display: flex;
    flex-wrap: wrap;
    &::before,
    &::after {
      display: none;
    }
    > li {
      margin: 0 10px;
      float: none;
      > a {
        padding: 15px 0;
        font-size: $font-sz;
        line-height: 1.42857143 !important;
        text-decoration: none;
        color: $clr-text-alt;
        background-color: transparent;
        transition: color 0.2s linear;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
          @include a_hover_focus;
        }
      }
      &.active {
        > a {
          &,
          &:hover {
            @include a_hover_focus;
            font-weight: $font-w-bold;
          }
        }
      }
      &.open {
        > a {
          &,
          &:hover {
            @include a_hover_focus;
          }
        }
      }
    }
  }
  @include media("<xl") {
    position: static;
    .navbar-block {
      max-width: none !important;
      width: 100%;
      margin: 0 auto;
      padding-top: 160px;
    }
    .navbar-collapse {
      position: absolute;
      left: auto;
      right: 0;
      top: 0;
      z-index: -1;
      margin: 0 auto;
      width: 100%;
      padding: 0;
      border: 0;
      background-color: #fff !important;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
    }
    .navbar-nav {
      padding: 10px;
      margin: 0;
      display: block;

      > li {
        margin: 0;
        > a {
          color: $clr-text-alt;
          padding: 10px 0;
          &:hover {
            @include a_hover_focus;
          }
        }
        &.active {
          > a {
            &,
            &:hover {
              @include a_hover_focus;
              font-weight: $font-w-bold;
            }
          }
        }
        &.open {
          > a {
            &,
            &:hover {
              @include a_hover_focus;
            }
          }
        }
      }
    }
  }

  @include media("<md") {
    .navbar-block {
      padding-top: 115px;
    }
  }

  @include media("<sm") {
    .navbar-collapse {
      width: 100%;
      max-width: 100% !important;
    }
  }
}

/* Pagination */

.pagination-block {
  position: relative;
  margin: 0 auto;
}

.pagination {
  margin: 0;
  max-width: 100%;
  margin: 0 -7px;
  @include media("<sm") {
    width: 100%;
    margin: 0 -5px;
  }
  > li {
    margin-left: 7px;
    margin-right: 7px;
    @include media("<sm") {
      margin-right: 1px;
      margin-left: 1px;
    }
    &:first-of-type,
    &:last-of-type {
      display: block;
      > a,
      span {
        display: block;
        border-radius: 50%;
        border: 1px solid rgba(51, 51, 51, 0.1);
        background-color: #fff;

        &:hover,
        &:focus {
          border-color: $clr-main;
          background-color: #fff;
          .svg-icon {
            opacity: 1;
            fill: $clr-main;
          }
        }
        .svg-icon {
          width: 17px;
          height: 20px;
          fill: #333;
          transition: 0.2s linear;
          top: 1px;
        }
        .next {
          left: 4px;
        }
      }
    }
    &:first-of-type {
      > a,
      span {
        &::before {
          .svg-icon {
            fill: $clr-main;
          }
        }
      }
    }
    &:last-of-type {
      > a,
      span {
        &::before {
          .svg-icon {
            fill: $clr-main;
          }
        }
      }
    }

    > a,
    span {
      min-width: 50px;
      height: 50px;
      padding: 17px 2px;
      border: 1px solid transparent;
      line-height: 1;
      font-weight: 400;
      font-size: $font-sz;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #333;
      transition: border 0.2s linear, color 0.2s linear, background 0.2s linear;
      background-color: #fff;
      border-radius: 50%;
      &:hover,
      &:focus {
        color: $clr-main;
        background-color: transparent;
        border-color: transparent;
      }
    }
  }
  > .disabled {
    cursor: not-allowed !important;
    > a,
    span {
      pointer-events: none !important;
      &,
      &:hover,
      &:focus {
        opacity: 0.5 !important;
      }
    }
  }
  > .active {
    > a,
    span {
      &,
      &:hover,
      &:focus {
        color: $clr-main;
        background-color: #f1f3fb;
        border-color: #f1f3fb;
      }
    }
  }
}

/* Breadcrumb */
.breadcrumb-block {
  padding: 0 0 80px 0;
  @include media("<md") {
    padding: 0 0 60px 0;
  }
}
.breadcrumb {
  padding: 0;
  margin-bottom: -10px;
  border-radius: 0;
  background-color: transparent;

  li {
    font-size: $font-sz;
    color: #fff;
    margin-bottom: 10px;
    font-weight: $font-w;
    a {
      text-decoration: none;
      font-weight: $font-w;

      color: rgba(255, 255, 255, 0.6);
      transition: all 0.2s linear;
      &:hover {
        text-decoration: none;
        color: $clr-main;
      }
    }
    & + li {
      &::before {
        margin: 0 30px 4px 30px;
        content: "";
        height: 1px;
        width: 30px;
        background-color: rgba(255, 255, 255, 0.6);
        display: inline-block;
      }
    }
  }
}

/* Alert-warning */
.alert-warning {
  background-color: rgba(
    var(--clr-main-red),
    var(--clr-main-green),
    var(--clr-main-blue),
    0.1
  );
  color: $clr-text-alt;
  border-color: var(--clr-main);
}

ol ol,
ol ul,
ul ol,
ul ul {
  padding: 0 !important;
}

hr {
  border-color: #97989f !important;
}
