/* Buttons */
.btn {
  position: relative;
  font-size: 14px;
  padding: 15px 40px;
  min-height: 50px;
  font-weight: 400 !important;
  text-decoration: none;
  border-width: 2px;
  border-radius: 100px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: color 0.2s linear, background 0.2s linear, border 0.2s linear;
  transition: color 0.2s linear, background 0.2s linear, border 0.2s linear;
  overflow: hidden;
  letter-spacing: 0.02em;
}

.btn .small-icon .si-img {
  height: 1em;
  width: 1em;
  margin-right: 10px;
}

.btn .small-icon .si-text {
  line-height: 1;
}

.btn .small-icon .si-text + .si-img {
  margin-right: 0;
  margin-left: 10px;
}

.btn[disabled] {
  color: #171a29 !important;
  background-color: #e6e6e6 !important;
  border-color: #e6e6e6 !important;
}

.btn[disabled]:focus, .btn[disabled].focus, .btn[disabled]:hover, .btn[disabled].hover, .btn[disabled]:active, .btn[disabled].active {
  color: #171a29 !important;
  background-color: #e6e6e6 !important;
  border-color: #e6e6e6 !important;
}

.btn .btn-svg {
  width: 12px;
  height: 6px;
  left: 5px;
  top: -2px;
  position: relative;
  display: inline-block;
}

.btn .btn-svg .svg-icon {
  width: 100%;
  height: 100%;
  position: absolute;
}

.btn-lg {
  padding: 16px 30px;
  min-height: 60px;
  border-radius: 30px;
  font-size: 16px;
}

.btn-sm {
  padding: 8px 15px;
  min-height: 40px;
  border-radius: 30px;
  font-size: 12px;
}

.btn-default {
  color: #fe5a06;
  background: transparent;
  border-color: #e8e8ea;
}

.btn-default .btn-svg .svg-icon {
  fill: #fff !important;
}

.btn-default:focus, .btn-default.focus, .btn-default:hover, .btn-default.hover {
  color: #fff !important;
  background: #fe5a06 !important;
  border-color: #fe5a06 !important;
}

.btn-default:focus .svg-icon, .btn-default.focus .svg-icon, .btn-default:hover .svg-icon, .btn-default.hover .svg-icon {
  fill: #fff !important;
}

.btn-default:active, .btn-default.active {
  color: #fff !important;
  background: #fe5a06 !important;
  border-color: #fe5a06 !important;
}

.btn-default:active .svg-icon, .btn-default.active .svg-icon {
  fill: #fff !important;
}

.btn-default span {
  font-weight: 500 !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #171a29 !important;
  border-color: #171a29 !important;
  font-weight: 400 !important;
  text-decoration: underline;
}

.btn-primary .svg-icon {
  fill: #171a29 !important;
}

.btn-primary:hover, .btn-primary.hover {
  color: #171a29 !important;
  background-color: #f3f6f4 !important;
  border-color: #f3f6f4 !important;
}

.btn-primary:hover .svg-icon, .btn-primary.hover .svg-icon {
  fill: #f2f8ec !important;
}

.btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
  color: #171a29 !important;
  background-color: #f3f6f4 !important;
  border-color: #f3f6f4 !important;
}

.btn-primary:focus .svg-icon, .btn-primary.focus .svg-icon, .btn-primary:active .svg-icon, .btn-primary.active .svg-icon {
  fill: #f2f8ec !important;
}

.btn-secondary {
  color: #fff;
  background-color: transparent !important;
  border: 1px solid #fff !important;
}

.btn-secondary:focus, .btn-secondary.focus {
  color: #fe5a06 !important;
  background-color: transparent !important;
  border-color: #fe5a06 !important;
}

.btn-secondary:focus .svg-icon, .btn-secondary.focus .svg-icon {
  fill: #fe5a06 !important;
}

.btn-secondary:hover, .btn-secondary.hover, .btn-secondary:active, .btn-secondary.active {
  color: #fe5a06 !important;
  background-color: transparent !important;
  border-color: #fe5a06 !important;
}

.btn-secondary:hover .svg-icon, .btn-secondary.hover .svg-icon, .btn-secondary:active .svg-icon, .btn-secondary.active .svg-icon {
  fill: #fe5a06 !important;
}

.btn-secondary .svg-icon {
  fill: #fe5a06 !important;
}

.btn-third {
  color: #fff !important;
  background-color: #fe5a06 !important;
  border-color: #fe5a06 !important;
}

.btn-third:focus, .btn-third.focus {
  color: #fff !important;
  background-color: #5d79bd !important;
  border-color: #5d79bd !important;
}

.btn-third:focus .svg-icon, .btn-third.focus .svg-icon {
  fill: #fff !important;
}

.btn-third:hover, .btn-third.hover, .btn-third:active, .btn-third.active {
  color: #fff !important;
  background-color: #5d79bd !important;
  border-color: #5d79bd !important;
}

.btn-third:hover .svg-icon, .btn-third.hover .svg-icon, .btn-third:active .svg-icon, .btn-third.active .svg-icon {
  fill: #fff !important;
}

.btn-third .svg-icon {
  fill: #171a29 !important;
}

/* Forms */
.control-label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 13px;
  border-bottom: 0;
  color: rgba(255, 255, 255, 0.7);
}

.help-block {
  font-size: 14px;
}

.form-note {
  font-size: 14px;
  color: #454854;
  font-weight: 300 !important;
}

.form-link {
  font-size: 14px;
  color: #171a29;
  text-decoration: none;
  font-weight: 500;
}

.form-link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.form-control {
  padding: 13px 20px;
  height: 50px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400 !important;
  border-radius: 100px;
  border: 1px solid #9EA0AA;
  background-color: rgba(255, 255, 255, 0.1);
  line-height: 1.1;
  color: #171a29;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: color 0.2s linear, border 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: color 0.2s linear, border 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
  transition: color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.form-control:focus {
  outline: 0;
  background-color: rgba(255, 255, 255, 0.1);
  color: #171a29;
  border: 1px solid #9EA0AA;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form-control::-moz-placeholder, .form-control:-ms-input-placeholder, .form-control::-webkit-input-placeholder {
  color: #171a29;
  font-weight: 400 !important;
}

.form-control option:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #171a29;
}

.has-error .form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fce5e5;
  border-color: #e31e24;
}

.modal-contact .form-control {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-contact .form-control:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-contact .form-control::-moz-placeholder, .modal-contact .form-control:-ms-input-placeholder, .modal-contact .form-control::-webkit-input-placeholder {
  color: #adadad;
}

.form-group ::-webkit-input-placeholder {
  /* Chrome */
  color: #171a29;
  font-weight: 400 !important;
}

.form-group :-ms-input-placeholder {
  /* IE 10+ */
  color: #171a29;
  font-weight: 400 !important;
}

.form-group ::-moz-placeholder {
  /* Firefox 19+ */
  color: #171a29;
  font-weight: 400 !important;
}

/* Modal */
.modal {
  line-height: normal;
  font-size: 14px;
  color: #454854;
  text-align: center;
}

.modal::before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-right: -4px;
  vertical-align: middle;
  font-weight: 300;
}

@media (min-width: 768px) {
  .modal {
    font-size: 16px;
    padding: 0 !important;
  }
}

@media (max-width: 767px) {
  .modal::before {
    height: 10%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: calc(100% - 20px);
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 450px;
  }
}

.modal-content {
  border: none;
  border-radius: 2px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #171a29;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

.modal-note {
  font-style: italic;
  font-size: 12px;
  color: #171a29;
}

@media (min-width: 768px) {
  .modal-note {
    font-size: 14px;
  }
}

.modal-note a {
  color: #454854;
}

@media (min-width: 576px) {
  .modal-container {
    width: 540px !important;
  }
}

@media (min-width: 768px) {
  .modal-container {
    width: 720px !important;
  }
}

@media (min-width: 992px) {
  .modal-container {
    width: 960px !important;
  }
}

@media (min-width: 1200px) {
  .modal-container {
    width: 1140px !important;
  }
}

@media (min-width: 768px) {
  .modal-lg {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 960px;
  }
}

@media (min-width: 992px) {
  .modal-md {
    width: 650px;
  }
}

@media (min-width: 768px) {
  .modal-sm {
    width: 350px;
  }
}

.modal-title {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 150%;
  font-weight: 400;
  color: #171a29;
  position: relative;
  font-size: 20px !important;
  text-transform: none !important;
  font-weight: 700;
}

@media (min-width: 992px) {
  .modal-title {
    font-size: 24px !important;
  }
}

.modal-date {
  font-size: 14px;
  color: #171a29;
}

.modal-header {
  padding: 30px;
  border-bottom: none;
  border-radius: 0;
}

@media (max-width: 575px) {
  .modal-header {
    padding: 30px 20px;
  }
}

.modal-header .close {
  z-index: 50;
  position: absolute;
  margin: 0;
  width: 60px;
  height: 60px;
  opacity: 1;
  text-shadow: none;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  background-color: #fafafb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-header .close:hover .svg-icon {
  fill: #b9babf;
}

.modal-header .close .small-icon {
  position: relative;
  width: 15px;
  height: 15px;
}

.modal-header .close .svg-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  fill: #b9babf;
}

.modal-body {
  padding: 0px 30px 30px 30px;
}

@media (max-width: 575px) {
  .modal-body {
    padding: 0px 20px 30px 20px;
  }
}

.modal-body label {
  font-weight: 700;
}

.modal-body .modal-submit .btn {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 768px) {
  .modal-body .modal-submit .btn {
    width: auto;
    padding: 15px 40px;
  }
}

.modal-text {
  font-size: 16px;
  color: #454854;
}

@media (max-width: 767px) {
  .modal-text {
    font-size: 14px;
  }
}

.box-label_remember {
  font-size: 13px !important;
  font-weight: 400 !important;
}

.modal-textarea {
  min-height: 100px;
}

.modal-link {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
}

/* Navbar */
.navbar {
  border: none;
  border-radius: 0;
  margin: 0;
  min-height: 0;
}

@media (min-width: 1200px) {
  .navbar .navbar-header {
    display: none !important;
  }
}

.navbar .navbar-collapse {
  padding: 0;
}

.navbar .navbar-toggle {
  display: block;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}

@media (max-width: 1199px) {
  .navbar .navbar-toggle {
    display: block;
  }
}

.navbar .navbar-toggle:not(.collapsed) {
  background-size: 25px 25px;
}

.navbar .navbar-nav {
  margin: 0;
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar .navbar-nav::before, .navbar .navbar-nav::after {
  display: none;
}

.navbar .navbar-nav > li {
  margin: 0 10px;
  float: none;
}

.navbar .navbar-nav > li > a {
  padding: 15px 0;
  font-size: 16px;
  line-height: 1.42857143 !important;
  text-decoration: none;
  color: #171a29;
  background-color: transparent;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar .navbar-nav > li > a:hover {
  color: var(--clr-main);
  background-color: transparent;
}

.navbar .navbar-nav > li.active > a, .navbar .navbar-nav > li.active > a:hover {
  color: var(--clr-main);
  background-color: transparent;
  font-weight: 700;
}

.navbar .navbar-nav > li.open > a, .navbar .navbar-nav > li.open > a:hover {
  color: var(--clr-main);
  background-color: transparent;
}

@media (max-width: 1199px) {
  .navbar {
    position: static;
  }
  .navbar .navbar-block {
    max-width: none !important;
    width: 100%;
    margin: 0 auto;
    padding-top: 160px;
  }
  .navbar .navbar-collapse {
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    z-index: -1;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    border: 0;
    background-color: #fff !important;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
  }
  .navbar .navbar-nav {
    padding: 10px;
    margin: 0;
    display: block;
  }
  .navbar .navbar-nav > li {
    margin: 0;
  }
  .navbar .navbar-nav > li > a {
    color: #171a29;
    padding: 10px 0;
  }
  .navbar .navbar-nav > li > a:hover {
    color: var(--clr-main);
    background-color: transparent;
  }
  .navbar .navbar-nav > li.active > a, .navbar .navbar-nav > li.active > a:hover {
    color: var(--clr-main);
    background-color: transparent;
    font-weight: 700;
  }
  .navbar .navbar-nav > li.open > a, .navbar .navbar-nav > li.open > a:hover {
    color: var(--clr-main);
    background-color: transparent;
  }
}

@media (max-width: 767px) {
  .navbar .navbar-block {
    padding-top: 115px;
  }
}

@media (max-width: 575px) {
  .navbar .navbar-collapse {
    width: 100%;
    max-width: 100% !important;
  }
}

/* Pagination */
.pagination-block {
  position: relative;
  margin: 0 auto;
}

.pagination {
  margin: 0;
  max-width: 100%;
  margin: 0 -7px;
}

@media (max-width: 575px) {
  .pagination {
    width: 100%;
    margin: 0 -5px;
  }
}

.pagination > li {
  margin-left: 7px;
  margin-right: 7px;
}

@media (max-width: 575px) {
  .pagination > li {
    margin-right: 1px;
    margin-left: 1px;
  }
}

.pagination > li:first-of-type, .pagination > li:last-of-type {
  display: block;
}

.pagination > li:first-of-type > a,
.pagination > li:first-of-type span, .pagination > li:last-of-type > a,
.pagination > li:last-of-type span {
  display: block;
  border-radius: 50%;
  border: 1px solid rgba(51, 51, 51, 0.1);
  background-color: #fff;
}

.pagination > li:first-of-type > a:hover, .pagination > li:first-of-type > a:focus,
.pagination > li:first-of-type span:hover,
.pagination > li:first-of-type span:focus, .pagination > li:last-of-type > a:hover, .pagination > li:last-of-type > a:focus,
.pagination > li:last-of-type span:hover,
.pagination > li:last-of-type span:focus {
  border-color: #fe5a06;
  background-color: #fff;
}

.pagination > li:first-of-type > a:hover .svg-icon, .pagination > li:first-of-type > a:focus .svg-icon,
.pagination > li:first-of-type span:hover .svg-icon,
.pagination > li:first-of-type span:focus .svg-icon, .pagination > li:last-of-type > a:hover .svg-icon, .pagination > li:last-of-type > a:focus .svg-icon,
.pagination > li:last-of-type span:hover .svg-icon,
.pagination > li:last-of-type span:focus .svg-icon {
  opacity: 1;
  fill: #fe5a06;
}

.pagination > li:first-of-type > a .svg-icon,
.pagination > li:first-of-type span .svg-icon, .pagination > li:last-of-type > a .svg-icon,
.pagination > li:last-of-type span .svg-icon {
  width: 17px;
  height: 20px;
  fill: #333;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  top: 1px;
}

.pagination > li:first-of-type > a .next,
.pagination > li:first-of-type span .next, .pagination > li:last-of-type > a .next,
.pagination > li:last-of-type span .next {
  left: 4px;
}

.pagination > li:first-of-type > a::before .svg-icon,
.pagination > li:first-of-type span::before .svg-icon {
  fill: #fe5a06;
}

.pagination > li:last-of-type > a::before .svg-icon,
.pagination > li:last-of-type span::before .svg-icon {
  fill: #fe5a06;
}

.pagination > li > a,
.pagination > li span {
  min-width: 50px;
  height: 50px;
  padding: 17px 2px;
  border: 1px solid transparent;
  line-height: 1;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  -webkit-transition: border 0.2s linear, color 0.2s linear, background 0.2s linear;
  transition: border 0.2s linear, color 0.2s linear, background 0.2s linear;
  background-color: #fff;
  border-radius: 50%;
}

.pagination > li > a:hover, .pagination > li > a:focus,
.pagination > li span:hover,
.pagination > li span:focus {
  color: #fe5a06;
  background-color: transparent;
  border-color: transparent;
}

.pagination > .disabled {
  cursor: not-allowed !important;
}

.pagination > .disabled > a,
.pagination > .disabled span {
  pointer-events: none !important;
}

.pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus,
.pagination > .disabled span,
.pagination > .disabled span:hover,
.pagination > .disabled span:focus {
  opacity: 0.5 !important;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active span,
.pagination > .active span:hover,
.pagination > .active span:focus {
  color: #fe5a06;
  background-color: #f1f3fb;
  border-color: #f1f3fb;
}

/* Breadcrumb */
.breadcrumb-block {
  padding: 0 0 80px 0;
}

@media (max-width: 767px) {
  .breadcrumb-block {
    padding: 0 0 60px 0;
  }
}

.breadcrumb {
  padding: 0;
  margin-bottom: -10px;
  border-radius: 0;
  background-color: transparent;
}

.breadcrumb li {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 400;
}

.breadcrumb li a {
  text-decoration: none;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.breadcrumb li a:hover {
  text-decoration: none;
  color: #fe5a06;
}

.breadcrumb li + li::before {
  margin: 0 30px 4px 30px;
  content: "";
  height: 1px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  display: inline-block;
}

/* Alert-warning */
.alert-warning {
  background-color: rgba(var(--clr-main-red), var(--clr-main-green), var(--clr-main-blue), 0.1);
  color: #171a29;
  border-color: var(--clr-main);
}

ol ol,
ol ul,
ul ol,
ul ul {
  padding: 0 !important;
}

hr {
  border-color: #97989f !important;
}
/*# sourceMappingURL=bootsrtap.css.map */