@import "../vars/vars.scss";
@import "../../include-media";
.amount-counter {
  padding: 0;
  min-width: 80px;
  max-width: 100px !important;
  border-radius: $rad-main;
  border: none;
  .ac-input {
    padding-left: 10px;
    padding-right: 10px;
    width: 30px;
    text-align: center;
    height: 30px;
    border-radius: 0;
    box-shadow: none !important;
  }
  .ac-control {
    padding: 0;
    min-height: 30px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--clr-main);
    @include media("<sm") {
      width: 35px;
    }
    &.minus {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      .svg-icon {
        width: 15px;
        height: 15px;
        fill: #fff;
      }
    }
    &.plus {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      .svg-icon {
        width: 15px;
        height: 15px;
        fill: #fff;
      }
    }
    &:hover {
      background-color: var(--clr-main-alt);
    }
    &[disabled] {
      &,
      &:hover {
        background-color: $clr-grey;
      }
    }
  }
}

.cart-table {
  position: relative;
  .ct-header {
    z-index: 1;
    position: relative;
    background-color: $clr-grey-light;
    border-radius: $rad-main $rad-main 0 0;
    height: 70px;
    @include media("<lg") {
      height: 60px;
    }
    & + .ct-body {
      .ct-item {
        border-radius: 0;
        .amount-counter {
          .ac-control {
            width: 30px;
          }
        }
      }
    }
  }
  .ct-footer {
    position: relative;
    padding: 20px 40px;
    border-radius: 0 0 $rad-main $rad-main;
    border: 1px solid $clr-grey;
    border-top: none;
    background-color: #fff;
    @include media("<xl") {
      padding: 20px 30px;
    }
    @include media("<lg") {
      padding: 20px 20px;
    }
    @include media("<sm") {
      padding: 30px 10px;
    }
    .ctf-btn {
      &.btn-back {
        width: 40px;
        padding-left: 0;
        padding-right: 0;
        &:hover {
          .small-icon {
            .si-img {
              .svg-icon {
                fill: #fff;
              }
            }
          }
        }
        .small-icon {
          .si-img {
            width: 100%;
            .svg-icon {
              right: 0;
              left: 0;
              margin: auto;
              fill: var(--clr-main);
            }
          }
        }
      }
      .small-icon {
        .si-img {
          .svg-icon {
            fill: #fff;
          }
        }
      }
    }
  }
  .ct-title {
    padding: 70px 40px 30px 40px;
    border: 1px solid $clr-grey;
    border-bottom: none;
    @include media("<xl") {
      padding: 70px 30px 30px 30px;
    }
    @include media("<lg") {
      padding: 60px 20px 30px 20px;
    }
    @include media("<sm") {
      padding: 60px 10px 30px 10px;
    }
    &.inner {
      padding: 30px 0 30px 0;
      border: none;
      @include media("<xl") {
        padding: 40px 0 30px 0;
      }
      @include media("<lg") {
        padding: 30px 0 30px 0;
      }
    }
    & + .ct-body {
      .ct-item {
        border-radius: 0;
        &:first-of-type {
          border-top: none;
        }
        .amount-counter {
          .ac-control {
            width: 30px;
          }
        }
      }
    }
  }
  .ct-item {
    padding: 40px;
    border: 1px solid $clr-grey;
    border-top: none;
    background-color: #fff;
    @include media("<xl") {
      padding: 30px;
    }
    @include media("<lg") {
      padding: 30px 20px;
    }
    @include media("<sm") {
      padding: 30px 10px;
    }
    &:first-of-type {
      border-top: 1px solid $clr-grey;
      border-top-left-radius: $rad-main;
      border-top-right-radius: $rad-main;
    }
    &:last-of-type {
      border-bottom-left-radius: $rad-main;
      border-bottom-right-radius: $rad-main;
    }
    .cti-img {
      > img {
        @include media(">=md") {
          max-height: 150px;
        }
        @include media("<md") {
          max-height: 200px;
        }
      }
    }
    .cti-article {
      font-size: $font-sz - 2px;
      color: rgba(0, 0, 0, 0.4);
    }
    .cti-link {
      padding: 0;
      background: none;
      border: none;
      min-height: 0;
      font-size: $font-sz - 2px;
      color: var(--clr-main);
      text-decoration: underline;
      line-height: 1.33333;
      transition: color 0.2s linear;
      &:hover {
        color: var(--clr-main-alt);
      }
    }
    .cti-price {
      line-height: 1.3333333;
      font-weight: $font-w-bold;
      font-size: $font-sz + 4px;
      color: var(--clr-main);
      text-align: right;
      .cti-old {
        display: inline-block;
        font-weight: $font-w;
        font-size: $font-sz - 2px;
        text-decoration: line-through;
        color: $clr-text;
      }
    }
    .margin-link-fix {
      margin-top: 75px;
      @include media("<lg") {
        margin-top: 0;
      }
    }
    .cti-block {
      padding-top: 95px;
      position: relative;
      text-align: center;
      @include media("<lg") {
        padding-top: 30px;
      }
      &::before {
        position: absolute;
        content: "";
        display: block;
        top: -40px;
        right: -40px;
        margin: auto;
        width: calc(100% + 60px + 10px);
        height: calc(100% + 80px);
        background-color: var(--clr-main);
        @include media("<xl") {
          top: -30px;
          right: -30px;
          height: calc(100% + 60px);
          width: calc(100% + 60px);
        }
        @include media("<lg") {
          top: 0;
          right: -20px;
          height: calc(100% + 30px);
          width: calc(100% + 40px);
        }
        @include media("<sm") {
          right: -10px;
          width: calc(100% + 20px);
        }
        .ct-item {
          background-color: transparent !important;
        }
      }
      .ctib-img {
        position: relative;
        width: 60px;
        height: 60px;
        opacity: 0.3;
        .svg-icon {
          fill: #fff;
        }
      }
      .ctib-text {
        position: relative;
        font-size: $font-sz - 2px;
        color: #fff;
      }
      .ctib-link {
        position: relative;
        font-size: $font-sz - 2px;
        font-weight: $font-w-semibold;
      }
    }
    .cti-attributes {
      .ctia-item {
        font-size: $font-sz - 2px;
        color: $clr-text;
        .ctiai-value {
          color: $clr-text-alt;
        }
      }
    }
  }
  .ct-location {
    a {
      position: relative;
      display: flex;
      align-items: center;
      font-size: $font-sz - 2px;
      color: var(--clr-main);
      overflow: hidden;
      text-overflow: ellipsis;
      transition: color 0.2s linear;
      @include media("<lg") {
        color: var(--clr-main);
      }
      > span {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 500px;
        white-space: nowrap;
        @include media("<lg") {
          max-width: 350px;
        }
        @include media("<md") {
          max-width: 250px;
        }
      }
      &:hover {
        color: var(--clr-main-alt);
        &::after {
          border-color: var(--clr-main-alt) transparent transparent transparent;
        }
      }
      &::after {
        position: relative;
        display: inline-block;
        content: "";
        top: 0.1em;
        margin-left: 0.3em;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 3px 0 3px;
        border-color: var(--clr-main) transparent transparent transparent;
        transition: border-color 0.2s linear;
      }
    }
    .small-icon {
      .si-img {
        .svg-icon {
          fill: var(--clr-main);
        }
      }
    }
  }
  .ct-delivery {
    .ctd-item {
      .ctdi-header {
        .box-label {
          width: 100%;
          font-size: $font-sz;
          color: $clr-text;
          @include media("<md") {
            font-size: $font-sz - 2px;
          }
        }
      }
      .ctdi-body {
        &:not(.active) {
          display: none;
        }
      }
      .ctdi-block {
        padding-top: 20px;
      }
    }
  }
  .ct-payment {
    font-size: $font-sz;
    color: $clr-text;
    @include media("<md") {
      font-size: $font-sz - 2px;
    }
  }
}

.cart-page {
  .c-btn {
    @include media("<sm") {
      width: 100%;
    }
  }
  .f-col-lg-9 {
    &.width-fix {
      @media (min-width: 992px) AND (max-width: 1199px) {
        flex: 0 0 70%;
        max-width: 70%;
      }
    }
  }
  .f-col-lg-3 {
    &.width-fix {
      @media (min-width: 992px) AND (max-width: 1199px) {
        flex: 0 0 30%;
        max-width: 30%;
      }
    }
  }
}

.order-info {
  padding: 40px 30px;
  background-color: $clr-grey-light;
  border-radius: $rad-main;
  @include media("<xl") {
    padding: 30px;
  }
  @include media("<lg") {
    border-radius: 0 0 $rad-main $rad-main;
  }
  @include media("<md") {
    padding: 30px 20px;
  }
  @include media("<sm") {
    padding: 30px 10px;
  }
  .oi-attribute {
    font-size: $font-sz - 2px;
    color: $clr-text;
  }
}

.order-steps {
  position: absolute;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  left: 0;
  bottom: -30px;
  @include media("<sm") {
    bottom: -25px;
  }
  > li {
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60px;
    height: 60px;
    margin-left: 40px;
    border-radius: $rad-circle;
    font-weight: $font-w-bold;
    font-size: $font-sz + 14px;
    background-color: $clr-grey;
    border: 1px solid #fff;
    color: #fff;
    @include media("<sm") {
      width: 50px;
      height: 50px;
      margin-left: 20px;
      font-size: $font-sz + 8px;
    }
    &.active {
      background-color: var(--clr-main);
      &::before {
        opacity: 1;
      }
    }
    &.complete {
      background-color: var(--clr-main-alt);
      &::before {
        opacity: 1;
        background-color: var(--clr-main-alt);
      }
    }
    &:not(:first-of-type) {
      &::before {
        width: 42px;
        @include media("<sm") {
          width: 22px;
        }
      }
    }
    &::before {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      bottom: 0;
      right: 100%;
      margin: auto 0;
      width: 40px;
      height: 6px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      background-color: var(--clr-main);
      opacity: 0;
      @include media("<sm") {
        width: 20px;
      }
    }
  }
}

.delivery-tabs {
  .dt-header {
    .dt-btn {
      &:first-of-type {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:last-of-type {
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &.active {
        background-color: var(--clr-main-alt) !important;
        border-color: var(--clr-main-alt) !important;
      }
    }
  }
  .dt-body {
    &:not(.active) {
      display: none;
    }
    &#delivery-map {
      &:not(.active) {
        display: block;
        height: 0;
        width: 100%;
        overflow: hidden;
      }
    }
  }
  .dt-list {
    background-color: $clr-grey-light;
    padding: 40px;
    border-radius: $rad-main;
    font-size: $font-sz - 2px;
    color: $clr-text;
    @include media("<xl") {
      padding: 30px;
    }
    @include media("<lg") {
      padding: 30px 20px;
    }
    @include media("<sm") {
      padding: 30px 10px;
    }
  }
  .dt-breaker {
    margin-top: 30px;
    margin-bottom: 30px;
    border-color: $clr-grey;
  }
  #delivery-map {
    position: relative;
    width: 100%;
    height: 480px;
    #map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 480px;
    }
  }
  #map-locations-scrollbar {
    height: 300px;
  }
  .balloon-content {
    font-family: $font-family;
    font-size: $font-sz - 2px;
    color: $clr-text;
  }
}

.order-summary {
  padding: 50px;
  border-radius: $rad-main;
  border: 1px solid $clr-grey;
  font-size: $font-sz;
  @include media("<xl") {
    padding: 40px;
  }
  @include media("<md") {
    padding: 30px;
    font-size: $font-sz - 2px;
  }
  @include media("<sm") {
    padding: 30px 10px;
  }
  .os-img {
    position: relative;
    width: 160px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    border-radius: $rad-circle;
    background-color: var(--clr-main);
    @include media("<xl") {
      width: 140px;
      height: 140px;
    }
    @include media("<md") {
      width: 120px;
      height: 120px;
    }
    .svg-icon {
      width: 70px;
      height: 70px;
      fill: #fff;
      @include media("<xl") {
        width: 60px;
        height: 60px;
      }
      @include media("<md") {
        width: 50px;
        height: 50px;
      }
    }
  }
  .os-text {
    color: $clr-text-alt;
  }
  .os-link {
    font-size: $font-sz - 2px;
  }
}
