.amount-counter {
  padding: 0;
  min-width: 80px;
  max-width: 100px !important;
  border-radius: 10px;
  border: none;
}

.amount-counter .ac-input {
  padding-left: 10px;
  padding-right: 10px;
  width: 30px;
  text-align: center;
  height: 30px;
  border-radius: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.amount-counter .ac-control {
  padding: 0;
  min-height: 30px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--clr-main);
}

@media (max-width: 575px) {
  .amount-counter .ac-control {
    width: 35px;
  }
}

.amount-counter .ac-control.minus {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.amount-counter .ac-control.minus .svg-icon {
  width: 15px;
  height: 15px;
  fill: #fff;
}

.amount-counter .ac-control.plus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.amount-counter .ac-control.plus .svg-icon {
  width: 15px;
  height: 15px;
  fill: #fff;
}

.amount-counter .ac-control:hover {
  background-color: var(--clr-main-alt);
}

.amount-counter .ac-control[disabled], .amount-counter .ac-control[disabled]:hover {
  background-color: #e6e6e6;
}

.cart-table {
  position: relative;
}

.cart-table .ct-header {
  z-index: 1;
  position: relative;
  background-color: #fafafb;
  border-radius: 10px 10px 0 0;
  height: 70px;
}

@media (max-width: 991px) {
  .cart-table .ct-header {
    height: 60px;
  }
}

.cart-table .ct-header + .ct-body .ct-item {
  border-radius: 0;
}

.cart-table .ct-header + .ct-body .ct-item .amount-counter .ac-control {
  width: 30px;
}

.cart-table .ct-footer {
  position: relative;
  padding: 20px 40px;
  border-radius: 0 0 10px 10px;
  border: 1px solid #e6e6e6;
  border-top: none;
  background-color: #fff;
}

@media (max-width: 1199px) {
  .cart-table .ct-footer {
    padding: 20px 30px;
  }
}

@media (max-width: 991px) {
  .cart-table .ct-footer {
    padding: 20px 20px;
  }
}

@media (max-width: 575px) {
  .cart-table .ct-footer {
    padding: 30px 10px;
  }
}

.cart-table .ct-footer .ctf-btn.btn-back {
  width: 40px;
  padding-left: 0;
  padding-right: 0;
}

.cart-table .ct-footer .ctf-btn.btn-back:hover .small-icon .si-img .svg-icon {
  fill: #fff;
}

.cart-table .ct-footer .ctf-btn.btn-back .small-icon .si-img {
  width: 100%;
}

.cart-table .ct-footer .ctf-btn.btn-back .small-icon .si-img .svg-icon {
  right: 0;
  left: 0;
  margin: auto;
  fill: var(--clr-main);
}

.cart-table .ct-footer .ctf-btn .small-icon .si-img .svg-icon {
  fill: #fff;
}

.cart-table .ct-title {
  padding: 70px 40px 30px 40px;
  border: 1px solid #e6e6e6;
  border-bottom: none;
}

@media (max-width: 1199px) {
  .cart-table .ct-title {
    padding: 70px 30px 30px 30px;
  }
}

@media (max-width: 991px) {
  .cart-table .ct-title {
    padding: 60px 20px 30px 20px;
  }
}

@media (max-width: 575px) {
  .cart-table .ct-title {
    padding: 60px 10px 30px 10px;
  }
}

.cart-table .ct-title.inner {
  padding: 30px 0 30px 0;
  border: none;
}

@media (max-width: 1199px) {
  .cart-table .ct-title.inner {
    padding: 40px 0 30px 0;
  }
}

@media (max-width: 991px) {
  .cart-table .ct-title.inner {
    padding: 30px 0 30px 0;
  }
}

.cart-table .ct-title + .ct-body .ct-item {
  border-radius: 0;
}

.cart-table .ct-title + .ct-body .ct-item:first-of-type {
  border-top: none;
}

.cart-table .ct-title + .ct-body .ct-item .amount-counter .ac-control {
  width: 30px;
}

.cart-table .ct-item {
  padding: 40px;
  border: 1px solid #e6e6e6;
  border-top: none;
  background-color: #fff;
}

@media (max-width: 1199px) {
  .cart-table .ct-item {
    padding: 30px;
  }
}

@media (max-width: 991px) {
  .cart-table .ct-item {
    padding: 30px 20px;
  }
}

@media (max-width: 575px) {
  .cart-table .ct-item {
    padding: 30px 10px;
  }
}

.cart-table .ct-item:first-of-type {
  border-top: 1px solid #e6e6e6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cart-table .ct-item:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (min-width: 768px) {
  .cart-table .ct-item .cti-img > img {
    max-height: 150px;
  }
}

@media (max-width: 767px) {
  .cart-table .ct-item .cti-img > img {
    max-height: 200px;
  }
}

.cart-table .ct-item .cti-article {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

.cart-table .ct-item .cti-link {
  padding: 0;
  background: none;
  border: none;
  min-height: 0;
  font-size: 14px;
  color: var(--clr-main);
  text-decoration: underline;
  line-height: 1.33333;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.cart-table .ct-item .cti-link:hover {
  color: var(--clr-main-alt);
}

.cart-table .ct-item .cti-price {
  line-height: 1.3333333;
  font-weight: 700;
  font-size: 20px;
  color: var(--clr-main);
  text-align: right;
}

.cart-table .ct-item .cti-price .cti-old {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  text-decoration: line-through;
  color: #454854;
}

.cart-table .ct-item .margin-link-fix {
  margin-top: 75px;
}

@media (max-width: 991px) {
  .cart-table .ct-item .margin-link-fix {
    margin-top: 0;
  }
}

.cart-table .ct-item .cti-block {
  padding-top: 95px;
  position: relative;
  text-align: center;
}

@media (max-width: 991px) {
  .cart-table .ct-item .cti-block {
    padding-top: 30px;
  }
}

.cart-table .ct-item .cti-block::before {
  position: absolute;
  content: "";
  display: block;
  top: -40px;
  right: -40px;
  margin: auto;
  width: calc(100% + 60px + 10px);
  height: calc(100% + 80px);
  background-color: var(--clr-main);
}

@media (max-width: 1199px) {
  .cart-table .ct-item .cti-block::before {
    top: -30px;
    right: -30px;
    height: calc(100% + 60px);
    width: calc(100% + 60px);
  }
}

@media (max-width: 991px) {
  .cart-table .ct-item .cti-block::before {
    top: 0;
    right: -20px;
    height: calc(100% + 30px);
    width: calc(100% + 40px);
  }
}

@media (max-width: 575px) {
  .cart-table .ct-item .cti-block::before {
    right: -10px;
    width: calc(100% + 20px);
  }
}

.cart-table .ct-item .cti-block::before .ct-item {
  background-color: transparent !important;
}

.cart-table .ct-item .cti-block .ctib-img {
  position: relative;
  width: 60px;
  height: 60px;
  opacity: 0.3;
}

.cart-table .ct-item .cti-block .ctib-img .svg-icon {
  fill: #fff;
}

.cart-table .ct-item .cti-block .ctib-text {
  position: relative;
  font-size: 14px;
  color: #fff;
}

.cart-table .ct-item .cti-block .ctib-link {
  position: relative;
  font-size: 14px;
  font-weight: 600;
}

.cart-table .ct-item .cti-attributes .ctia-item {
  font-size: 14px;
  color: #454854;
}

.cart-table .ct-item .cti-attributes .ctia-item .ctiai-value {
  color: #171a29;
}

.cart-table .ct-location a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: var(--clr-main);
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

@media (max-width: 991px) {
  .cart-table .ct-location a {
    color: var(--clr-main);
  }
}

.cart-table .ct-location a > span {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .cart-table .ct-location a > span {
    max-width: 350px;
  }
}

@media (max-width: 767px) {
  .cart-table .ct-location a > span {
    max-width: 250px;
  }
}

.cart-table .ct-location a:hover {
  color: var(--clr-main-alt);
}

.cart-table .ct-location a:hover::after {
  border-color: var(--clr-main-alt) transparent transparent transparent;
}

.cart-table .ct-location a::after {
  position: relative;
  display: inline-block;
  content: "";
  top: 0.1em;
  margin-left: 0.3em;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 3px 0 3px;
  border-color: var(--clr-main) transparent transparent transparent;
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
}

.cart-table .ct-location .small-icon .si-img .svg-icon {
  fill: var(--clr-main);
}

.cart-table .ct-delivery .ctd-item .ctdi-header .box-label {
  width: 100%;
  font-size: 16px;
  color: #454854;
}

@media (max-width: 767px) {
  .cart-table .ct-delivery .ctd-item .ctdi-header .box-label {
    font-size: 14px;
  }
}

.cart-table .ct-delivery .ctd-item .ctdi-body:not(.active) {
  display: none;
}

.cart-table .ct-delivery .ctd-item .ctdi-block {
  padding-top: 20px;
}

.cart-table .ct-payment {
  font-size: 16px;
  color: #454854;
}

@media (max-width: 767px) {
  .cart-table .ct-payment {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .cart-page .c-btn {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .cart-page .f-col-lg-9.width-fix {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .cart-page .f-col-lg-3.width-fix {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
}

.order-info {
  padding: 40px 30px;
  background-color: #fafafb;
  border-radius: 10px;
}

@media (max-width: 1199px) {
  .order-info {
    padding: 30px;
  }
}

@media (max-width: 991px) {
  .order-info {
    border-radius: 0 0 10px 10px;
  }
}

@media (max-width: 767px) {
  .order-info {
    padding: 30px 20px;
  }
}

@media (max-width: 575px) {
  .order-info {
    padding: 30px 10px;
  }
}

.order-info .oi-attribute {
  font-size: 14px;
  color: #454854;
}

.order-steps {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  left: 0;
  bottom: -30px;
}

@media (max-width: 575px) {
  .order-steps {
    bottom: -25px;
  }
}

.order-steps > li {
  position: relative;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 60px;
  height: 60px;
  margin-left: 40px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 30px;
  background-color: #e6e6e6;
  border: 1px solid #fff;
  color: #fff;
}

@media (max-width: 575px) {
  .order-steps > li {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    font-size: 24px;
  }
}

.order-steps > li.active {
  background-color: var(--clr-main);
}

.order-steps > li.active::before {
  opacity: 1;
}

.order-steps > li.complete {
  background-color: var(--clr-main-alt);
}

.order-steps > li.complete::before {
  opacity: 1;
  background-color: var(--clr-main-alt);
}

.order-steps > li:not(:first-of-type)::before {
  width: 42px;
}

@media (max-width: 575px) {
  .order-steps > li:not(:first-of-type)::before {
    width: 22px;
  }
}

.order-steps > li::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  right: 100%;
  margin: auto 0;
  width: 40px;
  height: 6px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: var(--clr-main);
  opacity: 0;
}

@media (max-width: 575px) {
  .order-steps > li::before {
    width: 20px;
  }
}

.delivery-tabs .dt-header .dt-btn:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.delivery-tabs .dt-header .dt-btn:last-of-type {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.delivery-tabs .dt-header .dt-btn.active {
  background-color: var(--clr-main-alt) !important;
  border-color: var(--clr-main-alt) !important;
}

.delivery-tabs .dt-body:not(.active) {
  display: none;
}

.delivery-tabs .dt-body#delivery-map:not(.active) {
  display: block;
  height: 0;
  width: 100%;
  overflow: hidden;
}

.delivery-tabs .dt-list {
  background-color: #fafafb;
  padding: 40px;
  border-radius: 10px;
  font-size: 14px;
  color: #454854;
}

@media (max-width: 1199px) {
  .delivery-tabs .dt-list {
    padding: 30px;
  }
}

@media (max-width: 991px) {
  .delivery-tabs .dt-list {
    padding: 30px 20px;
  }
}

@media (max-width: 575px) {
  .delivery-tabs .dt-list {
    padding: 30px 10px;
  }
}

.delivery-tabs .dt-breaker {
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: #e6e6e6;
}

.delivery-tabs #delivery-map {
  position: relative;
  width: 100%;
  height: 480px;
}

.delivery-tabs #delivery-map #map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 480px;
}

.delivery-tabs #map-locations-scrollbar {
  height: 300px;
}

.delivery-tabs .balloon-content {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #454854;
}

.order-summary {
  padding: 50px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  font-size: 16px;
}

@media (max-width: 1199px) {
  .order-summary {
    padding: 40px;
  }
}

@media (max-width: 767px) {
  .order-summary {
    padding: 30px;
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .order-summary {
    padding: 30px 10px;
  }
}

.order-summary .os-img {
  position: relative;
  width: 160px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: var(--clr-main);
}

@media (max-width: 1199px) {
  .order-summary .os-img {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 767px) {
  .order-summary .os-img {
    width: 120px;
    height: 120px;
  }
}

.order-summary .os-img .svg-icon {
  width: 70px;
  height: 70px;
  fill: #fff;
}

@media (max-width: 1199px) {
  .order-summary .os-img .svg-icon {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 767px) {
  .order-summary .os-img .svg-icon {
    width: 50px;
    height: 50px;
  }
}

.order-summary .os-text {
  color: #171a29;
}

.order-summary .os-link {
  font-size: 14px;
}
/*# sourceMappingURL=cart.css.map */