@import "../vars/vars.scss";
@import "../../include-media";

@mixin vh() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.custom-checkbox {
  input[type="checkbox"],
  input[type="radio"] {
    @include vh();
    + label {
      font-weight: 400;
      position: relative;
      padding: 0 0 0 2em;
      margin-bottom: 0;
      user-select: none;
      &:before {
        content: "";
        position: absolute;
        top: 0.05em;
        left: 0;
        width: 1.2em;
        height: 1.2em;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 50%;
        background: transparent;
        text-align: center;
        transition: all 0.2s linear;
      }
      &:after {
        content: "";
        position: absolute;
        transform: scale(0);
        transition: all 0.2s linear;
      }
      &:hover,
      &:focus {
        &:before {
          border-color: $clr-main;
        }
      }
    }
  }

  input[type="checkbox"] {
    + label {
      &:after {
        background-color: transparent;
        content: "";
        display: block;
        position: absolute;
        left: 0.4em;
        top: 0.25em;
        width: 0.39em;
        height: 0.63em;
        opacity: 0;
        border-bottom: 2px solid $clr-main;
        border-right: 2px solid $clr-main;
        transform: rotate(45deg);
        transition: all 0.2s linear;
      }
    }
    &:checked {
      + label {
        &:before {
          border-color: rgba(255, 255, 255, 0.6);
          background-color: transparent;
          content: "";
        }

        &:after {
          content: "";
          opacity: 1;
        }
      }
    }
  }

  input[type="radio"] {
    + label {
      font-weight: 400;
      &:before,
      &:after {
        border-radius: 50%;
        margin-top: 1px;
      }
      &:after {
        left: 0.23em;
        top: 0.26em;
        width: 0.7em;
        height: 0.7em;
      }
    }
    &:checked {
      + label {
        font-weight: 400;
        &:before {
          border-color: $clr-main;
          animation: borderscale 300ms ease-in;
        }
        &:after {
          background: $clr-main;
          transform: scale(1);
        }
      }
    }
  }
}

.custom-checkbox input[type="checkbox"],
.custom-checkbox input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.custom-checkbox input[type="radio"]:checked + label:before {
  border-color: $clr-main;
  -webkit-animation: borderscale 300ms ease-in;
  animation: borderscale 300ms ease-in;
}

.arrow-checkbox {
  &:after {
    background-color: transparent;
    content: "";
    display: block;
    position: absolute;
    left: 0.4em;
    top: 0.25em;
    width: 0.39em;
    height: 0.63em;
    opacity: 0;
    border-bottom: 2px solid $clr-main;
    border-right: 2px solid $clr-main;
    transform: rotate(45deg);
    transition: all 0.2s linear;
  }

  &:checked {
    + label {
      &:before {
        border-color: rgba(255, 255, 255, 0.6);
        background-color: transparent;
        content: "";
      }

      &:after {
        content: "";
        opacity: 1;
      }
    }
  }
}
