.custom-checkbox input[type="checkbox"],
.custom-checkbox input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.custom-checkbox input[type="checkbox"] + label,
.custom-checkbox input[type="radio"] + label {
  font-weight: 400;
  position: relative;
  padding: 0 0 0 2em;
  margin-bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.custom-checkbox input[type="checkbox"] + label:before,
.custom-checkbox input[type="radio"] + label:before {
  content: "";
  position: absolute;
  top: 0.05em;
  left: 0;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  background: transparent;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.custom-checkbox input[type="checkbox"] + label:after,
.custom-checkbox input[type="radio"] + label:after {
  content: "";
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.custom-checkbox input[type="checkbox"] + label:hover:before, .custom-checkbox input[type="checkbox"] + label:focus:before,
.custom-checkbox input[type="radio"] + label:hover:before,
.custom-checkbox input[type="radio"] + label:focus:before {
  border-color: #fe5a06;
}

.custom-checkbox input[type="checkbox"] + label:after {
  background-color: transparent;
  content: "";
  display: block;
  position: absolute;
  left: 0.4em;
  top: 0.25em;
  width: 0.39em;
  height: 0.63em;
  opacity: 0;
  border-bottom: 2px solid #fe5a06;
  border-right: 2px solid #fe5a06;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.custom-checkbox input[type="checkbox"]:checked + label:before {
  border-color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  content: "";
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
  content: "";
  opacity: 1;
}

.custom-checkbox input[type="radio"] + label {
  font-weight: 400;
}

.custom-checkbox input[type="radio"] + label:before, .custom-checkbox input[type="radio"] + label:after {
  border-radius: 50%;
  margin-top: 1px;
}

.custom-checkbox input[type="radio"] + label:after {
  left: 0.23em;
  top: 0.26em;
  width: 0.7em;
  height: 0.7em;
}

.custom-checkbox input[type="radio"]:checked + label {
  font-weight: 400;
}

.custom-checkbox input[type="radio"]:checked + label:before {
  border-color: #fe5a06;
  -webkit-animation: borderscale 300ms ease-in;
          animation: borderscale 300ms ease-in;
}

.custom-checkbox input[type="radio"]:checked + label:after {
  background: #fe5a06;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.custom-checkbox input[type="checkbox"],
.custom-checkbox input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.custom-checkbox input[type="radio"]:checked + label:before {
  border-color: #fe5a06;
  -webkit-animation: borderscale 300ms ease-in;
  animation: borderscale 300ms ease-in;
}

.arrow-checkbox:after {
  background-color: transparent;
  content: "";
  display: block;
  position: absolute;
  left: 0.4em;
  top: 0.25em;
  width: 0.39em;
  height: 0.63em;
  opacity: 0;
  border-bottom: 2px solid #fe5a06;
  border-right: 2px solid #fe5a06;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.arrow-checkbox:checked + label:before {
  border-color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  content: "";
}

.arrow-checkbox:checked + label:after {
  content: "";
  opacity: 1;
}
/*# sourceMappingURL=checkbox-radioboxes.css.map */