/* =================================================================
  contact-info
================================================================= */
.contact-info a[href^="tel"] {
  color: #fff;
}

.contact-info .small-icon .si-img {
  background-color: #232634;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.contact-info .small-icon .si-img .si-circle {
  width: 16px;
  height: 16px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contact-info .small-icon .si-img .svg-icon {
  fill: #fe5a06 !important;
  width: 100%;
  height: 100%;
}

.contact-info .small-icon .si-text {
  color: #fff;
}

.contact-info .contact-info-title {
  font-size: 40px;
}
/*# sourceMappingURL=contact-info.css.map */