@import "../vars/vars.scss";
@import "../../include-media";

/* =================================================================
  contact-info
================================================================= */

.contact-info {
  a[href^="tel"] {
    color: #fff;
  }

  .small-icon {
    .si-img {
      background-color: #232634;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      .si-circle {
        width: 16px;
        height: 16px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .svg-icon {
        fill: $clr-main !important;
        width: 100%;
        height: 100%;
      }
    }
    .si-text {
      color: #fff;
    }
  }

  .contact-info-title {
    font-size: 40px;
  }
}
