h1,
.h1, h2,
.h2, h3,
.h3, h4,
.h4, h5,
.h5, h6,
.h6 {
  margin-top: 0;
  overflow: hidden;
  font-weight: 600;
  text-overflow: ellipsis;
  line-height: 130%;
  color: #171a29;
}

.font-w-min {
  font-weight: 300 !important;
}

.font-w {
  font-weight: 400 !important;
}

.font-w-medium {
  font-weight: 500 !important;
}

.font-w-semibold {
  font-weight: 600 !important;
}

.font-w-bold {
  font-weight: 700 !important;
}

.font-w-extra-bold {
  font-weight: 800 !important;
}

.font-w-black {
  font-weight: 900 !important;
}

.text-clr {
  color: #454854 !important;
}

.text-clr-white {
  color: #fff !important;
}

.text-clr-alt {
  color: #171a29 !important;
}

.text-main {
  color: #fe5a06 !important;
}

.text-main-alt {
  color: #171a29 !important;
}

.svg-main-alt {
  fill: #171a29 !important;
}

.svg-main {
  fill: #fe5a06 !important;
}

.text-underline {
  text-decoration: underline !important;
}

h1,
.h1 {
  margin-bottom: 30px;
  font-size: 48px;
}

@media (min-width: 768px) {
  h1,
  .h1 {
    margin-bottom: 59px;
    font-size: 54px;
  }
}

h1 b,
h1 strong,
.h1 b,
.h1 strong {
  color: #fe5a06;
  font-weight: 500 !important;
}

h2,
.h2 {
  margin-bottom: 15px;
  font-size: 22px;
}

@media (min-width: 768px) {
  h2,
  .h2 {
    font-size: 26px;
  }
}

h3,
.h3 {
  margin-bottom: 15px;
  font-size: 20px;
}

@media (min-width: 768px) {
  h3,
  .h3 {
    font-size: 24px;
  }
}

h4,
.h4 {
  margin-bottom: 15px;
  font-size: 18px;
}

@media (min-width: 768px) {
  h4,
  .h4 {
    font-size: 22px;
  }
}

h5,
.h5 {
  margin-bottom: 15px;
  font-size: 16px;
}

@media (min-width: 768px) {
  h5,
  .h5 {
    font-size: 20px;
  }
}

h6,
.h6 {
  margin-bottom: 15px;
  font-size: 14px;
}

@media (min-width: 768px) {
  h6,
  .h6 {
    font-size: 18px;
  }
}

.title, .title-1, .title-2, .title-3, .title-4, .title-5, .title-6, .title-7, .title-8, .title-s-min, .title-slide, .title-p {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 130%;
  font-weight: 400;
  color: #171a29;
}

.title p, .title-1 p, .title-2 p, .title-3 p, .title-4 p, .title-5 p, .title-6 p, .title-7 p, .title-8 p, .title-s-min p, .title-slide p, .title-p p {
  margin: 0;
}

.title-1 {
  position: relative;
  font-size: 40px;
}

.title-1 b,
.title-1 strong {
  color: #fe5a06;
  font-weight: 500 !important;
}

.title-2 {
  font-size: 22px;
  position: relative;
  line-height: 140%;
  color: #171a29 !important;
  font-weight: 500 !important;
}

.title-3 {
  color: #97989f !important;
  font-size: 14px;
}

.title-4 {
  font-size: 16px;
}

.title-5 {
  font-size: 22px;
  font-weight: 500 !important;
}

.title-5 b,
.title-5 strong {
  font-size: 40px;
}

@media (max-width: 767px) {
  .title-5 b,
  .title-5 strong {
    font-size: 36px;
  }
}

.title-6 {
  font-size: 18px;
  font-weight: 500 !important;
}

@media (max-width: 767px) {
  .title-6 {
    font-size: 16px;
  }
}

.title-404 {
  font-size: 100px;
}

@media (max-width: 767px) {
  .title-404 {
    font-size: 70px;
  }
}

.title-7 {
  font-size: 22px;
  font-weight: 500 !important;
}

.title-8 {
  font-size: 18px;
  color: #0e2153 !important;
  text-transform: uppercase;
}

.title-s-min {
  font-size: 12px;
  font-weight: 400 !important;
}

.title-slide {
  position: relative;
  font-size: 36px;
  color: #171a29;
  font-weight: 500 !important;
}

@media (min-width: 768px) {
  .title-slide {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .title-slide {
    font-size: 70px;
  }
}

.title-clr-main {
  color: #fe5a06 !important;
}

.n-title {
  font-size: 30px;
  text-transform: uppercase;
}

.title-p {
  font-size: 16px;
  font-weight: 400 !important;
  color: #171a29;
  line-height: 170%;
}

.title-p p {
  margin: 0 0 15px 0;
}

.s-subtitle {
  font-size: 12px;
  color: #97989f;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}

.s-subtitle::after {
  content: "";
  display: inline-block;
  background-color: #97989f;
  height: 2px;
  width: 68px;
  position: absolute;
  top: 9px;
  left: -100px;
}

@media (max-width: 991px) {
  .s-subtitle::after {
    width: 40px;
    left: -60px;
  }
}

@media (max-width: 767px) {
  .s-subtitle::after {
    display: none;
  }
}
/*# sourceMappingURL=fonts-settings.css.map */