@import "../vars/vars.scss";
@import "../../include-media";

%headers {
  margin-top: 0;
  overflow: hidden;
  font-weight: $font-w-semibold;
  text-overflow: ellipsis;
  line-height: $lineHeight;
  color: $clr-text-alt;
}

.font-w-min {
  font-weight: $font-w-min !important;
}

.font-w {
  font-weight: $font-w !important;
}

.font-w-medium {
  font-weight: $font-w-medium !important;
}

.font-w-semibold {
  font-weight: $font-w-semibold !important;
}

.font-w-bold {
  font-weight: $font-w-bold !important;
}

.font-w-extra-bold {
  font-weight: $font-w-extra-bold !important;
}

.font-w-black {
  font-weight: $font-w-black !important;
}

.text-clr {
  color: $clr-text !important;
}

.text-clr-white {
  color: $clr-text-white !important;
}

.text-clr-alt {
  color: $clr-text-alt !important;
}

.text-main {
  color: $clr-main !important;
}
.text-main-alt {
  color: $clr-main-alt !important;
}

.svg-main-alt {
  fill: $clr-main-alt !important;
}

.svg-main {
  fill: $clr-main !important;
}

.text-underline {
  text-decoration: underline !important;
}

h1,
.h1 {
  @extend %headers;
  margin-bottom: $font-sz * 2 - 2px;
  font-size: 48px;
  @include media(">=md") {
    margin-bottom: $font-sz * 4 - 5px;
    font-size: 54px;
  }

  b,
  strong {
    color: $clr-main;
    font-weight: 500 !important;
  }
}

h2,
.h2 {
  @extend %headers;
  margin-bottom: 15px;
  font-size: $font-sz * 2 - 10px;
  @include media(">=md") {
    font-size: $font-sz * 2 - 6px;
  }
}

@for $i from 3 through 6 {
  h#{$i},
  .h#{$i} {
    @extend %headers;
    margin-bottom: 15px;
    font-size: $font-sz * 2 - 6px - $i * 2;
    @include media(">=md") {
      font-size: $font-sz * 2 - 2px - $i * 2;
    }
  }
}

%title {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: $lineHeight;
  font-weight: $font-w;
  color: $clr-text-alt;

  p {
    margin: 0;
  }
}

.title {
  @extend %title;
}

.title-1 {
  @extend %title;
  position: relative;
  font-size: 40px;

  b,
  strong {
    color: $clr-main;
    font-weight: 500 !important;
  }
}

.title-2 {
  @extend %title;
  font-size: 22px;
  position: relative;
  line-height: 140%;
  color: #171a29 !important;
  font-weight: 500 !important;
}

.title-3 {
  @extend %title;
  color: #97989f !important;
  font-size: 14px;
}

.title-4 {
  @extend %title;
  font-size: $font-sz;
}

.title-5 {
  @extend %title;
  font-size: 22px;
  font-weight: $font-w-medium !important;

  b,
  strong {
    font-size: 40px;

    @include media("<md") {
      font-size: 36px;
    }
  }
}

.title-6 {
  @extend %title;
  font-size: $font-sz + 2px;
  font-weight: 500 !important;
  @include media("<md") {
    font-size: $font-sz;
  }
}

.title-404 {
  font-size: $font-sz + 84px;
  @include media("<md") {
    font-size: $font-sz + 54px;
  }
}

.title-7 {
  @extend %title;
  font-size: $font-sz + 6px;
  font-weight: $font-w-medium !important;
}

.title-8 {
  @extend %title;
  font-size: 18px;
  color: #0e2153 !important;
  text-transform: uppercase;
}

.title-s-min {
  @extend %title;
  font-size: $font-s-min;
  font-weight: 400 !important;
}

.title-slide {
  @extend %title;
  position: relative;
  font-size: 36px;
  color: $clr-main-alt;
  font-weight: 500 !important;
  @include media(">=md") {
    font-size: 40px;
  }
  @include media(">=xl") {
    font-size: 70px;
  }
}

.title-clr-main {
  color: $clr-main !important;
}

.n-title {
  font-size: 30px;
  text-transform: uppercase;
}

.title-p {
  @extend %title;
  font-size: $font-sz;
  font-weight: 400 !important;
  color: $clr-text-alt;
  line-height: 170%;

  p {
    margin: 0 0 15px 0;
  }
}

.s-subtitle {
  font-size: 12px;
  color: #97989f;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    background-color: #97989f;
    height: 2px;
    width: 68px;
    position: absolute;
    top: 9px;
    left: -100px;

    @include media("<lg") {
      width: 40px;
      left: -60px;
    }
    @include media("<md") {
      display: none;
    }
  }
}
