@charset "UTF-8";
h1,
.h1, h2,
.h2, h3,
.h3, h4,
.h4, h5,
.h5, h6,
.h6 {
  margin-top: 0;
  overflow: hidden;
  font-weight: 600;
  text-overflow: ellipsis;
  line-height: 130%;
  color: #171a29;
}

.font-w-min {
  font-weight: 300 !important;
}

.font-w {
  font-weight: 400 !important;
}

.font-w-medium {
  font-weight: 500 !important;
}

.font-w-semibold {
  font-weight: 600 !important;
}

.font-w-bold {
  font-weight: 700 !important;
}

.font-w-extra-bold {
  font-weight: 800 !important;
}

.font-w-black {
  font-weight: 900 !important;
}

.text-clr {
  color: #454854 !important;
}

.text-clr-white {
  color: #fff !important;
}

.text-clr-alt {
  color: #171a29 !important;
}

.text-main {
  color: #fe5a06 !important;
}

.text-main-alt {
  color: #171a29 !important;
}

.svg-main-alt {
  fill: #171a29 !important;
}

.svg-main {
  fill: #fe5a06 !important;
}

.text-underline {
  text-decoration: underline !important;
}

h1,
.h1 {
  margin-bottom: 30px;
  font-size: 48px;
}

@media (min-width: 768px) {
  h1,
  .h1 {
    margin-bottom: 59px;
    font-size: 54px;
  }
}

h1 b,
h1 strong,
.h1 b,
.h1 strong {
  color: #fe5a06;
  font-weight: 500 !important;
}

h2,
.h2 {
  margin-bottom: 15px;
  font-size: 22px;
}

@media (min-width: 768px) {
  h2,
  .h2 {
    font-size: 26px;
  }
}

h3,
.h3 {
  margin-bottom: 15px;
  font-size: 20px;
}

@media (min-width: 768px) {
  h3,
  .h3 {
    font-size: 24px;
  }
}

h4,
.h4 {
  margin-bottom: 15px;
  font-size: 18px;
}

@media (min-width: 768px) {
  h4,
  .h4 {
    font-size: 22px;
  }
}

h5,
.h5 {
  margin-bottom: 15px;
  font-size: 16px;
}

@media (min-width: 768px) {
  h5,
  .h5 {
    font-size: 20px;
  }
}

h6,
.h6 {
  margin-bottom: 15px;
  font-size: 14px;
}

@media (min-width: 768px) {
  h6,
  .h6 {
    font-size: 18px;
  }
}

.title, .title-1, .title-2, .title-3, .title-4, .title-5, .title-6, .title-7, .title-8, .title-s-min, .title-slide, .title-p {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 130%;
  font-weight: 400;
  color: #171a29;
}

.title p, .title-1 p, .title-2 p, .title-3 p, .title-4 p, .title-5 p, .title-6 p, .title-7 p, .title-8 p, .title-s-min p, .title-slide p, .title-p p {
  margin: 0;
}

.title-1 {
  position: relative;
  font-size: 40px;
}

.title-1 b,
.title-1 strong {
  color: #fe5a06;
  font-weight: 500 !important;
}

.title-2 {
  font-size: 22px;
  position: relative;
  line-height: 140%;
  color: #171a29 !important;
  font-weight: 500 !important;
}

.title-3 {
  color: #97989f !important;
  font-size: 14px;
}

.title-4 {
  font-size: 16px;
}

.title-5 {
  font-size: 22px;
  font-weight: 500 !important;
}

.title-5 b,
.title-5 strong {
  font-size: 40px;
}

@media (max-width: 767px) {
  .title-5 b,
  .title-5 strong {
    font-size: 36px;
  }
}

.title-6 {
  font-size: 18px;
  font-weight: 500 !important;
}

@media (max-width: 767px) {
  .title-6 {
    font-size: 16px;
  }
}

.title-404 {
  font-size: 100px;
}

@media (max-width: 767px) {
  .title-404 {
    font-size: 70px;
  }
}

.title-7 {
  font-size: 22px;
  font-weight: 500 !important;
}

.title-8 {
  font-size: 18px;
  color: #0e2153 !important;
  text-transform: uppercase;
}

.title-s-min {
  font-size: 12px;
  font-weight: 400 !important;
}

.title-slide {
  position: relative;
  font-size: 36px;
  color: #171a29;
  font-weight: 500 !important;
}

@media (min-width: 768px) {
  .title-slide {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .title-slide {
    font-size: 70px;
  }
}

.title-clr-main {
  color: #fe5a06 !important;
}

.n-title {
  font-size: 30px;
  text-transform: uppercase;
}

.title-p {
  font-size: 16px;
  font-weight: 400 !important;
  color: #171a29;
  line-height: 170%;
}

.title-p p {
  margin: 0 0 15px 0;
}

.s-subtitle {
  font-size: 12px;
  color: #97989f;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}

.s-subtitle::after {
  content: "";
  display: inline-block;
  background-color: #97989f;
  height: 2px;
  width: 68px;
  position: absolute;
  top: 9px;
  left: -100px;
}

@media (max-width: 991px) {
  .s-subtitle::after {
    width: 40px;
    left: -60px;
  }
}

@media (max-width: 767px) {
  .s-subtitle::after {
    display: none;
  }
}

/* =================================================================
  slick
================================================================= */
.slick-slider .slick-list {
  height: 100%;
  overflow: inherit;
}

.slick-slider .slick-list .slick-track {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.slick-slider .slick-list .slick-track .slick-slide {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.slick-slider.slick-dotted {
  margin-bottom: 0;
}

.slick-slider .slick-slide {
  float: none !important;
  height: auto;
}

.slick-slider-alt {
  margin-left: -8px;
  margin-right: -8px;
}

@media (min-width: 992px) {
  .slick-slider-alt {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.slick-slider-alt.slider-vertical {
  margin: 0 0 -10px 0;
}

@media (min-width: 992px) {
  .slick-slider-alt.slider-vertical {
    margin: 0 0 -10px 0;
  }
}

.slick-slider-alt.slider-vertical .slick-list .slick-track {
  display: block;
}

.slick-slider-alt.slider-vertical .ss-item {
  margin: 0 0 10px 0;
}

@media (min-width: 992px) {
  .slick-slider-alt.slider-vertical .ss-item {
    margin: 0 0 10px 0;
  }
}

.slick-slider-alt.slick-static .slick-list .slick-track {
  margin-left: 0;
  -webkit-transform: none !important;
          transform: none !important;
}

.slick-slider-alt .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slider-alt .ss-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 8px;
}

@media (min-width: 992px) {
  .slick-slider-alt .ss-item {
    margin: 0 15px;
  }
}

.slick-slider-alt .ss-item img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
}

/* Visibility fix */
.slider-visibility {
  overflow: hidden;
}

.slider-visibility .ss-item:not(:first-of-type),
.slider-visibility .ss-slide:not(:first-of-type),
.slider-visibility .ms-slide:not(:first-of-type) {
  display: none !important;
}

.slider-visibility.slick-initialized .ss-item,
.slider-visibility.slick-initialized .ss-slide,
.slider-visibility.slick-initialized .ms-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

/* Slick switches */
.slick-switches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-switches .ss-switch {
  position: relative;
  top: 35%;
  background: #fff;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 1;
}

.slick-switches .ss-switch .svg-switch {
  position: absolute;
  width: 17px;
  height: 20px;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slick-switches .ss-switch .svg-switch .svg-icon {
  width: 100%;
  height: 100%;
  fill: #fe5a06;
}

.slick-switches .ss-switch.next .svg-switch {
  left: 56%;
}

.slick-switches .ss-switch:hover {
  border: 1px solid #fe5a06;
  background-color: #fe5a06;
}

.slick-switches .ss-switch:hover .svg-icon {
  fill: #fff !important;
}

.slick-switches .ss-switch.small {
  width: 30px;
  height: 30px;
}

.slick-switches .ss-switch.small .svg-icon {
  width: 9px;
  height: 15px;
  margin: auto 0;
}

.slick-switches .ss-switch.small.prev .svg-icon {
  right: auto;
  left: 0;
}

.slick-switches .ss-switch.small.next .svg-icon {
  left: auto;
  right: 0;
}

.slick-switches .ss-switch.white.prev .svg-icon {
  fill: #fff;
}

.slick-switches .ss-switch.white.next .svg-icon {
  fill: #fff;
}

.slick-switches .ss-breaker {
  height: 30px;
  width: 0;
  margin-left: 15px;
  margin-right: 15px;
  border-left: 1px solid #e6e6e6;
}

/* Slick dots */
.slick-switches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-switches .ss-dots {
  height: 35px;
  pointer-events: none;
}

.slick-switches .ss-dots .slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
  position: relative;
  bottom: auto;
  margin-bottom: 0;
  width: auto;
}

.slick-switches .ss-dots .slick-dots li {
  display: block;
  float: left;
  margin: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-right: 10px;
}

.slick-switches .ss-dots .slick-dots li button {
  padding: 0;
  height: 10px;
  width: 10px;
  text-indent: -9999px;
  pointer-events: auto;
}

.slick-switches .ss-dots .slick-dots li button::before {
  opacity: 1;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #b9babf;
  background: transparent;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.slick-switches .ss-dots .slick-dots li.slick-active {
  border: 1px solid #fe5a06;
}

.slick-switches .ss-dots .slick-dots li.slick-active button::before {
  background-color: #fe5a06;
  border-color: #fe5a06;
}

@media (max-width: 991px) {
  .slick-switches-center {
    position: absolute;
    width: 100%;
    top: 0;
    max-width: 300px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.slick-dots-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .slick-dots-center {
    max-width: 200px;
    margin: 0 auto;
  }
}

.fancybox-toolbar .fancybox-button {
  background: rgba(var(--clr-main-red), var(--clr-main-green), var(--clr-main-blue), 0.6);
}

.fancybox-navigation .fancybox-button {
  background-color: rgba(var(--clr-main-red), var(--clr-main-green), var(--clr-main-blue), 0.6);
}

.fancybox-thumbs__list a:before {
  border: 3px solid var(--clr-main);
}

.fancybox-custom .fancybox-thumbs {
  top: auto;
  width: auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: 95px;
  padding: 10px 10px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
}

.fancybox-custom .fancybox-inner {
  right: 0;
  bottom: 95px;
  overflow: visible;
}

.custom-checkbox input[type="checkbox"],
.custom-checkbox input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.custom-checkbox input[type="checkbox"] + label,
.custom-checkbox input[type="radio"] + label {
  font-weight: 400;
  position: relative;
  padding: 0 0 0 2em;
  margin-bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.custom-checkbox input[type="checkbox"] + label:before,
.custom-checkbox input[type="radio"] + label:before {
  content: "";
  position: absolute;
  top: 0.05em;
  left: 0;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  background: transparent;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.custom-checkbox input[type="checkbox"] + label:after,
.custom-checkbox input[type="radio"] + label:after {
  content: "";
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.custom-checkbox input[type="checkbox"] + label:hover:before, .custom-checkbox input[type="checkbox"] + label:focus:before,
.custom-checkbox input[type="radio"] + label:hover:before,
.custom-checkbox input[type="radio"] + label:focus:before {
  border-color: #fe5a06;
}

.custom-checkbox input[type="checkbox"] + label:after {
  background-color: transparent;
  content: "";
  display: block;
  position: absolute;
  left: 0.4em;
  top: 0.25em;
  width: 0.39em;
  height: 0.63em;
  opacity: 0;
  border-bottom: 2px solid #fe5a06;
  border-right: 2px solid #fe5a06;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.custom-checkbox input[type="checkbox"]:checked + label:before {
  border-color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  content: "";
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
  content: "";
  opacity: 1;
}

.custom-checkbox input[type="radio"] + label {
  font-weight: 400;
}

.custom-checkbox input[type="radio"] + label:before, .custom-checkbox input[type="radio"] + label:after {
  border-radius: 50%;
  margin-top: 1px;
}

.custom-checkbox input[type="radio"] + label:after {
  left: 0.23em;
  top: 0.26em;
  width: 0.7em;
  height: 0.7em;
}

.custom-checkbox input[type="radio"]:checked + label {
  font-weight: 400;
}

.custom-checkbox input[type="radio"]:checked + label:before {
  border-color: #fe5a06;
  -webkit-animation: borderscale 300ms ease-in;
          animation: borderscale 300ms ease-in;
}

.custom-checkbox input[type="radio"]:checked + label:after {
  background: #fe5a06;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.custom-checkbox input[type="checkbox"],
.custom-checkbox input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.custom-checkbox input[type="radio"]:checked + label:before {
  border-color: #fe5a06;
  -webkit-animation: borderscale 300ms ease-in;
  animation: borderscale 300ms ease-in;
}

.arrow-checkbox:after {
  background-color: transparent;
  content: "";
  display: block;
  position: absolute;
  left: 0.4em;
  top: 0.25em;
  width: 0.39em;
  height: 0.63em;
  opacity: 0;
  border-bottom: 2px solid #fe5a06;
  border-right: 2px solid #fe5a06;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.arrow-checkbox:checked + label:before {
  border-color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  content: "";
}

.arrow-checkbox:checked + label:after {
  content: "";
  opacity: 1;
}

.search {
  background-color: transparent;
}

.search form {
  float: none;
  border: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.search .input-group {
  float: none;
  border: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  position: relative;
  width: 100%;
}

.search .input-group .form-control {
  height: 100%;
  float: none;
  border: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  padding-right: 65px;
  padding-left: 15px;
  border-radius: 5px !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.search .input-group .form-control:focus {
  border-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 10px 18px rgba(150, 150, 150, 0.1) !important;
          box-shadow: 0 10px 18px rgba(150, 150, 150, 0.1) !important;
}

.search .input-group .input-group-addon {
  float: none;
  border: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 20;
  display: block;
  padding: 0;
  border-radius: 10px;
  width: 50px;
  height: calc(100% - 2px);
  background-color: transparent;
  overflow: hidden;
}

.search .s-btn {
  position: relative;
  z-index: 20;
  padding: 0 !important;
  margin-top: 9px;
  min-height: 0 !important;
  width: 14px;
  height: 14px;
  border: 0;
  border-left: none;
  border-radius: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: transparent;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0.8;
}

.search .s-btn:hover, .search .s-btn:active, .search .s-btn:focus {
  opacity: 0.7;
  cursor: pointer;
  background-color: transparent;
}

/* Buttons */
.btn {
  position: relative;
  font-size: 14px;
  padding: 15px 40px;
  min-height: 50px;
  font-weight: 400 !important;
  text-decoration: none;
  border-width: 2px;
  border-radius: 100px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: color 0.2s linear, background 0.2s linear, border 0.2s linear;
  transition: color 0.2s linear, background 0.2s linear, border 0.2s linear;
  overflow: hidden;
  letter-spacing: 0.02em;
}

.btn .small-icon .si-img {
  height: 1em;
  width: 1em;
  margin-right: 10px;
}

.btn .small-icon .si-text {
  line-height: 1;
}

.btn .small-icon .si-text + .si-img {
  margin-right: 0;
  margin-left: 10px;
}

.btn[disabled] {
  color: #171a29 !important;
  background-color: #e6e6e6 !important;
  border-color: #e6e6e6 !important;
}

.btn[disabled]:focus, .btn[disabled].focus, .btn[disabled]:hover, .btn[disabled].hover, .btn[disabled]:active, .btn[disabled].active {
  color: #171a29 !important;
  background-color: #e6e6e6 !important;
  border-color: #e6e6e6 !important;
}

.btn .btn-svg {
  width: 12px;
  height: 6px;
  left: 5px;
  top: -2px;
  position: relative;
  display: inline-block;
}

.btn .btn-svg .svg-icon {
  width: 100%;
  height: 100%;
  position: absolute;
}

.btn-lg {
  padding: 16px 30px;
  min-height: 60px;
  border-radius: 30px;
  font-size: 16px;
}

.btn-sm {
  padding: 8px 15px;
  min-height: 40px;
  border-radius: 30px;
  font-size: 12px;
}

.btn-default {
  color: #fe5a06;
  background: transparent;
  border-color: #e8e8ea;
}

.btn-default .btn-svg .svg-icon {
  fill: #fff !important;
}

.btn-default:focus, .btn-default.focus, .btn-default:hover, .btn-default.hover {
  color: #fff !important;
  background: #fe5a06 !important;
  border-color: #fe5a06 !important;
}

.btn-default:focus .svg-icon, .btn-default.focus .svg-icon, .btn-default:hover .svg-icon, .btn-default.hover .svg-icon {
  fill: #fff !important;
}

.btn-default:active, .btn-default.active {
  color: #fff !important;
  background: #fe5a06 !important;
  border-color: #fe5a06 !important;
}

.btn-default:active .svg-icon, .btn-default.active .svg-icon {
  fill: #fff !important;
}

.btn-default span {
  font-weight: 500 !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #171a29 !important;
  border-color: #171a29 !important;
  font-weight: 400 !important;
  text-decoration: underline;
}

.btn-primary .svg-icon {
  fill: #171a29 !important;
}

.btn-primary:hover, .btn-primary.hover {
  color: #171a29 !important;
  background-color: #f3f6f4 !important;
  border-color: #f3f6f4 !important;
}

.btn-primary:hover .svg-icon, .btn-primary.hover .svg-icon {
  fill: #f2f8ec !important;
}

.btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
  color: #171a29 !important;
  background-color: #f3f6f4 !important;
  border-color: #f3f6f4 !important;
}

.btn-primary:focus .svg-icon, .btn-primary.focus .svg-icon, .btn-primary:active .svg-icon, .btn-primary.active .svg-icon {
  fill: #f2f8ec !important;
}

.btn-secondary {
  color: #fff;
  background-color: transparent !important;
  border: 1px solid #fff !important;
}

.btn-secondary:focus, .btn-secondary.focus {
  color: #fe5a06 !important;
  background-color: transparent !important;
  border-color: #fe5a06 !important;
}

.btn-secondary:focus .svg-icon, .btn-secondary.focus .svg-icon {
  fill: #fe5a06 !important;
}

.btn-secondary:hover, .btn-secondary.hover, .btn-secondary:active, .btn-secondary.active {
  color: #fe5a06 !important;
  background-color: transparent !important;
  border-color: #fe5a06 !important;
}

.btn-secondary:hover .svg-icon, .btn-secondary.hover .svg-icon, .btn-secondary:active .svg-icon, .btn-secondary.active .svg-icon {
  fill: #fe5a06 !important;
}

.btn-secondary .svg-icon {
  fill: #fe5a06 !important;
}

.btn-third {
  color: #fff !important;
  background-color: #fe5a06 !important;
  border-color: #fe5a06 !important;
}

.btn-third:focus, .btn-third.focus {
  color: #fff !important;
  background-color: #5d79bd !important;
  border-color: #5d79bd !important;
}

.btn-third:focus .svg-icon, .btn-third.focus .svg-icon {
  fill: #fff !important;
}

.btn-third:hover, .btn-third.hover, .btn-third:active, .btn-third.active {
  color: #fff !important;
  background-color: #5d79bd !important;
  border-color: #5d79bd !important;
}

.btn-third:hover .svg-icon, .btn-third.hover .svg-icon, .btn-third:active .svg-icon, .btn-third.active .svg-icon {
  fill: #fff !important;
}

.btn-third .svg-icon {
  fill: #171a29 !important;
}

/* Forms */
.control-label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 13px;
  border-bottom: 0;
  color: rgba(255, 255, 255, 0.7);
}

.help-block {
  font-size: 14px;
}

.form-note {
  font-size: 14px;
  color: #454854;
  font-weight: 300 !important;
}

.form-link {
  font-size: 14px;
  color: #171a29;
  text-decoration: none;
  font-weight: 500;
}

.form-link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.form-control {
  padding: 13px 20px;
  height: 50px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400 !important;
  border-radius: 100px;
  border: 1px solid #9EA0AA;
  background-color: rgba(255, 255, 255, 0.1);
  line-height: 1.1;
  color: #171a29;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: color 0.2s linear, border 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: color 0.2s linear, border 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
  transition: color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.form-control:focus {
  outline: 0;
  background-color: rgba(255, 255, 255, 0.1);
  color: #171a29;
  border: 1px solid #9EA0AA;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form-control::-moz-placeholder, .form-control:-ms-input-placeholder, .form-control::-webkit-input-placeholder {
  color: #171a29;
  font-weight: 400 !important;
}

.form-control option:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #171a29;
}

.has-error .form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fce5e5;
  border-color: #e31e24;
}

.modal-contact .form-control {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-contact .form-control:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-contact .form-control::-moz-placeholder, .modal-contact .form-control:-ms-input-placeholder, .modal-contact .form-control::-webkit-input-placeholder {
  color: #adadad;
}

.form-group ::-webkit-input-placeholder {
  /* Chrome */
  color: #171a29;
  font-weight: 400 !important;
}

.form-group :-ms-input-placeholder {
  /* IE 10+ */
  color: #171a29;
  font-weight: 400 !important;
}

.form-group ::-moz-placeholder {
  /* Firefox 19+ */
  color: #171a29;
  font-weight: 400 !important;
}

/* Modal */
.modal {
  line-height: normal;
  font-size: 14px;
  color: #454854;
  text-align: center;
}

.modal::before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-right: -4px;
  vertical-align: middle;
  font-weight: 300;
}

@media (min-width: 768px) {
  .modal {
    font-size: 16px;
    padding: 0 !important;
  }
}

@media (max-width: 767px) {
  .modal::before {
    height: 10%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: calc(100% - 20px);
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 450px;
  }
}

.modal-content {
  border: none;
  border-radius: 2px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #171a29;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

.modal-note {
  font-style: italic;
  font-size: 12px;
  color: #171a29;
}

@media (min-width: 768px) {
  .modal-note {
    font-size: 14px;
  }
}

.modal-note a {
  color: #454854;
}

@media (min-width: 576px) {
  .modal-container {
    width: 540px !important;
  }
}

@media (min-width: 768px) {
  .modal-container {
    width: 720px !important;
  }
}

@media (min-width: 992px) {
  .modal-container {
    width: 960px !important;
  }
}

@media (min-width: 1200px) {
  .modal-container {
    width: 1140px !important;
  }
}

@media (min-width: 768px) {
  .modal-lg {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 960px;
  }
}

@media (min-width: 992px) {
  .modal-md {
    width: 650px;
  }
}

@media (min-width: 768px) {
  .modal-sm {
    width: 350px;
  }
}

.modal-title {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 150%;
  font-weight: 400;
  color: #171a29;
  position: relative;
  font-size: 20px !important;
  text-transform: none !important;
  font-weight: 700;
}

@media (min-width: 992px) {
  .modal-title {
    font-size: 24px !important;
  }
}

.modal-date {
  font-size: 14px;
  color: #171a29;
}

.modal-header {
  padding: 30px;
  border-bottom: none;
  border-radius: 0;
}

@media (max-width: 575px) {
  .modal-header {
    padding: 30px 20px;
  }
}

.modal-header .close {
  z-index: 50;
  position: absolute;
  margin: 0;
  width: 60px;
  height: 60px;
  opacity: 1;
  text-shadow: none;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  background-color: #fafafb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-header .close:hover .svg-icon {
  fill: #b9babf;
}

.modal-header .close .small-icon {
  position: relative;
  width: 15px;
  height: 15px;
}

.modal-header .close .svg-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  fill: #b9babf;
}

.modal-body {
  padding: 0px 30px 30px 30px;
}

@media (max-width: 575px) {
  .modal-body {
    padding: 0px 20px 30px 20px;
  }
}

.modal-body label {
  font-weight: 700;
}

.modal-body .modal-submit .btn {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 768px) {
  .modal-body .modal-submit .btn {
    width: auto;
    padding: 15px 40px;
  }
}

.modal-text {
  font-size: 16px;
  color: #454854;
}

@media (max-width: 767px) {
  .modal-text {
    font-size: 14px;
  }
}

.box-label_remember {
  font-size: 13px !important;
  font-weight: 400 !important;
}

.modal-textarea {
  min-height: 100px;
}

.modal-link {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
}

/* Navbar */
.navbar {
  border: none;
  border-radius: 0;
  margin: 0;
  min-height: 0;
}

@media (min-width: 1200px) {
  .navbar .navbar-header {
    display: none !important;
  }
}

.navbar .navbar-collapse {
  padding: 0;
}

.navbar .navbar-toggle {
  display: block;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}

@media (max-width: 1199px) {
  .navbar .navbar-toggle {
    display: block;
  }
}

.navbar .navbar-toggle:not(.collapsed) {
  background-size: 25px 25px;
}

.navbar .navbar-nav {
  margin: 0;
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar .navbar-nav::before, .navbar .navbar-nav::after {
  display: none;
}

.navbar .navbar-nav > li {
  margin: 0 10px;
  float: none;
}

.navbar .navbar-nav > li > a {
  padding: 15px 0;
  font-size: 16px;
  line-height: 1.42857143 !important;
  text-decoration: none;
  color: #171a29;
  background-color: transparent;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar .navbar-nav > li > a:hover {
  color: var(--clr-main);
  background-color: transparent;
}

.navbar .navbar-nav > li.active > a, .navbar .navbar-nav > li.active > a:hover {
  color: var(--clr-main);
  background-color: transparent;
  font-weight: 700;
}

.navbar .navbar-nav > li.open > a, .navbar .navbar-nav > li.open > a:hover {
  color: var(--clr-main);
  background-color: transparent;
}

@media (max-width: 1199px) {
  .navbar {
    position: static;
  }
  .navbar .navbar-block {
    max-width: none !important;
    width: 100%;
    margin: 0 auto;
    padding-top: 160px;
  }
  .navbar .navbar-collapse {
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    z-index: -1;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    border: 0;
    background-color: #fff !important;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
  }
  .navbar .navbar-nav {
    padding: 10px;
    margin: 0;
    display: block;
  }
  .navbar .navbar-nav > li {
    margin: 0;
  }
  .navbar .navbar-nav > li > a {
    color: #171a29;
    padding: 10px 0;
  }
  .navbar .navbar-nav > li > a:hover {
    color: var(--clr-main);
    background-color: transparent;
  }
  .navbar .navbar-nav > li.active > a, .navbar .navbar-nav > li.active > a:hover {
    color: var(--clr-main);
    background-color: transparent;
    font-weight: 700;
  }
  .navbar .navbar-nav > li.open > a, .navbar .navbar-nav > li.open > a:hover {
    color: var(--clr-main);
    background-color: transparent;
  }
}

@media (max-width: 767px) {
  .navbar .navbar-block {
    padding-top: 115px;
  }
}

@media (max-width: 575px) {
  .navbar .navbar-collapse {
    width: 100%;
    max-width: 100% !important;
  }
}

/* Pagination */
.pagination-block {
  position: relative;
  margin: 0 auto;
}

.pagination {
  margin: 0;
  max-width: 100%;
  margin: 0 -7px;
}

@media (max-width: 575px) {
  .pagination {
    width: 100%;
    margin: 0 -5px;
  }
}

.pagination > li {
  margin-left: 7px;
  margin-right: 7px;
}

@media (max-width: 575px) {
  .pagination > li {
    margin-right: 1px;
    margin-left: 1px;
  }
}

.pagination > li:first-of-type, .pagination > li:last-of-type {
  display: block;
}

.pagination > li:first-of-type > a,
.pagination > li:first-of-type span, .pagination > li:last-of-type > a,
.pagination > li:last-of-type span {
  display: block;
  border-radius: 50%;
  border: 1px solid rgba(51, 51, 51, 0.1);
  background-color: #fff;
}

.pagination > li:first-of-type > a:hover, .pagination > li:first-of-type > a:focus,
.pagination > li:first-of-type span:hover,
.pagination > li:first-of-type span:focus, .pagination > li:last-of-type > a:hover, .pagination > li:last-of-type > a:focus,
.pagination > li:last-of-type span:hover,
.pagination > li:last-of-type span:focus {
  border-color: #fe5a06;
  background-color: #fff;
}

.pagination > li:first-of-type > a:hover .svg-icon, .pagination > li:first-of-type > a:focus .svg-icon,
.pagination > li:first-of-type span:hover .svg-icon,
.pagination > li:first-of-type span:focus .svg-icon, .pagination > li:last-of-type > a:hover .svg-icon, .pagination > li:last-of-type > a:focus .svg-icon,
.pagination > li:last-of-type span:hover .svg-icon,
.pagination > li:last-of-type span:focus .svg-icon {
  opacity: 1;
  fill: #fe5a06;
}

.pagination > li:first-of-type > a .svg-icon,
.pagination > li:first-of-type span .svg-icon, .pagination > li:last-of-type > a .svg-icon,
.pagination > li:last-of-type span .svg-icon {
  width: 17px;
  height: 20px;
  fill: #333;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  top: 1px;
}

.pagination > li:first-of-type > a .next,
.pagination > li:first-of-type span .next, .pagination > li:last-of-type > a .next,
.pagination > li:last-of-type span .next {
  left: 4px;
}

.pagination > li:first-of-type > a::before .svg-icon,
.pagination > li:first-of-type span::before .svg-icon {
  fill: #fe5a06;
}

.pagination > li:last-of-type > a::before .svg-icon,
.pagination > li:last-of-type span::before .svg-icon {
  fill: #fe5a06;
}

.pagination > li > a,
.pagination > li span {
  min-width: 50px;
  height: 50px;
  padding: 17px 2px;
  border: 1px solid transparent;
  line-height: 1;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  -webkit-transition: border 0.2s linear, color 0.2s linear, background 0.2s linear;
  transition: border 0.2s linear, color 0.2s linear, background 0.2s linear;
  background-color: #fff;
  border-radius: 50%;
}

.pagination > li > a:hover, .pagination > li > a:focus,
.pagination > li span:hover,
.pagination > li span:focus {
  color: #fe5a06;
  background-color: transparent;
  border-color: transparent;
}

.pagination > .disabled {
  cursor: not-allowed !important;
}

.pagination > .disabled > a,
.pagination > .disabled span {
  pointer-events: none !important;
}

.pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus,
.pagination > .disabled span,
.pagination > .disabled span:hover,
.pagination > .disabled span:focus {
  opacity: 0.5 !important;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active span,
.pagination > .active span:hover,
.pagination > .active span:focus {
  color: #fe5a06;
  background-color: #f1f3fb;
  border-color: #f1f3fb;
}

/* Breadcrumb */
.breadcrumb-block {
  padding: 0 0 80px 0;
}

@media (max-width: 767px) {
  .breadcrumb-block {
    padding: 0 0 60px 0;
  }
}

.breadcrumb {
  padding: 0;
  margin-bottom: -10px;
  border-radius: 0;
  background-color: transparent;
}

.breadcrumb li {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 400;
}

.breadcrumb li a {
  text-decoration: none;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.breadcrumb li a:hover {
  text-decoration: none;
  color: #fe5a06;
}

.breadcrumb li + li::before {
  margin: 0 30px 4px 30px;
  content: "";
  height: 1px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  display: inline-block;
}

/* Alert-warning */
.alert-warning {
  background-color: rgba(var(--clr-main-red), var(--clr-main-green), var(--clr-main-blue), 0.1);
  color: #171a29;
  border-color: var(--clr-main);
}

ol ol,
ol ul,
ul ol,
ul ul {
  padding: 0 !important;
}

hr {
  border-color: #97989f !important;
}

/* =================================================================
  contact-info
================================================================= */
.contact-info a[href^="tel"] {
  color: #fff;
}

.contact-info .small-icon .si-img {
  background-color: #232634;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.contact-info .small-icon .si-img .si-circle {
  width: 16px;
  height: 16px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contact-info .small-icon .si-img .svg-icon {
  fill: #fe5a06 !important;
  width: 100%;
  height: 100%;
}

.contact-info .small-icon .si-text {
  color: #fff;
}

.contact-info .contact-info-title {
  font-size: 40px;
}

/* =================================================================
  Links
================================================================= */
.link {
  -webkit-transition: opacity 0.2s linear, color 0.2s linear, border 0.2s linear;
  transition: opacity 0.2s linear, color 0.2s linear, border 0.2s linear;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.link:hover, .link:focus {
  text-decoration: none;
}

.link .small-icon .si-img {
  position: relative;
  margin-right: 0.5em;
  background-size: 1em 1em;
  background-position: center;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.link .small-icon .si-img .sii-hover {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 1em 1em;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.link .small-icon .si-text + .si-img {
  margin-right: 0;
  margin-left: 0.5em;
  background-position: center;
}

.link .small-icon .si-text + .si-img .sii-hover {
  background-position: center;
}

.link-a {
  color: #fe5a06;
}

.link-a:hover {
  color: #171a29;
}

.link-all {
  color: #fe5a06;
  font-size: 14px;
  line-height: 1.3333333;
}

.link-all:hover {
  color: #171a29;
}

.link-all:hover .small-icon .si-img .svg-icon {
  fill: #171a29;
}

.link-all .small-icon .si-img {
  width: 1em;
  height: 1em;
}

.link-all .small-icon .si-img .svg-icon {
  width: 0.7em;
  height: 0.7em;
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.link-f {
  position: relative;
  color: #333333;
}

.link-f:hover {
  color: #333333;
}

.link-more.collapsed::before {
  content: "Читать далее...";
}

.link-more:not(.collapsed)::before {
  content: "Скрыть...";
}

.link-image {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.link-image:hover {
  opacity: 0.8;
}

.link-opacity {
  display: block;
  color: inherit;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.link-opacity:hover {
  color: inherit;
  opacity: 1;
}

.link-title {
  color: inherit;
}

.link-title:hover {
  color: #171a29;
}

.link-line {
  color: #fe5a06;
  text-decoration: underline;
}

.link-line:hover {
  color: #171a29;
  text-decoration: underline;
}

.link-line.text-white {
  color: #fff !important;
}

.link-line.text-white:hover {
  color: #fff !important;
}

.link-icon:hover {
  cursor: pointer;
}

.link-icon:hover .small-icon .si-img .svg-icon {
  fill: #fe5a06;
}

.link-icon:hover .small-icon .si-text {
  color: #fe5a06;
}

.link-icon .si-curcle {
  margin-left: 15px;
  width: 24px;
  height: 24px;
  border: 1px solid #33333321;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-icon .small-icon .si-img {
  width: 18px;
  height: 12px;
  position: relative;
}

.link-icon .small-icon .si-img .svg-icon {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  width: 100%;
  height: 100%;
  top: 2px;
  left: 2px;
  fill: #fe5a06 !important;
}

.link-icon .small-icon .si-text {
  color: #171a29;
  font-weight: 500 !important;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  font-size: 16px;
}

.link-icon .small-icon .si-text + .si-img {
  margin-right: 0;
  margin-left: 0.2em;
  background-position: right center;
}

.link-icon .small-icon .si-text + .si-img .sii-hover {
  background-position: right center;
}

.link-icon.white .si-text {
  color: rgba(255, 255, 255, 0.6) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.link-icon.white .svg-icon {
  fill: rgba(255, 255, 255, 0.6) !important;
}

.link-icon.white:hover {
  cursor: pointer;
}

.link-icon.white:hover .small-icon .si-img .svg-icon {
  fill: #fff !important;
}

.link-icon.white:hover .small-icon .si-text {
  color: #fff !important;
  border-bottom: 1px solid #fff;
}

.link-icon.white:hover .small-icon .si-text::after {
  border-top: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
}

.link-data {
  text-decoration: none;
}

.link-data .si-img .svg-icon {
  fill: #171a29 !important;
}

.link-data .si-text {
  color: #fff;
  font-weight: 400 !important;
}

.link-data:hover .si-text {
  color: #171a29 !important;
}

.link-icon_video {
  margin-top: 30px;
}

.link-icon_video:hover {
  cursor: pointer;
}

.link-icon_video:hover .small-icon .si-img .svg-icon {
  fill: #fe5a06;
}

.link-icon_video:hover .small-icon .si-text {
  color: #fe5a06;
}

.link-icon_video .small-icon .si-img {
  width: 40px;
  height: 40px;
  position: relative;
}

.link-icon_video .small-icon .si-img .svg-icon {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  width: 100%;
  height: 100%;
  top: 2px;
  left: 2px;
}

.link-icon_video .small-icon .si-text {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400 !important;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  font-size: 14px;
}

.link-icon_video .small-icon .si-text + .si-img {
  margin-right: 0;
  margin-left: 0.2em;
  background-position: right center;
}

.link-icon_video .small-icon .si-text + .si-img .sii-hover {
  background-position: right center;
}

/* =================================================================
  socials
================================================================= */
.socials .small-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.socials .small-icon .si-img {
  margin-right: 0 !important;
  width: 18px;
  height: 18px;
  opacity: 0.7;
}

.socials .small-icon .si-img .svg-icon {
  height: 100%;
  width: 100%;
  fill: #fff !important;
}

.socials .s-item:hover .si-img {
  opacity: 1;
}

.bg-clr-transparent {
  background-color: transparent !important;
}

.bg-clr-main {
  background-color: #fe5a06 !important;
}

.bg-clr-main-alt {
  background-color: #171a29 !important;
}

.bg-clr-grey {
  background-color: #e6e6e6 !important;
}

.bg-clr-grey-light {
  background-color: #fafafb !important;
}

.bg-clr-grey-lighter {
  background-color: #fafafa !important;
}

.bg-clr-white {
  background-color: #fff !important;
}

.bg-clr-light {
  background-color: #f4f7f5;
}

.bg-clr-dark {
  background-color: #171a29;
}

.bg-clr-l-blue {
  background-color: #3557ad;
}

.bg-clr {
  background-color: #f2f2f2;
}

.bg-clr-dark .title,
.bg-clr-dark .title-1,
.bg-clr-dark .title-2,
.bg-clr-dark .title-3,
.bg-clr-dark .title-4,
.bg-clr-dark .title-5,
.bg-clr-dark .title-6,
.bg-clr-dark .title-7,
.bg-clr-dark .title-8,
.bg-clr-dark span {
  color: #fff !important;
}

.bg-clr-dark .title-4 {
  color: rgba(255, 255, 255, 0.8);
}

.bg-clr-dark .title-p {
  color: rgba(255, 255, 255, 0.8);
}

.home {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif, sans-serif;
  color: #000;
  font-size: 16px;
  min-width: 320px;
  min-height: 100%;
  height: auto;
  width: 100%;
  line-height: 130%;
  background-image: url(/images/bg/bg.png);
  background-size: cover;
  background-repeat: repeat;
}

body, html {
  min-width: 320px;
  min-height: 100%;
  height: auto;
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #454854;
  min-height: 100vh;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

html {
  position: relative;
  scroll-behavior: smooth;
}

* {
  outline: none !important;
}

p {
  margin: 0 0 15px 0;
}

ul.simple,
ol.simple,
li.simple {
  list-style-type: none !important;
  padding: 0 !important;
}

li {
  list-style-type: none !important;
}

:not(.alert) ul:not([class]) {
  padding-left: 0;
}

:not(.alert) ul:not([class]) > li:not([class]) {
  list-style-type: none;
  max-width: 100%;
  margin-bottom: 20px;
  position: relative;
  padding-left: 40px;
  font-weight: 400;
  font-size: 16px;
  color: #171a29;
}

:not(.alert) ul:not([class]) > li:not([class])::before {
  content: "";
  display: inline-block;
  background-color: #fe5a06;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 6px;
}

:not(.alert) ul:not([class]) > li:not([class])::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 18px;
  height: 18px;
  position: absolute;
  top: 2px;
  left: 0px;
}

:not(.alert) ul:not([class]) ul {
  margin-top: 10px;
  padding-left: 1em !important;
}

a {
  color: #fe5a06;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #171a29;
  text-decoration: none;
}

a[href^="tel"] {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  color: #171a29;
  font-weight: 400 !important;
}

a .text-white {
  color: #fff;
  cursor: pointer;
}

a .text-white:hover {
  color: rgba(255, 255, 255, 0.8);
}

img {
  max-width: 100%;
}

textarea {
  resize: vertical;
  max-width: 100%;
  min-height: 50px;
  height: auto;
}

textarea.form-control {
  height: 100px;
  line-height: 1.42857143;
}

textarea.form-control.textarea-lg {
  height: 120px;
}

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

@media (max-width: 767px) {
  .f-row {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
  .f-row > [class^="f-col"],
  .f-row > [class*=" f-col"] {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

input,
textarea {
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
}

.dark::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.darken::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.darkener::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#top {
  z-index: 1005;
  position: relative;
}

#bottom {
  z-index: 1000;
  margin: 0 auto;
  overflow: hidden;
}

.object-fit > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
  overflow: hidden;
}

.small-icon .si-img {
  position: relative;
}

.small-icon .si-img .svg-icon {
  width: 1em;
  height: 1em;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
}

.small-icon .si-img .svg-icon.white {
  fill: #fff;
}

.small-icon .si-text + .si-img {
  margin-right: 0;
  margin-left: 0.5em;
  background-position: right center;
}

.svg-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.svg-icon:hover {
  fill: #171a29 !important;
  cursor: pointer;
}

svg path,
svg rect {
  fill: inherit;
  stroke: inherit;
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.breaker {
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: #e6e6e6;
}

.border-bottom {
  border-bottom: 1px solid #e3e3e3;
}

.m-r-1 {
  margin-right: 1px;
}

.m-n-r-1 {
  margin-right: -1px;
}

a.small-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

a.small-icon .si-img {
  margin-right: 0.2em;
}

a.small-icon .si-text + .si-img {
  margin-right: 0;
  margin-left: 0.2em;
  background-position: right center;
}

.small-icon .si-text + .si-img {
  margin-right: 0;
  margin-left: 0.5em;
  background-position: right center;
}

@media (min-width: 576px) {
  .justify-content-sm-stretch {
    -webkit-box-pack: stretch !important;
    -ms-flex-pack: stretch !important;
    justify-content: stretch !important;
  }
}

.border-dropdown-fix {
  padding-left: 18px !important;
  border: 1px solid #e6e6e6;
  border-bottom: none;
}

.add {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.span__link {
  color: #fe5a06 !important;
}

.span__link_login {
  font-size: 13px !important;
  margin: 10px !important;
}

.rotate:after {
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
}

.rotate-plus:after {
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
  opacity: 0.6;
  top: 30px;
}

.border-top {
  border-top: 1px solid #e6e6e6;
}

.border-btm {
  border-bottom: 1px solid #616A51;
}

.border-none {
  border: 0;
}

.m-0-auto {
  margin: 0 auto !important;
}

.b-l-n {
  border-left: 0 !important;
}

.b-r-n {
  border-right: 0 !important;
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 3px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #f3f4f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #fe5a06;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 4px;
}

/* = */
.p-a-70 {
  padding: 70px !important;
}

.p-t-70 {
  padding-top: 70px !important;
}

.p-r-70 {
  padding-right: 70px !important;
}

.p-b-70 {
  padding-bottom: 70px !important;
}

.p-l-70 {
  padding-left: 70px !important;
}

.p-x-70 {
  padding-left: 70px !important;
  padding-right: 70px !important;
}

.p-y-70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}

/* = */
.p-a-80 {
  padding: 80px !important;
}

.p-t-80 {
  padding-top: 80px !important;
}

.p-r-80 {
  padding-right: 80px !important;
}

.p-b-80 {
  padding-bottom: 80px !important;
}

.p-l-80 {
  padding-left: 80px !important;
}

.p-x-80 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.p-y-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

@media (min-width: 769px) {
  .p-md-y-80 {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }
}

.p-y {
  padding: 100px 0;
}

@media (max-width: 991px) {
  .p-y {
    padding: 80px 0;
  }
}

@media (max-width: 767px) {
  .p-y {
    padding: 60px 0;
  }
}

.p-t {
  padding-top: 100px;
}

@media (max-width: 991px) {
  .p-t {
    padding-top: 80px;
  }
}

@media (max-width: 767px) {
  .p-t {
    padding-top: 60px;
  }
}

.p-b {
  padding-bottom: 100px;
}

@media (max-width: 991px) {
  .p-b {
    padding-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .p-b {
    padding-bottom: 60px;
  }
}

.m-y {
  margin: 100px 0;
}

@media (max-width: 991px) {
  .m-y {
    margin: 80px 0;
  }
}

@media (max-width: 767px) {
  .m-y {
    margin: 60px 0;
  }
}

.m-t {
  margin-top: 100px;
}

@media (max-width: 991px) {
  .m-t {
    margin-top: 80px;
  }
}

@media (max-width: 767px) {
  .m-t {
    margin-top: 60px;
  }
}

.m-b {
  margin-bottom: 100px;
}

@media (max-width: 991px) {
  .m-b {
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .m-b {
    margin-bottom: 60px;
  }
}

.btn-p {
  padding: 20px 40px !important;
}

.p-y-footer {
  padding: 100px 0;
}

@media (max-width: 1199px) {
  .p-y-footer {
    padding: 70px 0;
  }
}

@media (max-width: 767px) {
  .p-y-footer {
    padding: 50px 0 60px 0;
  }
}

.m-n-b-80 {
  margin-bottom: -80px;
}

@media (min-width: 769px) {
  .f-col-md-new {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 20% !important;
    flex: 0 0 20% !important;
    max-width: 20% !important;
  }
}

@media (min-width: 993px) {
  .f-col-lg-new {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 20% !important;
    flex: 0 0 20% !important;
    max-width: 20% !important;
  }
}

@media screen and (max-width: 374px) {
  .f-col-12-new {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

.no-gutters > [class*=" f-col-"],
.no-gutters > [class*="f-col-"] {
  margin: 0 0 -1px -1px;
}

.no-gutters > [class*=" f-col-"],
.no-gutters > [class*="f-col-"] {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.parallax {
  position: absolute;
  width: 100%;
  height: 100%;
}

.parallax .parallax-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.parallax .z-n-btm {
  z-index: 0;
}

.parallax .z-n-top {
  z-index: 1;
}

.parallax .bg-el-op {
  opacity: 0.3;
}

@media screen and (min-width: 767px) {
  .s-title {
    padding-left: 60px;
  }
}

@media screen and (min-width: 991px) {
  .s-title {
    padding-left: 100px;
  }
}
/*# sourceMappingURL=home.css.map */