@import "../vars/vars.scss";
@import "../../include-media";

@import "./fonts-settings.scss";
@import "./slick.scss";
@import "./fancybox.scss";
// @import "./tables.scss";
@import "./checkbox-radioboxes.scss";
@import "./search.scss";
// @import "./select.scss";
// @import "./cart.scss";
@import "./bootsrtap.scss";
// @import "./rangesslider.scss";
@import "./contact-info.scss";
@import "./links.scss";
@import "./socials.scss";
@import "./bg.scss";
// @import "./scroll-up-button.scss";
@import "./tabs.scss";

.home {
  box-sizing: border-box;
  font-family: $font-family, sans-serif;
  color: $color;
  font-size: $font-sz;
  // font-feature-settings: "pnum" on, "lnum" on;
  min-width: 320px;
  min-height: 100%;
  height: auto;
  width: 100%;
  line-height: $lineHeight;
  background-image: url(/images/bg/bg.png);
  background-size: cover;
  background-repeat: repeat;
}

%body {
  min-width: 320px;
  min-height: 100%;
  height: auto;
  width: 100%;
}

body {
  @extend %body;
  font-family: $font-family;
  font-size: $font-sz;
  color: $clr-text;
  min-height: 100vh;
  @include media(">=md") {
    font-size: $font-sz;
  }
}

html {
  @extend %body;
  position: relative;
  scroll-behavior: smooth;
}

* {
  outline: none !important;
}

p {
  margin: 0 0 15px 0;
}

ul,
ol,
li {
  &.simple {
    list-style-type: none !important;
    padding: 0 !important;
  }
}

li {
  list-style-type: none !important;
}

:not(.alert) {
  ul:not([class]) {
    padding-left: 0;
    > li:not([class]) {
      list-style-type: none;
      max-width: 100%;
      margin-bottom: 20px;
      position: relative;
      padding-left: 40px;
      font-weight: 400;
      font-size: 16px;
      color: $clr-text-alt;
      &::before {
        content: "";
        display: inline-block;
        background-color: $clr-main;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: 6px;
      }
      &::after {
        content: "";
        display: inline-block;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 18px;
        height: 18px;
        position: absolute;
        top: 2px;
        left: 0px;
      }
    }
    ul {
      margin-top: 10px;
      padding-left: 1em !important;
    }
  }
}

a {
  color: $clr-main;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $clr-main-alt;
    text-decoration: none;
  }
  &[href^="tel"] {
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    color: $clr-main-alt;
    font-weight: 400 !important;
  }
  .text-white {
    color: #fff;
    cursor: pointer;
    // text-decoration: underline;
    &:hover {
      color: rgba(255, 255, 255, 0.8);
      // text-decoration: underline;
    }
  }
}

img {
  max-width: 100%;
}

textarea {
  resize: vertical;
  max-width: 100%;
  min-height: $h-min-form;
  height: auto;
  &.form-control {
    height: $h-min-form * 2;
    line-height: 1.42857143;

    &.textarea-lg {
      height: $h-min-form * 2 + 20px;
    }
  }
}

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

.f-row {
  @include media("<md") {
    margin-left: -7.5px;
    margin-right: -7.5px;
    > [class^="f-col"],
    > [class*=" f-col"] {
      padding-left: 7.5px;
      padding-right: 7.5px;
    }
  }
}

input,
textarea {
  appearance: none !important;
}

.dark {
  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.darken {
  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.darkener {
  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

#top {
  z-index: 1005;
  position: relative;
}

#bottom {
  z-index: 1000;
  // position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.object-fit {
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: "object-fit: cover;";
    overflow: hidden;
  }
}

.small-icon {
  .si-img {
    position: relative;
    .svg-icon {
      width: 1em;
      height: 1em;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto 0;
      &.white {
        fill: #fff;
      }
    }
  }
  .si-text {
    & + .si-img {
      margin-right: 0;
      margin-left: 0.5em;
      background-position: right center;
    }
  }
}

.svg-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  transition: fill 0.2s linear;

  &:hover {
    fill: $clr-main-alt !important;
    cursor: pointer;
  }
}

svg {
  path,
  rect {
    fill: inherit;
    stroke: inherit;
    transition: fill 0.2s linear;
  }
}

.breaker {
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: $clr-grey;
}

.border-bottom {
  border-bottom: 1px solid #e3e3e3;
}

.m-r-1 {
  margin-right: 1px;
}

.m-n-r-1 {
  margin-right: -1px;
}

a {
  &.small-icon {
    display: inline-flex;
    .si-img {
      margin-right: 0.2em;
    }
    .si-text {
      & + .si-img {
        margin-right: 0;
        margin-left: 0.2em;
        background-position: right center;
      }
    }
  }
}

.small-icon {
  .si-text {
    & + .si-img {
      margin-right: 0;
      margin-left: 0.5em;
      background-position: right center;
    }
  }
}

.justify-content-sm-stretch {
  @include media(">=sm") {
    -webkit-box-pack: stretch !important;
    -ms-flex-pack: stretch !important;
    justify-content: stretch !important;
  }
}

.border-dropdown-fix {
  padding-left: 18px !important;
  border: 1px solid $clr-grey;
  border-bottom: none;
}

.add {
  display: flex !important;
}

.span__link {
  color: $clr-main !important;
}

.span__link_login {
  font-size: 13px !important;
  margin: 10px !important;
}

.rotate {
  &:after {
    transform: translateY(-50%) rotate(135deg);
  }
}

.rotate-plus {
  &:after {
    transform: translateY(-50%) rotate(135deg);
    opacity: 0.6;
    top: 30px;
  }
}

.border-top {
  border-top: 1px solid $clr-grey;
}
.border-btm {
  border-bottom: 1px solid#616A51;
}

.border-none {
  border: 0;
}

.m-0-auto {
  margin: 0 auto !important;
}

.b-l-n {
  border-left: 0 !important;
}
.b-r-n {
  border-right: 0 !important;
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 3px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #f3f4f5;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: $clr-main;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 4px;
}

/* = */
.p-a-70 {
  padding: 70px !important;
}

.p-t-70 {
  padding-top: 70px !important;
}

.p-r-70 {
  padding-right: 70px !important;
}

.p-b-70 {
  padding-bottom: 70px !important;
}

.p-l-70 {
  padding-left: 70px !important;
}

.p-x-70 {
  padding-left: 70px !important;
  padding-right: 70px !important;
}

.p-y-70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}

/* = */
.p-a-80 {
  padding: 80px !important;
}

.p-t-80 {
  padding-top: 80px !important;
}

.p-r-80 {
  padding-right: 80px !important;
}

.p-b-80 {
  padding-bottom: 80px !important;
}

.p-l-80 {
  padding-left: 80px !important;
}

.p-x-80 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.p-y-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.p-md-y-80 {
  @include media(">md") {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }
}

.p-y {
  padding: 100px 0;
  @include media("<lg") {
    padding: 80px 0;
  }
  @include media("<md") {
    padding: 60px 0;
  }
}

.p-t {
  padding-top: 100px;
  @include media("<lg") {
    padding-top: 80px;
  }
  @include media("<md") {
    padding-top: 60px;
  }
}
.p-b {
  padding-bottom: 100px;
  @include media("<lg") {
    padding-bottom: 80px;
  }
  @include media("<md") {
    padding-bottom: 60px;
  }
}

.m-y {
  margin: 100px 0;
  @include media("<lg") {
    margin: 80px 0;
  }
  @include media("<md") {
    margin: 60px 0;
  }
}

.m-t {
  margin-top: 100px;
  @include media("<lg") {
    margin-top: 80px;
  }
  @include media("<md") {
    margin-top: 60px;
  }
}
.m-b {
  margin-bottom: 100px;
  @include media("<lg") {
    margin-bottom: 80px;
  }
  @include media("<md") {
    margin-bottom: 60px;
  }
}

.btn-p {
  padding: 20px 40px !important;
}

.p-y-footer {
  padding: 100px 0;
  @include media("<xl") {
    padding: 70px 0;
  }
  @include media("<md") {
    padding: 50px 0 60px 0;
  }
}

.m-n-b-80 {
  margin-bottom: -80px;
}

.f-col-md-new {
  @include media(">md") {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 20% !important;
    flex: 0 0 20% !important;
    max-width: 20% !important;
  }
}
.f-col-lg-new {
  @include media(">lg") {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 20% !important;
    flex: 0 0 20% !important;
    max-width: 20% !important;
  }
}
.f-col-12-new {
  @media screen and (max-width: 374px) {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

.no-gutters > [class*=" f-col-"],
.no-gutters > [class*="f-col-"] {
  margin: 0 0 -1px -1px;
}

.no-gutters > [class*=" f-col-"],
.no-gutters > [class*="f-col-"] {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.parallax {
  position: absolute;
  width: 100%;
  height: 100%;

  .parallax-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .z-n-btm {
    z-index: 0;
  }

  .z-n-top {
    z-index: 1;
  }

  .bg-el-op {
    opacity: 0.3;
  }
}

.s-title {
  @media screen and (min-width: 767px) {
    padding-left: 60px;
  }
  @media screen and (min-width: 991px) {
    padding-left: 100px;
  }
}
