@charset "UTF-8";
/* =================================================================
  Links
================================================================= */
.link {
  -webkit-transition: opacity 0.2s linear, color 0.2s linear, border 0.2s linear;
  transition: opacity 0.2s linear, color 0.2s linear, border 0.2s linear;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.link:hover, .link:focus {
  text-decoration: none;
}

.link .small-icon .si-img {
  position: relative;
  margin-right: 0.5em;
  background-size: 1em 1em;
  background-position: center;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.link .small-icon .si-img .sii-hover {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 1em 1em;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.link .small-icon .si-text + .si-img {
  margin-right: 0;
  margin-left: 0.5em;
  background-position: center;
}

.link .small-icon .si-text + .si-img .sii-hover {
  background-position: center;
}

.link-a {
  color: #fe5a06;
}

.link-a:hover {
  color: #171a29;
}

.link-all {
  color: #fe5a06;
  font-size: 14px;
  line-height: 1.3333333;
}

.link-all:hover {
  color: #171a29;
}

.link-all:hover .small-icon .si-img .svg-icon {
  fill: #171a29;
}

.link-all .small-icon .si-img {
  width: 1em;
  height: 1em;
}

.link-all .small-icon .si-img .svg-icon {
  width: 0.7em;
  height: 0.7em;
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.link-f {
  position: relative;
  color: #333333;
}

.link-f:hover {
  color: #333333;
}

.link-more.collapsed::before {
  content: "Читать далее...";
}

.link-more:not(.collapsed)::before {
  content: "Скрыть...";
}

.link-image {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.link-image:hover {
  opacity: 0.8;
}

.link-opacity {
  display: block;
  color: inherit;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.link-opacity:hover {
  color: inherit;
  opacity: 1;
}

.link-title {
  color: inherit;
}

.link-title:hover {
  color: #171a29;
}

.link-line {
  color: #fe5a06;
  text-decoration: underline;
}

.link-line:hover {
  color: #171a29;
  text-decoration: underline;
}

.link-line.text-white {
  color: #fff !important;
}

.link-line.text-white:hover {
  color: #fff !important;
}

.link-icon:hover {
  cursor: pointer;
}

.link-icon:hover .small-icon .si-img .svg-icon {
  fill: #fe5a06;
}

.link-icon:hover .small-icon .si-text {
  color: #fe5a06;
}

.link-icon .si-curcle {
  margin-left: 15px;
  width: 24px;
  height: 24px;
  border: 1px solid #33333321;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-icon .small-icon .si-img {
  width: 18px;
  height: 12px;
  position: relative;
}

.link-icon .small-icon .si-img .svg-icon {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  width: 100%;
  height: 100%;
  top: 2px;
  left: 2px;
  fill: #fe5a06 !important;
}

.link-icon .small-icon .si-text {
  color: #171a29;
  font-weight: 500 !important;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  font-size: 16px;
}

.link-icon .small-icon .si-text + .si-img {
  margin-right: 0;
  margin-left: 0.2em;
  background-position: right center;
}

.link-icon .small-icon .si-text + .si-img .sii-hover {
  background-position: right center;
}

.link-icon.white .si-text {
  color: rgba(255, 255, 255, 0.6) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.link-icon.white .svg-icon {
  fill: rgba(255, 255, 255, 0.6) !important;
}

.link-icon.white:hover {
  cursor: pointer;
}

.link-icon.white:hover .small-icon .si-img .svg-icon {
  fill: #fff !important;
}

.link-icon.white:hover .small-icon .si-text {
  color: #fff !important;
  border-bottom: 1px solid #fff;
}

.link-icon.white:hover .small-icon .si-text::after {
  border-top: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
}

.link-data {
  text-decoration: none;
}

.link-data .si-img .svg-icon {
  fill: #171a29 !important;
}

.link-data .si-text {
  color: #fff;
  font-weight: 400 !important;
}

.link-data:hover .si-text {
  color: #171a29 !important;
}

.link-icon_video {
  margin-top: 30px;
}

.link-icon_video:hover {
  cursor: pointer;
}

.link-icon_video:hover .small-icon .si-img .svg-icon {
  fill: #fe5a06;
}

.link-icon_video:hover .small-icon .si-text {
  color: #fe5a06;
}

.link-icon_video .small-icon .si-img {
  width: 40px;
  height: 40px;
  position: relative;
}

.link-icon_video .small-icon .si-img .svg-icon {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  width: 100%;
  height: 100%;
  top: 2px;
  left: 2px;
}

.link-icon_video .small-icon .si-text {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400 !important;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  font-size: 14px;
}

.link-icon_video .small-icon .si-text + .si-img {
  margin-right: 0;
  margin-left: 0.2em;
  background-position: right center;
}

.link-icon_video .small-icon .si-text + .si-img .sii-hover {
  background-position: right center;
}
/*# sourceMappingURL=links.css.map */