@import "../vars/vars.scss";
@import "../../include-media";

/* =================================================================
  Links
================================================================= */

.link {
  transition: opacity 0.2s linear, color 0.2s linear, border 0.2s linear;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  &:hover,
  &:focus {
    text-decoration: none;
  }
  .small-icon {
    .si-img {
      position: relative;
      margin-right: 0.5em;
      background-size: 1em 1em;
      background-position: center;
      transition: opacity 0.2s linear;
      .sii-hover {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: 1em 1em;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.2s linear;
      }
    }
    .si-text {
      & + .si-img {
        margin-right: 0;
        margin-left: 0.5em;
        background-position: center;
        .sii-hover {
          background-position: center;
        }
      }
    }
  }
}

.link-a {
  color: $clr-main;
  &:hover {
    color: $clr-main-alt;
  }
}

.link-all {
  color: $clr-main;
  font-size: $font-sz - 2px;
  line-height: 1.3333333;
  &:hover {
    color: $clr-main-alt;
    .small-icon {
      .si-img {
        .svg-icon {
          fill: $clr-main-alt;
        }
      }
    }
  }
  .small-icon {
    .si-img {
      width: 1em;
      height: 1em;
      .svg-icon {
        width: 0.7em;
        height: 0.7em;
        transition: fill 0.2s linear;
      }
    }
  }
}

.link-f {
  position: relative;
  color: #333333;
  &:hover {
    color: #333333;
  }
}

.link-more {
  &.collapsed::before {
    content: "Читать далее...";
  }
  &:not(.collapsed)::before {
    content: "Скрыть...";
  }
}

.link-image {
  display: block;
  opacity: 1;
  transition: opacity 0.2s linear;
  &:hover {
    opacity: 0.8;
  }
}

.link-opacity {
  display: block;
  color: inherit;
  opacity: 0.7;
  transition: opacity 0.2s linear;
  &:hover {
    color: inherit;
    opacity: 1;
  }
}

.link-title {
  color: inherit;
  &:hover {
    color: $clr-main-alt;
  }
}

.link-line {
  color: $clr-main;
  text-decoration: underline;
  &:hover {
    color: $clr-main-alt;
    text-decoration: underline;
  }
  &.text-white {
    color: #fff !important;
    &:hover {
      color: $clr-text-white !important;
    }
  }
}

.link-icon {
  &:hover {
    cursor: pointer;
    .small-icon {
      .si-img {
        .svg-icon {
          fill: $clr-main;
        }
      }
      .si-text {
        color: $clr-main;
      }
    }
  }
  .si-curcle {
    margin-left: 15px;
    width: 24px;
    height: 24px;
    border: 1px solid #33333321;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .small-icon {
    .si-img {
      width: 18px;
      height: 12px;
      position: relative;
      .svg-icon {
        transition: 0.2s linear;
        width: 100%;
        height: 100%;
        top: 2px;
        left: 2px;
        fill: $clr-main !important;
      }
    }

    .si-text {
      color: $clr-text-alt;
      font-weight: 500 !important;
      transition: color 0.2s linear;
      font-size: 16px;
      & + .si-img {
        margin-right: 0;
        margin-left: 0.2em;
        background-position: right center;
        .sii-hover {
          background-position: right center;
        }
      }
    }
  }

  &.white {
    .si-text {
      color: rgba(255, 255, 255, 0.6) !important;
      border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }
    .svg-icon {
      fill: rgba(255, 255, 255, 0.6) !important;
    }

    &:hover {
      cursor: pointer;
      .small-icon {
        .si-img {
          .svg-icon {
            fill: #fff !important;
          }
        }
        .si-text {
          color: #fff !important;
          border-bottom: 1px solid #fff;
          &::after {
            border-top: 1px solid #fff !important;
            border-right: 1px solid #fff !important;
          }
        }
      }
    }
  }
}

.link-data {
  text-decoration: none;

  .si-img {
    .svg-icon {
      fill: $clr-main-alt !important;
    }
  }
  .si-text {
    color: #fff;
    font-weight: 400 !important;
  }
  &:hover {
    .si-text {
      color: $clr-main-alt !important;
    }
  }
}

.link-icon_video {
  margin-top: 30px;
  &:hover {
    cursor: pointer;
    .small-icon {
      .si-img {
        .svg-icon {
          fill: $clr-main;
        }
      }
      .si-text {
        color: $clr-main;
      }
    }
  }
  .small-icon {
    .si-img {
      width: 40px;
      height: 40px;
      position: relative;
      .svg-icon {
        transition: 0.2s linear;
        width: 100%;
        height: 100%;
        top: 2px;
        left: 2px;
      }
    }

    .si-text {
      color: rgba(255, 255, 255, 0.8);
      font-weight: 400 !important;
      transition: color 0.2s linear;
      font-size: 14px;
      & + .si-img {
        margin-right: 0;
        margin-left: 0.2em;
        background-position: right center;
        .sii-hover {
          background-position: right center;
        }
      }
    }
  }
}
