.irs--big {
  height: 20px;
}

.c-form {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 60px;
}

@media (max-width: 767px) {
  .c-form {
    padding: 30px 25px;
  }
}

.cf-text {
  font-size: 18px;
  color: #000;
}

@media (max-width: 767px) {
  .cf-text {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .cf-text {
    text-align: center;
  }
}

.form-group {
  margin-bottom: 40px;
}

label {
  font-size: 14px;
  margin-bottom: 20px;
  color: #171a29;
}

.js-summ-range {
  display: none !important;
}

.irs.irs--big {
  top: 7px;
}

.irs.irs--big .irs-bar {
  top: 15px;
  background: #a2beb2;
  background-color: #a2beb2;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 2px;
}

.irs.irs--big .irs-handle {
  top: 8px;
  background: #ffffff;
  border: 2px solid #fe5a06 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  z-index: 2;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.irs.irs--big .irs-min,
.irs.irs--big .irs-max {
  top: 60px;
  visibility: visible !important;
  background-color: transparent;
  font-size: 0;
  color: #454854;
  padding: 0;
  margin: 0;
}

.irs.irs--big .irs--big .irs-single {
  display: none !important;
}

.irs.irs--big .irs-line {
  top: 15px;
  background: #fe5a06;
  background-color: #fe5a06;
  border: none;
  border-radius: 0;
  height: 2px;
}

.c-date .cd-label {
  position: relative;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  cursor: pointer;
}

@media (min-width: 576px) {
  .c-date .cd-label {
    margin: 0 25px 0 0;
  }
}

@media (min-width: 768px) {
  .c-date .cd-label {
    margin: 0 50px 0 0;
  }
}

.c-date .cd-label .cd-check {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.c-date .cd-label .cd-text {
  position: relative;
  padding-left: 35px;
  top: -1px;
}

.c-date .cd-label input {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

.c-date .cd-label input:checked ~ .cd-check::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fe5a06;
}

.btn-text {
  font-size: 14px;
  color: rgba(69, 72, 84, 0.8);
  font-style: italic;
  margin-left: 20px;
}

@media (max-width: 575px) {
  .btn-text {
    margin-left: 0;
    margin-top: 10px;
  }
}

.irs--big .irs-from,
.irs--big .irs-to,
.irs--big .irs-single {
  display: none;
}
/*# sourceMappingURL=rangesslider.css.map */