@import "../vars/vars.scss";
@import "../../include-media";

.irs--big {
  height: 20px;
}

.c-form {
  border-radius: $rad-main;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 60px;
  @include media("<md") {
    padding: 30px 25px;
  }
}
.cf-text {
  font-size: $font-sz + 2;
  color: #000;
  @include media("<md") {
    font-size: $font-sz;
  }
  @include media("<sm") {
    text-align: center;
  }
}
.form-group {
  margin-bottom: 40px;
}
label {
  font-size: $font-sz - 2;
  margin-bottom: 20px;
  color: $clr-text-alt;
}
.js-summ-range,
.js-input-range {
  // height: 48px !important;
  // width: 100% !important;
  // z-index: 1 !important;
  // font-size: $font-sz !important;
  // color: $clr-text-alt !important;
  // padding: 13px 20px !important;
  // border: 1px solid rgba(0, 0, 0, 0.2) !important;
  // border-bottom: none !important;
}
.js-summ-range {
  display: none !important;
}
.js-input-range {
  // position: absolute !important;
  // top: 0;
  // left: 0;
  // z-index: 1;
  // background-color: transparent;
}
.irs.irs--big {
  top: 7px;
  .irs-bar {
    top: 15px;
    background: #a2beb2;
    background-color: #a2beb2;
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 2px;
  }
  .irs-handle {
    top: 8px;
    background: #ffffff;
    border: 2px solid $clr-main !important;
    box-shadow: none !important;
    z-index: 2;
    width: 15px;
    height: 15px;
    cursor: pointer;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   width: 14px !important;
    //   height: 14px !important;
    //   border-radius: $rad-circle;
    //   background-color: $clr-main;
    // }
  }
  .irs-min,
  .irs-max {
    top: 60px;
    visibility: visible !important;
    background-color: transparent;
    font-size: 0;
    color: $clr-text;
    padding: 0;
    margin: 0;
    // display: none !important;
  }

  .irs--big .irs-single {
    display: none !important;
  }

  .irs-line {
    top: 15px;
    background: $clr-main;
    background-color: $clr-main;
    border: none;
    border-radius: 0;
    height: 2px;
  }
}
.c-date {
  .cd-label {
    position: relative;
    color: #000;
    font-weight: $font-w;
    font-size: $font-sz;
    user-select: none;
    margin: 0;
    @include media(">=sm") {
      margin: 0 25px 0 0;
    }
    @include media(">=md") {
      margin: 0 50px 0 0;
    }
    cursor: pointer;
    .cd-check {
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border-radius: $rad-circle;
      background: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
    .cd-text {
      position: relative;
      padding-left: 35px;
      top: -1px;
    }
    input {
      position: absolute;
      top: 10px;
      left: 10px;
      height: 0;
      width: 0;
      margin: 0;
      padding: 0;
    }
    input:checked ~ .cd-check {
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        border-radius: $rad-circle;
        background-color: $clr-main;
      }
    }
  }
}
.btn-text {
  font-size: $font-sz - 2px;
  color: transparentize($clr-text, 0.2);
  font-style: italic;
  margin-left: 20px;
  @include media("<sm") {
    margin-left: 0;
    margin-top: 10px;
  }
}

.irs--big .irs-from,
.irs--big .irs-to,
.irs--big .irs-single {
  display: none;
}
