@import "../../include-media";
@import "../vars/vars.scss";
/*=================================================================
  Scroll up button
================================================================= */

.scroll-btn-block {
  z-index: 9999;
  position: fixed;
  width: 100%;
  bottom: 0;
}

#back-to-top {
  position: absolute;
  right: 20px;
  bottom: 51px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 1px solid #737f87;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../images/icons/arrow-up-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  //   box-shadow: 0px 6px 20px $clr-grey-light;
  transition: opacity 0.2s linear, background 0.2s linear;

  @include media("<xxl") {
    right: 15px;
  }
  @include media("<sm") {
    right: 10px;
  }

  .small-icon {
    background-color: $bg-clr-blue;
    border-radius: 50%;
    width: 84px;
    height: 84px;
    position: relative;
    top: 7px;
    left: 7px;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;
    overflow: hidden;

    .si-img {
      width: 24px;
      height: 20px;
      .svg-icon {
        fill: #fff !important;
        width: 100%;
        height: 100%;
      }

      .si-text {
        font-size: 13px;
      }
    }
  }

  &:hover {
    .small-icon {
      background-color: #39819c;
      cursor: pointer;
    }
  }

  .small-icon:after {
    content: "";
    display: block;
    width: 30px;
    height: 300px;
    margin-left: 60px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) -1.67%,
      rgba(255, 255, 255, 0.31) 100%
    );
    position: absolute;
    left: -40px;
    top: -150px;
    z-index: 1;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  @-webkit-keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0px;
    }
    30% {
      left: 110%;
      margin-left: 80px;
    }
    100% {
      left: 110%;
      margin-left: 80px;
    }
  }
}
