/*=================================================================
  Scroll up button
================================================================= */
.scroll-btn-block {
  z-index: 9999;
  position: fixed;
  width: 100%;
  bottom: 0;
}

#back-to-top {
  position: absolute;
  right: 20px;
  bottom: 51px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 1px solid #737f87;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../images/icons/arrow-up-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  -webkit-transition: opacity 0.2s linear, background 0.2s linear;
  transition: opacity 0.2s linear, background 0.2s linear;
}

@media (max-width: 1349px) {
  #back-to-top {
    right: 15px;
  }
}

@media (max-width: 575px) {
  #back-to-top {
    right: 10px;
  }
}

#back-to-top .small-icon {
  background-color: #3557ad;
  border-radius: 50%;
  width: 84px;
  height: 84px;
  position: relative;
  top: 7px;
  left: 7px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  overflow: hidden;
}

#back-to-top .small-icon .si-img {
  width: 24px;
  height: 20px;
}

#back-to-top .small-icon .si-img .svg-icon {
  fill: #fff !important;
  width: 100%;
  height: 100%;
}

#back-to-top .small-icon .si-img .si-text {
  font-size: 13px;
}

#back-to-top:hover .small-icon {
  background-color: #39819c;
  cursor: pointer;
}

#back-to-top .small-icon:after {
  content: "";
  display: block;
  width: 30px;
  height: 300px;
  margin-left: 60px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-1.67%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.31)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) -1.67%, rgba(255, 255, 255, 0.31) 100%);
  position: absolute;
  left: -40px;
  top: -150px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-animation-name: slideme;
  animation-name: slideme;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
/*# sourceMappingURL=scroll-up-button.css.map */