.search {
  background-color: transparent;
}

.search form {
  float: none;
  border: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.search .input-group {
  float: none;
  border: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  position: relative;
  width: 100%;
}

.search .input-group .form-control {
  height: 100%;
  float: none;
  border: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  padding-right: 65px;
  padding-left: 15px;
  border-radius: 5px !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.search .input-group .form-control:focus {
  border-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 10px 18px rgba(150, 150, 150, 0.1) !important;
          box-shadow: 0 10px 18px rgba(150, 150, 150, 0.1) !important;
}

.search .input-group .input-group-addon {
  float: none;
  border: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 20;
  display: block;
  padding: 0;
  border-radius: 10px;
  width: 50px;
  height: calc(100% - 2px);
  background-color: transparent;
  overflow: hidden;
}

.search .s-btn {
  position: relative;
  z-index: 20;
  padding: 0 !important;
  margin-top: 9px;
  min-height: 0 !important;
  width: 14px;
  height: 14px;
  border: 0;
  border-left: none;
  border-radius: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: transparent;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0.8;
}

.search .s-btn:hover, .search .s-btn:active, .search .s-btn:focus {
  opacity: 0.7;
  cursor: pointer;
  background-color: transparent;
}
/*# sourceMappingURL=search.css.map */