@import "../vars/vars.scss";
@import "../../include-media";

@mixin search_parametrs {
  float: none;
  border: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.search {
  background-color: transparent;
  // width: 293px;
  // height: 40px;
  form {
    @include search_parametrs;
    // max-width: 293px;
    // max-height: 40px;
  }
  .input-group {
    @include search_parametrs;
    position: relative;
    width: 100%;
    //height: 40px;
    .form-control {
      height: 100%;
      @include search_parametrs;
      font-size: $font-sz - 2px;
      font-style: normal;
      line-height: normal;
      padding-right: 50px + 15px;
      padding-left: 15px;
      border-radius: $rad-secondary !important;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background-color: #fff;
      &:focus {
        border-color: rgba(0, 0, 0, 0.1);
        box-shadow: 0 10px 18px rgba(150, 150, 150, 0.1) !important;
      }
    }
    .input-group-addon {
      @include search_parametrs;
      position: absolute;
      top: 1px;
      right: 1px;
      z-index: 20;
      display: block;
      padding: 0;
      border-radius: $rad-main;
      width: 50px;
      height: calc(100% - 2px);
      background-color: transparent;
      overflow: hidden;
    }
  }
  .s-btn {
    position: relative;
    z-index: 20;

    padding: 0 !important;
    margin-top: 9px;

    min-height: 0 !important;
    width: 14px;
    height: 14px;

    border: 0;
    border-left: none;
    border-radius: 0;
    box-shadow: none !important;
    background-color: transparent;

    transition: all 0.2s linear;
    opacity: 0.8;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      cursor: pointer;
      background-color: transparent;
    }
    // .svg-icon {
    //   width: 15px;
    //   height: 15px;
    //   fill: $clr-text;
    // }
  }
}
