@import "../vars/vars.scss";
@import "../../include-media";

.select2-container {
  .select2-selection {
    border: 1px solid $clr-grey;
    background-color: #fff;

    border-radius: 0;
    height: 24px;
    transition: all 0.2s linear;
    .select2-selection__rendered {
      line-height: 16px;
      color: #242424;
      font-weight: 400;
      font-size: 16px !important;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 5px;

      border-bottom: 1px solid #e6e6e6 !important;

      @include media(">md") {
        margin-left: 10px;
      }
      @include media("<md") {
        font-size: 14px !important;
      }
    }
    .select2-selection__arrow {
      height: 20px;
      width: 20px;
      background-color: #fff;
      transition: all 0.2s linear;
      border: transparent !important;
      &::before {
        content: "";
        position: absolute;
        top: 30%;
        right: 0px;
        transform: translateY(-50%) rotate(0);
        width: 10px;
        height: 6px;
        background-image: url("../../../images/icons/arrow.svg");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        transition: all 0.2s linear;

        @include media("<sm") {
          right: 3px;
        }
      }
      b {
        display: none;
      }
    }
    &[aria-expanded="true"] {
      .select2-selection__arrow {
        &::before {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }

  .select2-dropdown {
    border: 1px solid #fff;
    border-radius: 0;
    position: relative !important;
    top: 10px;
    overflow-y: scroll;
    max-height: 140px;

    @media screen and (max-width: 767px) {
      top: 0;
      border: 0;
      box-shadow: 0 13px 13px rgba(150, 150, 150, 0.5);
    }

    .select2-results {
      padding: 5px 5px 5px 0;
      @media screen and (max-width: 767px) {
        padding: 0;
      }
      .select2-results__options {
        color: #232323;
        max-height: fit-content;
        .select2-results__option {
          padding-left: 10px;
          font-size: 16px !important;
          transition: all 0.2s linear;
          &[aria-selected="true"] {
            background-color: transparent;
            color: #232323;
            font-weight: $font-w;
          }
          &.select2-results__option--highlighted[aria-selected] {
            color: #232323;
            background-color: transparent;
          }
          @media screen and (max-width: 767px) {
            padding: 10px 20px;
          }
        }
      }
    }
  }
}

.select2-container.select2-container--open .select2-selection--single {
  border-color: transparent !important;

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    display: inline-block;
    top: 65px;
    left: 50%;
    transform: translate(-50%, 0);
    transform: rotate(45deg);

    @media screen and (max-width: 767px) {
      display: none !important;
    }
  }
}

// .select2-container.select2-container--focus .select2-selection--single {
//   border-color: transparent !important;
// }

.select2-container .select2-selection {
  border: 1px solid transparent !important;
}

// .select2-container--default .select2-selection--single {
//   border: 0 !important;
// }
