.select2-container .select2-selection {
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 0;
  height: 24px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.select2-container .select2-selection .select2-selection__rendered {
  line-height: 16px;
  color: #242424;
  font-weight: 400;
  font-size: 16px !important;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #e6e6e6 !important;
}

@media (min-width: 769px) {
  .select2-container .select2-selection .select2-selection__rendered {
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .select2-container .select2-selection .select2-selection__rendered {
    font-size: 14px !important;
  }
}

.select2-container .select2-selection .select2-selection__arrow {
  height: 20px;
  width: 20px;
  background-color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: transparent !important;
}

.select2-container .select2-selection .select2-selection__arrow::before {
  content: "";
  position: absolute;
  top: 30%;
  right: 0px;
  -webkit-transform: translateY(-50%) rotate(0);
          transform: translateY(-50%) rotate(0);
  width: 10px;
  height: 6px;
  background-image: url("../../../images/icons/arrow.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media (max-width: 575px) {
  .select2-container .select2-selection .select2-selection__arrow::before {
    right: 3px;
  }
}

.select2-container .select2-selection .select2-selection__arrow b {
  display: none;
}

.select2-container .select2-selection[aria-expanded="true"] .select2-selection__arrow::before {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.select2-container .select2-dropdown {
  border: 1px solid #fff;
  border-radius: 0;
  position: relative !important;
  top: 10px;
  overflow-y: scroll;
  max-height: 140px;
}

@media screen and (max-width: 767px) {
  .select2-container .select2-dropdown {
    top: 0;
    border: 0;
    -webkit-box-shadow: 0 13px 13px rgba(150, 150, 150, 0.5);
            box-shadow: 0 13px 13px rgba(150, 150, 150, 0.5);
  }
}

.select2-container .select2-dropdown .select2-results {
  padding: 5px 5px 5px 0;
}

@media screen and (max-width: 767px) {
  .select2-container .select2-dropdown .select2-results {
    padding: 0;
  }
}

.select2-container .select2-dropdown .select2-results .select2-results__options {
  color: #232323;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.select2-container .select2-dropdown .select2-results .select2-results__options .select2-results__option {
  padding-left: 10px;
  font-size: 16px !important;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.select2-container .select2-dropdown .select2-results .select2-results__options .select2-results__option[aria-selected="true"] {
  background-color: transparent;
  color: #232323;
  font-weight: 400;
}

.select2-container .select2-dropdown .select2-results .select2-results__options .select2-results__option.select2-results__option--highlighted[aria-selected] {
  color: #232323;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .select2-container .select2-dropdown .select2-results .select2-results__options .select2-results__option {
    padding: 10px 20px;
  }
}

.select2-container.select2-container--open .select2-selection--single {
  border-color: transparent !important;
}

.select2-container.select2-container--open .select2-selection--single::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fff;
  display: inline-block;
  top: 65px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 767px) {
  .select2-container.select2-container--open .select2-selection--single::after {
    display: none !important;
  }
}

.select2-container .select2-selection {
  border: 1px solid transparent !important;
}
/*# sourceMappingURL=select.css.map */