/* =================================================================
  socials
================================================================= */
.socials .small-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.socials .small-icon .si-img {
  margin-right: 0 !important;
  width: 18px;
  height: 18px;
  opacity: 0.7;
}

.socials .small-icon .si-img .svg-icon {
  height: 100%;
  width: 100%;
  fill: #fff !important;
}

.socials .s-item:hover .si-img {
  opacity: 1;
}
/*# sourceMappingURL=socials.css.map */