@import "../vars/vars.scss";
@import "../../include-media";

/* =================================================================
  socials
================================================================= */

.socials {
  .small-icon {
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    .si-img {
      margin-right: 0 !important;
      width: 18px;
      height: 18px;
      opacity: 0.7;

      .svg-icon {
        height: 100%;
        width: 100%;
        fill: #fff !important;
      }
    }
  }
  .s-item:hover {
    .si-img {
      opacity: 1;
    }
  }
}
