@import "../vars/vars.scss";
@import "../../include-media";

@mixin td_style {
  height: auto !important;
  padding: 4px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.content-with-tables {
  .table {
    table[border="1"] {
      margin-bottom: 0;
    }
  }
}

.content-with-tables table[border="1"] {
  width: 100% !important;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    @include td_style;
    > p {
      margin-bottom: 0 !important;
    }
  }
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
  }
  > caption + thead > tr:first-child > th,
  > colgroup + thead > tr:first-child > th,
  > thead:first-child > tr:first-child > th,
  > caption + thead > tr:first-child > td,
  > colgroup + thead > tr:first-child > td,
  > thead:first-child > tr:first-child > td {
    border-top: 0;
  }
  > tbody + tbody {
    border-top: 2px solid #ddd;
  }
}
