.content-with-tables .table table[border="1"] {
  margin-bottom: 0;
}

.content-with-tables table[border="1"] {
  width: 100% !important;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.content-with-tables table[border="1"] > thead > tr > th,
.content-with-tables table[border="1"] > tbody > tr > th,
.content-with-tables table[border="1"] > tfoot > tr > th,
.content-with-tables table[border="1"] > thead > tr > td,
.content-with-tables table[border="1"] > tbody > tr > td,
.content-with-tables table[border="1"] > tfoot > tr > td {
  height: auto !important;
  padding: 4px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.content-with-tables table[border="1"] > thead > tr > th > p,
.content-with-tables table[border="1"] > tbody > tr > th > p,
.content-with-tables table[border="1"] > tfoot > tr > th > p,
.content-with-tables table[border="1"] > thead > tr > td > p,
.content-with-tables table[border="1"] > tbody > tr > td > p,
.content-with-tables table[border="1"] > tfoot > tr > td > p {
  margin-bottom: 0 !important;
}

.content-with-tables table[border="1"] > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.content-with-tables table[border="1"] > caption + thead > tr:first-child > th,
.content-with-tables table[border="1"] > colgroup + thead > tr:first-child > th,
.content-with-tables table[border="1"] > thead:first-child > tr:first-child > th,
.content-with-tables table[border="1"] > caption + thead > tr:first-child > td,
.content-with-tables table[border="1"] > colgroup + thead > tr:first-child > td,
.content-with-tables table[border="1"] > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.content-with-tables table[border="1"] > tbody + tbody {
  border-top: 2px solid #ddd;
}
/*# sourceMappingURL=tables.css.map */