@import "../../include-media";
@import "../vars/vars.scss";

.map {
  height: 700px;
  position: relative;
  overflow: hidden;
  @include media("<lg") {
    height: 750px;
  }
  @include media("<md") {
    height: 860px;
  }
}
.map__card {
  position: relative;

  .card-contact {
    position: absolute;
    bottom: 50px;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
    padding: 50px;
    width: 100%;

    @include media("<xl") {
      padding: 30px 60px;
      max-width: 594px;
      left: 50%;
      transform: translate(-50%, 0px);
    }
    @include media("<md") {
      padding: 30px;
    }

    .title-1 {
      font-weight: 700 !important;
    }

    .card-contact__item {
      .title-4 {
        color: #333 !important;
      }

      [href^="tel"] {
        font-weight: 700 !important;
      }
    }
  }
}

#map {
  min-height: 700px;

  @include media("<lg") {
    height: 750px;
  }
  @include media("<md") {
    height: 860px;
  }
}

[class*="-controls-pane"] {
  display: none !important;
}
[class*="-copyrights-pane"] {
  display: none !important;
}
[class*="-ground-pane"] {
  filter: grayscale(1);
}
