.map {
  height: 700px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 991px) {
  .map {
    height: 750px;
  }
}

@media (max-width: 767px) {
  .map {
    height: 860px;
  }
}

.map__card {
  position: relative;
}

.map__card .card-contact {
  position: absolute;
  bottom: 50px;
  left: 0;
  background-color: #fff;
  border-radius: 5px;
  padding: 50px;
  width: 100%;
}

@media (max-width: 1199px) {
  .map__card .card-contact {
    padding: 30px 60px;
    max-width: 594px;
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
}

@media (max-width: 767px) {
  .map__card .card-contact {
    padding: 30px;
  }
}

.map__card .card-contact .title-1 {
  font-weight: 700 !important;
}

.map__card .card-contact .card-contact__item .title-4 {
  color: #333 !important;
}

.map__card .card-contact .card-contact__item [href^="tel"] {
  font-weight: 700 !important;
}

#map {
  min-height: 700px;
}

@media (max-width: 991px) {
  #map {
    height: 750px;
  }
}

@media (max-width: 767px) {
  #map {
    height: 860px;
  }
}

[class*="-controls-pane"] {
  display: none !important;
}

[class*="-copyrights-pane"] {
  display: none !important;
}

[class*="-ground-pane"] {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
/*# sourceMappingURL=map.css.map */