@import "../vars/vars.scss";
@import "../../include-media";

.location {
  z-index: 0;
  position: relative;
}
@include media(">md") {
  .location__info:nth-child(2) {
    padding-left: 80px;
  }
  .location__main:nth-child(2) {
    padding-top: 10px;
  }
}
.location__info {
  display: flex;
  flex-direction: column;
  .title-4 {
    max-width: 170px;
  }
}

.location__big-img {
  width: 100%;
  height: 360px;
  @include media(">md") {
    position: absolute;
    height: 860px;
    top: -350px;
    z-index: -1;
    right: 0;
  }
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(23, 26, 41, 0.3) 0%,
      rgba(23, 26, 41, 0.8) 100%
    );
  }
}

.location__title {
  margin-bottom: 40px;
  @include media(">md") {
    max-width: 650px;
    margin-bottom: 140px;
  }
}

.l-slider {
  margin-top: 220px;

  @include media("<lg") {
    margin-top: 170px;
  }

  @include media("<md") {
    margin-top: 0;
  }
}
