.location {
  z-index: 0;
  position: relative;
}

@media (min-width: 769px) {
  .location__info:nth-child(2) {
    padding-left: 80px;
  }
  .location__main:nth-child(2) {
    padding-top: 10px;
  }
}

.location__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.location__info .title-4 {
  max-width: 170px;
}

.location__big-img {
  width: 100%;
  height: 360px;
}

@media (min-width: 769px) {
  .location__big-img {
    position: absolute;
    height: 860px;
    top: -350px;
    z-index: -1;
    right: 0;
  }
}

.location__big-img::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 26, 41, 0.3)), to(rgba(23, 26, 41, 0.8)));
  background: linear-gradient(180deg, rgba(23, 26, 41, 0.3) 0%, rgba(23, 26, 41, 0.8) 100%);
}

.location__title {
  margin-bottom: 40px;
}

@media (min-width: 769px) {
  .location__title {
    max-width: 650px;
    margin-bottom: 140px;
  }
}

.l-slider {
  margin-top: 220px;
}

@media (max-width: 991px) {
  .l-slider {
    margin-top: 170px;
  }
}

@media (max-width: 767px) {
  .l-slider {
    margin-top: 0;
  }
}
/*# sourceMappingURL=location.css.map */