.intro {
  position: relative;
  height: 100vh;
}

.intro .parallax {
  top: 0;
  display: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

@media screen and (max-width: 767px) {
  .intro .parallax .parallax-item {
    height: 100%;
    width: 100%;
  }
}

.intro__photo-right {
  right: -700px;
  width: 1200px;
  height: 750px;
  top: 130px;
}

@media screen and (max-width: 1800px) {
  .intro__photo-right {
    width: 500px;
    height: 500px;
    right: -100px;
  }
}

@media screen and (max-width: 1300px) {
  .intro__photo-right {
    right: -300px;
  }
}

@media screen and (max-width: 991px) {
  .intro__photo-right {
    right: -600px;
    top: 130px;
    width: 900px;
    height: 498px;
  }
}

@media screen and (max-width: 800px) {
  .intro__photo-right {
    right: -700px;
  }
}

@media screen and (max-width: 767px) {
  .intro__photo-right {
    width: 230px;
    height: 230px;
    bottom: -10px;
    right: -10px;
    top: auto;
  }
}

@media screen and (max-width: 374px) {
  .intro__photo-right {
    display: none;
  }
}

.intro__photo-center {
  width: 263px;
  height: 170px;
  top: 50vh;
  left: 50vw;
  -webkit-filter: drop-shadow(0px 30px 37px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 30px 37px rgba(0, 0, 0, 0.1));
}

@media (max-width: 1199px) {
  .intro__photo-center {
    left: -120px;
  }
}

@media (max-width: 991px) {
  .intro__photo-center {
    top: 38vh;
  }
}

.intro__photo-left {
  width: 480px;
  height: 340px;
  top: 50vh;
  left: -250px;
}

@media screen and (max-width: 1440px) {
  .intro__photo-left {
    left: -400px;
  }
}

.intro__photo {
  position: absolute;
}

.img_active {
  opacity: 1;
}

.part {
  position: absolute;
  height: 100%;
  top: 0;
}

.part.prev {
  left: 0;
  width: 70%;
}

.part.next {
  right: 0;
  width: 30%;
}

.intro__control {
  margin: 0 0 60px 120px;
}

@media (max-width: 767px) {
  .intro__control {
    margin: 0 0 40px 0;
  }
}
/*# sourceMappingURL=intro.css.map */