.advantages .advantages__img_letter {
  position: relative;
}

.advantages .letter-element {
  height: 130px;
  width: 180px;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

@media (max-width: 991px) {
  .advantages .letter-element {
    height: 150px;
    width: 120px;
  }
}

@media (max-width: 767px) {
  .advantages .letter-element {
    left: 90%;
  }
}

.advantages .advantages__title {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .advantages .advantages__title {
    max-width: 232px;
  }
}

.advantages .advantages__title::before {
  content: "";
  display: block;
  position: absolute;
  width: 135px;
  height: 11px;
  z-index: 1;
  background-image: url("/images/icons/line.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 767px) {
  .advantages .advantages__title::before {
    width: 100px;
  }
}

@media (max-width: 767px) {
  .advantages .advantages__text {
    max-width: 232px;
  }
}

.advantages .f-col-12:first-child {
  margin-left: 100px;
}

@media (max-width: 991px) {
  .advantages .f-col-12:first-child {
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .advantages .f-col-12:first-child {
    margin-left: 0;
  }
}

.advantages .f-col-12:nth-child(10n + 2) {
  margin-left: 80px;
  margin-top: 60px;
}

.advantages .f-col-12:nth-child(10n + 2) .advantages__title::before {
  left: -150px;
  top: 10px;
}

@media (max-width: 1199px) {
  .advantages .f-col-12:nth-child(10n + 2) .advantages__title::before {
    left: -190px;
  }
}

@media (max-width: 991px) {
  .advantages .f-col-12:nth-child(10n + 2) .advantages__title::before {
    left: -135px;
  }
}

@media (max-width: 767px) {
  .advantages .f-col-12:nth-child(10n + 2) .advantages__title::before {
    top: -70px;
    left: 10px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media (max-width: 991px) {
  .advantages .f-col-12:nth-child(10n + 2) {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .advantages .f-col-12:nth-child(10n + 2) {
    margin-left: 0;
  }
  .advantages .f-col-12:nth-child(10n + 2) .advantages__text,
  .advantages .f-col-12:nth-child(10n + 2) .advantages__title {
    margin-left: 35px;
  }
}

.advantages .f-col-12:nth-child(10n + 3) {
  margin-left: 260px;
  margin-top: 150px;
}

.advantages .f-col-12:nth-child(10n + 3) .advantages__title::before {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  right: -190px;
}

@media (max-width: 1199px) {
  .advantages .f-col-12:nth-child(10n + 3) .advantages__title::before {
    right: -140px;
  }
}

@media (max-width: 767px) {
  .advantages .f-col-12:nth-child(10n + 3) .advantages__title::before {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    top: 180px;
    right: 170px;
  }
}

@media (max-width: 1199px) {
  .advantages .f-col-12:nth-child(10n + 3) {
    margin-left: 190px;
  }
}

@media (max-width: 991px) {
  .advantages .f-col-12:nth-child(10n + 3) {
    margin-left: 120px;
  }
}

@media (max-width: 767px) {
  .advantages .f-col-12:nth-child(10n + 3) {
    margin-top: 50px;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .advantages .f-col-12:nth-child(10n + 3) .advantages__text,
  .advantages .f-col-12:nth-child(10n + 3) .advantages__title {
    margin-left: 90px;
  }
}

.advantages .f-col-12:nth-child(10n + 4) {
  margin-left: 120px;
  margin-top: 80px;
}

@media (max-width: 1199px) {
  .advantages .f-col-12:nth-child(10n + 4) {
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .advantages .f-col-12:nth-child(10n + 4) {
    margin-left: 60px;
  }
}

@media (max-width: 767px) {
  .advantages .f-col-12:nth-child(10n + 4) {
    margin-top: 50px;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 575px) {
  .advantages .f-col-12:nth-child(10n + 4) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.advantages .f-col-12:nth-child(10n + 5) {
  margin-left: 100px;
  margin-top: -100px;
}

@media (max-width: 1199px) {
  .advantages .f-col-12:nth-child(10n + 5) {
    margin-top: 0px;
  }
}

@media (max-width: 991px) {
  .advantages .f-col-12:nth-child(10n + 5) {
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .advantages .f-col-12:nth-child(10n + 5) {
    margin-top: 50px;
    margin-left: 0;
  }
  .advantages .f-col-12:nth-child(10n + 5) .advantages__text,
  .advantages .f-col-12:nth-child(10n + 5) .advantages__title {
    margin-left: 35px;
  }
}

.advantages .f-col-12:nth-child(10n + 5) .advantages__title::before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 200px;
}

@media (max-width: 767px) {
  .advantages .f-col-12:nth-child(10n + 5) .advantages__title::before {
    top: 180px;
    left: 20;
  }
}

.advantages .f-col-12:nth-child(10n + 6) {
  margin-top: 100px;
}

@media (max-width: 767px) {
  .advantages .f-col-12:nth-child(10n + 6) {
    margin-top: 50px;
  }
}

.advantages .f-col-12:nth-child(10n + 7) {
  margin-top: 100px;
  margin-left: 100px;
}

@media (max-width: 991px) {
  .advantages .f-col-12:nth-child(10n + 7) {
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .advantages .f-col-12:nth-child(10n + 7) {
    margin-top: 50px;
    margin-left: 0;
  }
}

.advantages .f-col-12:nth-child(10n + 8) {
  margin-top: 300px;
  margin-left: 90px;
}

.advantages .f-col-12:nth-child(10n + 8) .advantages__title::before {
  left: -150px;
  top: 10px;
}

@media (max-width: 1199px) {
  .advantages .f-col-12:nth-child(10n + 8) .advantages__title::before {
    left: -190px;
  }
}

@media (max-width: 991px) {
  .advantages .f-col-12:nth-child(10n + 8) .advantages__title::before {
    left: -135px;
  }
}

@media (max-width: 767px) {
  .advantages .f-col-12:nth-child(10n + 8) .advantages__title::before {
    top: -70px;
    left: 10px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media (max-width: 1199px) {
  .advantages .f-col-12:nth-child(10n + 8) {
    margin-left: 50px;
    margin-top: 180px;
  }
}

@media (max-width: 767px) {
  .advantages .f-col-12:nth-child(10n + 8) {
    margin-top: 50px;
    margin-left: 0;
  }
  .advantages .f-col-12:nth-child(10n + 8) .advantages__text,
  .advantages .f-col-12:nth-child(10n + 8) .advantages__title {
    margin-left: 35px;
  }
}

.advantages .f-col-12:nth-child(10n + 9) {
  margin-top: 150px;
  margin-left: 200px;
}

@media (max-width: 1199px) {
  .advantages .f-col-12:nth-child(10n + 9) {
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .advantages .f-col-12:nth-child(10n + 9) {
    margin-left: 80px;
    margin-top: 100px;
  }
}

@media (max-width: 767px) {
  .advantages .f-col-12:nth-child(10n + 9) {
    margin-top: 50px;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .advantages .f-col-12:nth-child(10n + 9) .advantages__text,
  .advantages .f-col-12:nth-child(10n + 9) .advantages__title {
    margin-left: 90px;
  }
}

.advantages .f-col-12:nth-child(10n + 9) .advantages__title::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 7px;
  right: -190px;
}

@media (max-width: 1199px) {
  .advantages .f-col-12:nth-child(10n + 9) .advantages__title::before {
    right: -120px;
  }
}

@media (max-width: 767px) {
  .advantages .f-col-12:nth-child(10n + 9) .advantages__title::before {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    top: 210px;
    right: auto;
  }
}

.advantages .f-col-12:nth-child(10n + 10) {
  margin-top: 80px;
  margin-left: 90px;
}

@media (max-width: 1199px) {
  .advantages .f-col-12:nth-child(10n + 10) {
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .advantages .f-col-12:nth-child(10n + 10) {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .advantages .f-col-12:nth-child(10n + 10) {
    margin-top: 50px;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.advantages__img {
  height: 400px;
  width: 650px;
  position: relative;
}

@media (max-width: 1199px) {
  .advantages__img {
    height: 212px;
    width: 345px;
  }
}

@media (max-width: 767px) {
  .advantages__img {
    width: 262px;
  }
}

.advantages__img2 {
  height: 500px;
  width: 360px;
}

@media (max-width: 1199px) {
  .advantages__img2 {
    height: 306px;
    width: 220px;
  }
}

.advantages__img3 {
  height: 400px;
  width: 100%;
}

@media (max-width: 1199px) {
  .advantages__img3 {
    height: 250px;
  }
}

.advantages__img4 {
  height: 520px;
  width: 457px;
}

@media (max-width: 1199px) {
  .advantages__img4 {
    height: 320px;
    width: 280px;
  }
}

.advantages__img5 {
  height: 350px;
  width: 550px;
}

@media (max-width: 1199px) {
  .advantages__img5 {
    height: 218px;
    width: 345px;
  }
}

@media (max-width: 767px) {
  .advantages__img5 {
    width: 262px;
  }
}

.advantages__img_text {
  position: relative;
}

.advantages__img_text .text-element {
  top: -60px;
  right: 45px;
}

@media (max-width: 767px) {
  .advantages__img_text .text-element {
    right: -50px;
  }
}

.advantages__img_text-btn .text-element {
  bottom: -80px;
  left: -50px;
  top: auto;
}

@media (max-width: 767px) {
  .advantages__img_text-btn .text-element {
    left: auto;
    right: 10px;
  }
}
/*# sourceMappingURL=advantages.css.map */