@import "../vars/vars.scss";
@import "../../include-media";

.advantages {
  .advantages__img_letter {
    position: relative;
  }
  .letter-element {
    height: 130px;
    width: 180px;
    left: 50%;
    transform: translate(-50%, 0px);
    @include media("<lg") {
      height: 150px;
      width: 120px;
    }
    @include media("<md") {
      left: 90%;
    }
  }

  .advantages__title {
    margin-bottom: 15px;

    @include media("<md") {
      max-width: 232px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 135px;
      height: 11px;
      z-index: 1;
      background-image: url("/images/icons/line.svg");
      background-repeat: no-repeat;
      background-size: contain;
      @include media("<md") {
        width: 100px;
      }
    }
    // &::after {
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   width: 130px;
    //   height: 1px;
    //   background-color: $clr-main-alt;
    //   @include media("<md") {
    //     width: 100px;
    //   }
  }

  .advantages__text {
    @include media("<md") {
      max-width: 232px;
    }
  }

  .f-col-12:first-child {
    margin-left: 100px;
    @include media("<lg") {
      margin-left: 80px;
    }
    @include media("<md") {
      margin-left: 0;
    }
  }

  .f-col-12:nth-child(10n + 2) {
    margin-left: 80px;
    margin-top: 60px;
    .advantages__title {
      &::before {
        left: -150px;
        top: 10px;

        @include media("<xl") {
          left: -190px;
        }
        @include media("<lg") {
          left: -135px;
        }
        @include media("<md") {
          top: -70px;
          left: 10px;
          transform: rotate(90deg);
        }
      }
    }
    @include media("<lg") {
      margin-left: 20px;
    }
    @include media("<md") {
      margin-left: 0;
      .advantages__text,
      .advantages__title {
        margin-left: 35px;
      }
    }
  }
  .f-col-12:nth-child(10n + 3) {
    margin-left: 260px;
    margin-top: 150px;
    .advantages__title {
      &::before {
        transform: rotate(-180deg);
        right: -190px;
        @include media("<xl") {
          right: -140px;
        }
        @include media("<md") {
          transform: rotate(-90deg);
          top: 180px;
          right: 170px;
        }
      }
    }
    @include media("<xl") {
      margin-left: 190px;
    }
    @include media("<lg") {
      margin-left: 120px;
    }
    @include media("<md") {
      margin-top: 50px;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .advantages__text,
      .advantages__title {
        margin-left: 90px;
      }
    }
  }
  .f-col-12:nth-child(10n + 4) {
    margin-left: 120px;
    margin-top: 80px;
    @include media("<xl") {
      margin-left: 30px;
    }
    @include media("<lg") {
      margin-left: 60px;
    }
    @include media("<md") {
      margin-top: 50px;
      margin-left: 0;
      display: flex;
      justify-content: flex-end;
    }
    @media screen and(max-width:575px) {
      justify-content: center;
    }
  }
  .f-col-12:nth-child(10n + 5) {
    margin-left: 100px;
    margin-top: -100px;
    @include media("<xl") {
      margin-top: 0px;
    }
    @include media("<lg") {
      margin-left: 80px;
    }
    @include media("<md") {
      margin-top: 50px;

      margin-left: 0;
      .advantages__text,
      .advantages__title {
        margin-left: 35px;
      }
    }

    .advantages__title {
      &::before {
        transform: rotate(-90deg);
        top: 200px;
        @include media("<md") {
          top: 180px;
          left: 20;
        }
      }
    }
  }
  .f-col-12:nth-child(10n + 6) {
    margin-top: 100px;
    @include media("<md") {
      margin-top: 50px;
    }
  }
  .f-col-12:nth-child(10n + 7) {
    margin-top: 100px;
    margin-left: 100px;
    @include media("<lg") {
      margin-left: 80px;
    }
    @include media("<md") {
      margin-top: 50px;
      margin-left: 0;
    }
  }
  .f-col-12:nth-child(10n + 8) {
    margin-top: 300px;
    margin-left: 90px;
    .advantages__title {
      &::before {
        left: -150px;
        top: 10px;

        @include media("<xl") {
          left: -190px;
        }
        @include media("<lg") {
          left: -135px;
        }
        @include media("<md") {
          top: -70px;
          left: 10px;
          transform: rotate(90deg);
        }
      }
    }
    @include media("<xl") {
      margin-left: 50px;
      margin-top: 180px;
    }
    @include media("<md") {
      margin-top: 50px;
      margin-left: 0;
      .advantages__text,
      .advantages__title {
        margin-left: 35px;
      }
    }
  }
  .f-col-12:nth-child(10n + 9) {
    margin-top: 150px;
    margin-left: 200px;
    @include media("<xl") {
      margin-left: 100px;
    }
    @include media("<lg") {
      margin-left: 80px;
      margin-top: 100px;
    }
    @include media("<md") {
      margin-top: 50px;

      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .advantages__text,
      .advantages__title {
        margin-left: 90px;
      }
    }

    .advantages__title {
      &::before {
        transform: rotate(180deg);
        top: 7px;
        right: -190px;
        @include media("<xl") {
          right: -120px;
        }
        @include media("<md") {
          transform: rotate(-90deg);

          top: 210px;
          right: auto;
        }
      }
    }
  }
  .f-col-12:nth-child(10n + 10) {
    margin-top: 80px;
    margin-left: 90px;
    @include media("<xl") {
      margin-left: 30px;
    }
    @include media("<lg") {
      margin-left: 20px;
    }
    @include media("<md") {
      margin-top: 50px;
      margin-left: 0;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.advantages__img {
  height: 400px;
  width: 650px;
  position: relative;
  @include media("<xl") {
    height: 212px;
    width: 345px;
  }
  @include media("<md") {
    width: 262px;
  }
}
.advantages__img2 {
  height: 500px;
  width: 360px;
  @include media("<xl") {
    height: 306px;
    width: 220px;
  }
}
.advantages__img3 {
  height: 400px;
  width: 100%;
  @include media("<xl") {
    height: 250px;
  }
}
.advantages__img4 {
  height: 520px;
  width: 457px;
  @include media("<xl") {
    height: 320px;
    width: 280px;
  }
}
.advantages__img5 {
  height: 350px;
  width: 550px;
  @include media("<xl") {
    height: 218px;
    width: 345px;
  }
  @include media("<md") {
    width: 262px;
  }
}

.advantages__img_text {
  position: relative;
  .text-element {
    top: -60px;
    right: 45px;
    @include media("<md") {
      right: -50px;
    }
  }
}

.advantages__img_text-btn {
  .text-element {
    bottom: -80px;
    left: -50px;
    top: auto;
    @include media("<md") {
      left: auto;
      right: 10px;
    }
  }
}
