@import "../vars/vars.scss";
@import "../../include-media";

.card__apartment {
  max-width: 303px;
  margin-bottom: 25px;
  .card__apartment-img {
    height: 223px;
    width: 100%;

    margin-bottom: 50px;
  }
  .card__apartment-info-title {
    color: #97989f !important;
    font-size: 14px;
  }
  .card__apartment-number {
    color: #454854 !important;
  }

  .card__apartment-info:first-child {
    margin-right: 40px;
  }

  &:hover {
    .link-icon {
      .si-text {
        color: $clr-main;
      }
    }
  }
}

/*document-item*/
.document__item {
  transition: 0.2s linear;

  &:hover,
  &:active,
  &:focus {
    .title-4 {
      color: $clr-main !important;
      transition: 0.2s linear;
    }
  }
  .document__properties {
    text-transform: uppercase;
    margin-top: 5px;
  }

  .small-icon {
    align-items: self-start;
    .si-img {
      width: 46px;
      height: 46px;
      .svg-icon {
        width: 100%;
        height: 100%;
        fill: $clr-main !important;
      }
    }
  }
}

.modal-apartment {
  .modal-body {
    padding: 0 60px 60px;
    @include media("<md") {
      padding: 0 40px 40px;
    }
  }
  .card__apartment {
    max-width: 100%;
    margin-bottom: 0;

    .title-2 {
      font-size: 40px;
      margin-top: 30px;
      @include media("<md") {
        font-size: 30px;
      }
    }
    .card__apartment-img {
      height: 300px;

      margin-bottom: 0;
    }
    .card__apartment-info-title {
      color: #97989f !important;
      font-size: 14px;
    }
    .card__apartment-number {
      color: #454854 !important;
    }

    .card__apartment-info:first-child {
      margin-right: 40px;
    }

    .link-icon {
      border: 1px solid #e8e8ea;
      background-color: #fff;
      border-radius: 50px;
      .small-icon {
        .si-text {
          color: $clr-main;
        }
        .si-img {
          .svg-icon {
            fill: $clr-main;
          }
        }
      }
      &:hover {
        background-color: $clr-main;
        border-color: $clr-main;
        .small-icon {
          .si-text {
            color: #fff;
          }
          .svg-icon {
            fill: #fff !important;
          }
        }
      }
    }

    .card__apartment-change-img {
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        max-width: 60px;
      }
    }
  }
}
