.card__apartment {
  max-width: 303px;
  margin-bottom: 25px;
}

.card__apartment .card__apartment-img {
  height: 223px;
  width: 100%;
  margin-bottom: 50px;
}

.card__apartment .card__apartment-info-title {
  color: #97989f !important;
  font-size: 14px;
}

.card__apartment .card__apartment-number {
  color: #454854 !important;
}

.card__apartment .card__apartment-info:first-child {
  margin-right: 40px;
}

.card__apartment:hover .link-icon .si-text {
  color: #fe5a06;
}

/*document-item*/
.document__item {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.document__item:hover .title-4, .document__item:active .title-4, .document__item:focus .title-4 {
  color: #fe5a06 !important;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.document__item .document__properties {
  text-transform: uppercase;
  margin-top: 5px;
}

.document__item .small-icon {
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
}

.document__item .small-icon .si-img {
  width: 46px;
  height: 46px;
}

.document__item .small-icon .si-img .svg-icon {
  width: 100%;
  height: 100%;
  fill: #fe5a06 !important;
}

.modal-apartment .modal-body {
  padding: 0 60px 60px;
}

@media (max-width: 767px) {
  .modal-apartment .modal-body {
    padding: 0 40px 40px;
  }
}

.modal-apartment .card__apartment {
  max-width: 100%;
  margin-bottom: 0;
}

.modal-apartment .card__apartment .title-2 {
  font-size: 40px;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .modal-apartment .card__apartment .title-2 {
    font-size: 30px;
  }
}

.modal-apartment .card__apartment .card__apartment-img {
  height: 300px;
  margin-bottom: 0;
}

.modal-apartment .card__apartment .card__apartment-info-title {
  color: #97989f !important;
  font-size: 14px;
}

.modal-apartment .card__apartment .card__apartment-number {
  color: #454854 !important;
}

.modal-apartment .card__apartment .card__apartment-info:first-child {
  margin-right: 40px;
}

.modal-apartment .card__apartment .link-icon {
  border: 1px solid #e8e8ea;
  background-color: #fff;
  border-radius: 50px;
}

.modal-apartment .card__apartment .link-icon .small-icon .si-text {
  color: #fe5a06;
}

.modal-apartment .card__apartment .link-icon .small-icon .si-img .svg-icon {
  fill: #fe5a06;
}

.modal-apartment .card__apartment .link-icon:hover {
  background-color: #fe5a06;
  border-color: #fe5a06;
}

.modal-apartment .card__apartment .link-icon:hover .small-icon .si-text {
  color: #fff;
}

.modal-apartment .card__apartment .link-icon:hover .small-icon .svg-icon {
  fill: #fff !important;
}

.modal-apartment .card__apartment .card__apartment-change-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-apartment .card__apartment .card__apartment-change-img input {
  max-width: 60px;
}
/*# sourceMappingURL=card.css.map */