.contact h1 {
  color: #333 !important;
}

@media (min-width: 769px) {
  .contact h1 {
    margin-bottom: 50px !important;
  }
}

.contact a[href^="tel"] {
  color: #fe5a06 !important;
  font-size: 22px !important;
  font-weight: 500 !important;
}

.contact .socials .small-icon {
  background-color: #f1f3fb !important;
}

.contact .socials .small-icon .svg-icon {
  fill: #fe5a06 !important;
}

.contact .breadcrumb li {
  color: #333;
}

.contact .breadcrumb li a {
  color: #a3a3a3;
}

.contact .breadcrumb li + li::before {
  background-color: #858585;
}
/*# sourceMappingURL=contact.css.map */