@import "../blocks/vars/vars.scss";
@import "../include-media";

.contact {
  h1 {
    color: #333 !important;
    @include media(">md") {
      margin-bottom: 50px !important;
    }
  }

  a[href^="tel"] {
    color: $clr-main !important;
    font-size: 22px !important;
    font-weight: 500 !important;
  }

  .socials {
    .small-icon {
      background-color: #f1f3fb !important;
      .svg-icon {
        fill: $clr-main !important;
      }
    }
  }

  .breadcrumb {
    li {
      color: #333;
      a {
        color: #a3a3a3;
      }

      & + li {
        &::before {
          background-color: #858585;
        }
      }
    }
  }
}
