.decision-page__text {
  max-width: 750px;
}

.decision-page__items .card-decision {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px 50px 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 100%;
}

@media (min-width: 993px) {
  .decision-page__items .card-decision .card-decision_title {
    margin-top: 45px;
  }
}

.decision-page__items .card-decision .small-icon .si-img {
  width: 13px;
  height: 18px;
  position: relative;
}

.decision-page__items .card-decision .small-icon .si-img .svg-icon {
  width: 100%;
  height: 100%;
  fill: #fe5a06;
}
/*# sourceMappingURL=decision.css.map */