@import "../include-media";
@import "../blocks/vars/vars.scss";

.decision-page__text {
  max-width: 750px;
}

.decision-page__items {
  .card-decision {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 40px 50px 50px;
    justify-content: flex-start;
    max-width: 100%;

    .card-decision_title {
      @include media(">lg") {
        margin-top: 45px;
      }
    }

    .small-icon {
      .si-img {
        width: 13px;
        height: 18px;
        position: relative;
        .svg-icon {
          width: 100%;
          height: 100%;
          fill: $clr-main;
        }
      }
    }
  }
}
