@import "../vars/vars.scss";
@import "../../include-media";

.letter-element {
  position: absolute;
  height: 112px;
  width: 150px;
  @include media("<md") {
    height: 80px;
    width: 100px;
  }
}
.text-element {
  width: 130px;
  height: 130px;
  position: absolute;
  z-index: -1;
  animation: rotateElem 15s linear infinite;
}

@keyframes rotateElem {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.project {
  .project-img_letter {
    position: relative;
    .letter-element {
      left: 25px;
      top: -35px;
      @include media("<lg") {
        left: 15px;
        top: -20px;
      }
    }
  }

  .project-img_text {
    position: relative;
    z-index: 0;

    .text-element {
      top: -190px;
      right: 150px;

      @include media("<lg") {
        top: 10px;
        right: -50px;
      }
      @include media("<md") {
        top: 60px;
        right: 180px;
      }
      @include media("<sm") {
        right: 60px;
      }
    }
  }
}

.about {
  .letter-element {
    left: -350px;
    @include media("<lg") {
      left: 80px;
    }
    @include media("<lg") {
      top: 20px;
    }
  }
}
