.letter-element {
  position: absolute;
  height: 112px;
  width: 150px;
}

@media (max-width: 767px) {
  .letter-element {
    height: 80px;
    width: 100px;
  }
}

.text-element {
  width: 130px;
  height: 130px;
  position: absolute;
  z-index: -1;
  -webkit-animation: rotateElem 15s linear infinite;
          animation: rotateElem 15s linear infinite;
}

@-webkit-keyframes rotateElem {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotateElem {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.project .project-img_letter {
  position: relative;
}

.project .project-img_letter .letter-element {
  left: 25px;
  top: -35px;
}

@media (max-width: 991px) {
  .project .project-img_letter .letter-element {
    left: 15px;
    top: -20px;
  }
}

.project .project-img_text {
  position: relative;
  z-index: 0;
}

.project .project-img_text .text-element {
  top: -190px;
  right: 150px;
}

@media (max-width: 991px) {
  .project .project-img_text .text-element {
    top: 10px;
    right: -50px;
  }
}

@media (max-width: 767px) {
  .project .project-img_text .text-element {
    top: 60px;
    right: 180px;
  }
}

@media (max-width: 575px) {
  .project .project-img_text .text-element {
    right: 60px;
  }
}

.about .letter-element {
  left: -350px;
}

@media (max-width: 991px) {
  .about .letter-element {
    left: 80px;
  }
}

@media (max-width: 991px) {
  .about .letter-element {
    top: 20px;
  }
}
/*# sourceMappingURL=letter.css.map */