@import "../vars/vars.scss";
@import "../../include-media";

.project {
  .title-p {
    margin-top: 100px;

    @include media("<lg") {
      margin-top: 40px;
    }
    @include media("<md") {
      margin-top: 90px;
    }

    &::before {
      content: "";
      display: block;
      background-color: $clr-grey-dark;
      width: 165px;
      height: 1px;
      margin-bottom: 30px;
    }
  }
}

.project-img {
  height: 428px;
  width: 100%;
  @include media("<lg") {
    height: 260px;
    margin-top: 40px;
  }
  @include media("<md") {
    height: 220px;
    width: 286px;
  }
}

.project-img2 {
  height: 320px;
  margin-top: -50px;
  width: 100%;

  @include media("<lg") {
    margin-top: 170px;
    height: 200px;
  }
  @include media("<md") {
    width: 225px;
    margin-top: 30px;
  }
}

.project-img3 {
  width: 360px;
  height: 540px;
  margin-top: -100px;
  margin-right: 100px;

  @include media("<lg") {
    height: 330px;
    width: 220px;
    margin: 100px 0 0 0;
  }
  @include media("<md") {
    margin: 40px 0 0 40px;
  }
}

.pr-1 {
  @media screen and (max-width: 991px) {
    order: 1;
  }
  @media screen and (max-width: 767px) {
    order: 0;
    display: flex;
    justify-content: flex-end;
  }
}
.pr-2 {
  @media screen and (max-width: 991px) {
    order: 2;
  }
  @media screen and (max-width: 767px) {
    order: 3;
  }
}
.pr-3 {
  @media screen and (max-width: 991px) {
    order: 3;
  }
}
