.project .title-p {
  margin-top: 100px;
}

@media (max-width: 991px) {
  .project .title-p {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .project .title-p {
    margin-top: 90px;
  }
}

.project .title-p::before {
  content: "";
  display: block;
  background-color: #97989f;
  width: 165px;
  height: 1px;
  margin-bottom: 30px;
}

.project-img {
  height: 428px;
  width: 100%;
}

@media (max-width: 991px) {
  .project-img {
    height: 260px;
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .project-img {
    height: 220px;
    width: 286px;
  }
}

.project-img2 {
  height: 320px;
  margin-top: -50px;
  width: 100%;
}

@media (max-width: 991px) {
  .project-img2 {
    margin-top: 170px;
    height: 200px;
  }
}

@media (max-width: 767px) {
  .project-img2 {
    width: 225px;
    margin-top: 30px;
  }
}

.project-img3 {
  width: 360px;
  height: 540px;
  margin-top: -100px;
  margin-right: 100px;
}

@media (max-width: 991px) {
  .project-img3 {
    height: 330px;
    width: 220px;
    margin: 100px 0 0 0;
  }
}

@media (max-width: 767px) {
  .project-img3 {
    margin: 40px 0 0 40px;
  }
}

@media screen and (max-width: 991px) {
  .pr-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 767px) {
  .pr-1 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 991px) {
  .pr-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (max-width: 767px) {
  .pr-2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media screen and (max-width: 991px) {
  .pr-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
/*# sourceMappingURL=project.css.map */