.application {
  position: relative;
}

.application .ap-title {
  font-size: 24px;
  color: #fff;
  max-width: 478px;
}

.application .ap-title b {
  font-size: 40px;
}

@media (max-width: 575px) {
  .application .ap-title {
    max-width: 320px;
  }
}

.application__img {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.application__img::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #100f26;
  opacity: 0.8;
}

.application__form-title {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=application.css.map */