@import "../../include-media";
@import "../vars/vars.scss";

.application {
  position: relative;
  .ap-title {
    font-size: 24px;
    color: #fff;
    max-width: 478px;
    b {
      font-size: 40px;
    }
    @include media("<sm") {
      max-width: 320px;
    }
  }
}

.application__img {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #100f26;
    opacity: 0.8;
  }
}

.application__form-title {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba($color: #fff, $alpha: 0.6);
}
