@import "../../include-media";
@import "../vars/vars.scss";
.about {
  .about__sber {
    &:hover {
      .about__icon-text {
        opacity: 1;
      }
    }

    @include media("<lg") {
      margin-left: 60px;
    }
    @include media("<md") {
      margin-left: 0px;
    }
  }

  .about__icon {
    width: 125px;
    height: 20px;
  }

  .about__icon-text {
    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 200px;
    position: relative;
    opacity: 0;
    justify-content: center;
    align-items: center;
    &::before {
      content: "";
      display: block;
      width: 22px;
      height: 22px;
      background-color: #fff;
      position: absolute;
      transform: rotate(45deg);
      left: -10px;
      top: 40%;
    }
  }
  .about-item {
    height: 193px;
    @include media("<md") {
      height: 120px;
    }
  }
  .title-1 {
    max-width: 320px;
  }

  .title-p {
    @include media("<lg") {
      max-width: 550px;
      padding-left: 60px;
    }
    @include media("<md") {
      padding-left: 0;
    }
  }

  .ss-switch {
    position: absolute;
    right: 10px;
  }
}

.slider-hidden {
  @include media(">md") {
    overflow: hidden;
    position: relative;
    left: 0;
    //min-width: 1990px;
    .n-slider {
      position: static !important;
      .slick-slider-alt {
        position: static !important;
        overflow: visible !important;
        .slick-list .slick-track {
          min-width: 100% !important;
        }
      }
    }
  }
}
