.about .about__sber:hover .about__icon-text {
  opacity: 1;
}

@media (max-width: 991px) {
  .about .about__sber {
    margin-left: 60px;
  }
}

@media (max-width: 767px) {
  .about .about__sber {
    margin-left: 0px;
  }
}

.about .about__icon {
  width: 125px;
  height: 20px;
}

.about .about__icon-text {
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 200px;
  position: relative;
  opacity: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about__icon-text::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-color: #fff;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -10px;
  top: 40%;
}

.about .about-item {
  height: 193px;
}

@media (max-width: 767px) {
  .about .about-item {
    height: 120px;
  }
}

.about .title-1 {
  max-width: 320px;
}

@media (max-width: 991px) {
  .about .title-p {
    max-width: 550px;
    padding-left: 60px;
  }
}

@media (max-width: 767px) {
  .about .title-p {
    padding-left: 0;
  }
}

.about .ss-switch {
  position: absolute;
  right: 10px;
}

@media (min-width: 769px) {
  .slider-hidden {
    overflow: hidden;
    position: relative;
    left: 0;
  }
  .slider-hidden .n-slider {
    position: static !important;
  }
  .slider-hidden .n-slider .slick-slider-alt {
    position: static !important;
    overflow: visible !important;
  }
  .slider-hidden .n-slider .slick-slider-alt .slick-list .slick-track {
    min-width: 100% !important;
  }
}
/*# sourceMappingURL=about.css.map */