@import "../vars/vars.scss";
@import "../../include-media";

/*main-slider*/
.main-slider {
  position: relative;
  padding-top: 130px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .mss-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include media("<md") {
      min-height: 564px;
    }
  }
  .ms-slide {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 60px 0 0 0;
    @include media("<lg") {
      padding: 100px 0 0 0;
    }
    @include media("<md") {
      padding: 50px 0;
    }
    @media screen and (max-width: 374px) {
      padding: 10px;
    }
    .mss-content {
      position: relative;
      width: 100%;
      padding: 0 0 0 100px;
      margin: 0;
      max-width: 800px !important;

      @media screen and (max-width: 1200px) {
        max-width: 640px !important;
      }

      @media screen and (max-width: 992px) {
        max-width: 500px !important;
      }
      @include media("<md") {
        padding: 0;
      }

      .mssc-title {
        width: 100%;
      }
      .mssc-text {
        width: 100%;
        max-width: 550px !important;
        color: $clr-text-alt !important;
        line-height: 170% !important;
        font-size: 16px;
      }
      .mssc-subtitle {
        color: $clr-grey-dark !important;
        line-height: 170% !important;
        position: relative;
      }

      .mssc-btn {
        min-width: 196px;

        @media screen and (max-width: 374px) {
          margin-bottom: 10px;
        }
      }
    }
  }
  .ms-controls {
    @include media("<md") {
      width: 80%;
    }
    .slick-switches {
      .ss-switch {
        background: $clr-main;
        border: $clr-main;

        .svg-switch {
          .svg-icon {
            fill: #fff !important;
          }
        }
      }
    }
  }

  .ms-dots {
    .dots {
      margin-right: 40px;
      .ss-dots {
        display: flex;
      }
    }
  }
}
