/*main-slider*/
.main-slider {
  position: relative;
  padding-top: 130px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-slider .mss-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 767px) {
  .main-slider .mss-bg {
    min-height: 564px;
  }
}

.main-slider .ms-slide {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 60px 0 0 0;
}

@media (max-width: 991px) {
  .main-slider .ms-slide {
    padding: 100px 0 0 0;
  }
}

@media (max-width: 767px) {
  .main-slider .ms-slide {
    padding: 50px 0;
  }
}

@media screen and (max-width: 374px) {
  .main-slider .ms-slide {
    padding: 10px;
  }
}

.main-slider .ms-slide .mss-content {
  position: relative;
  width: 100%;
  padding: 0 0 0 100px;
  margin: 0;
  max-width: 800px !important;
}

@media screen and (max-width: 1200px) {
  .main-slider .ms-slide .mss-content {
    max-width: 640px !important;
  }
}

@media screen and (max-width: 992px) {
  .main-slider .ms-slide .mss-content {
    max-width: 500px !important;
  }
}

@media (max-width: 767px) {
  .main-slider .ms-slide .mss-content {
    padding: 0;
  }
}

.main-slider .ms-slide .mss-content .mssc-title {
  width: 100%;
}

.main-slider .ms-slide .mss-content .mssc-text {
  width: 100%;
  max-width: 550px !important;
  color: #171a29 !important;
  line-height: 170% !important;
  font-size: 16px;
}

.main-slider .ms-slide .mss-content .mssc-subtitle {
  color: #97989f !important;
  line-height: 170% !important;
  position: relative;
}

.main-slider .ms-slide .mss-content .mssc-btn {
  min-width: 196px;
}

@media screen and (max-width: 374px) {
  .main-slider .ms-slide .mss-content .mssc-btn {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .main-slider .ms-controls {
    width: 80%;
  }
}

.main-slider .ms-controls .slick-switches .ss-switch {
  background: #fe5a06;
  border: #fe5a06;
}

.main-slider .ms-controls .slick-switches .ss-switch .svg-switch .svg-icon {
  fill: #fff !important;
}

.main-slider .ms-dots .dots {
  margin-right: 40px;
}

.main-slider .ms-dots .dots .ss-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main-slider.css.map */